<script setup>
import ListNavbar from "./ListNavbar.vue";
import { computed, defineComponent, onMounted, ref } from "vue";
import { layoutStore } from "@/store/layout.store";
import logoHeaderWhite from "@/assets/image/logo/logo-header-white.svg";
import logoHeaderBlack from "@/assets/image/logo/logo-header-black.svg";
import IconMess from "@/assets/image/icon/homepage/mess.png";
import Question from "../modal/Question.vue";
import { useWindowSize } from "@vueuse/core";

const { width, height } = useWindowSize();
const store = layoutStore();

const data = computed(() => {
  let result = null;
  switch (store.backgroundColor) {
    case "white":
      result = {
        logo: logoHeaderBlack,
        bg: "#fffffff5",
        colorText: "text-[#101010]",
        colorHoverText: "group-hover:text-[#113E6C]",
        colorActiveText: "text-[#113E6C]",
        colorText2: "text-[#707070]",
        colorHoverText2: "hover:text-[#707070]",
        fontWeightText2: "hover:font-[500]",
        fontWeightHoverText2: "hover:font-[700]",
        border: true,
      };
      break;
    default:
      result = {
        logo: logoHeaderWhite,
        bg: "transparent",
        colorText: "text-[#FFFFFF]",
        colorHoverText: "group-hover:text-[#59ACFF]",
        colorActiveText: "text-[#59ACFF]",
        colorText2: "text-[#FFFFFF]",
        colorHoverText2: "hover:text-[#A6D2FF]",
      };
      break;
  }
  return result;
});
const yScreen = ref(0);
const statusScroll = computed(() => {
  return yScreen.value > 10 ? true : false;
});
const btnComputed = computed(() => {
  return statusScroll.value
    ? `  <div class="flex gap-3 py-[1rem] px-[1rem]">
            <img src="${IconMess}" alt="icon-mess">
            <span class="font-[700] text-[1.25rem]">문의하기</span>
          </div>`
    : "문의하기";
});

const _updateScrollPosition = () => {
  yScreen.value = window.scrollY || window.pageYOffset;
};

onMounted(() => {
  _updateScrollPosition();

  window.addEventListener("scroll", _updateScrollPosition);
  store.setBackgroundColor(null);
  store.setIsNeedToChangeBg(null);
});

onBeforeUnmount(() => {
  window.removeEventListener("scroll", _updateScrollPosition);
});

watch(
  () => yScreen.value,
  () => {
    if (store.isNeedToChangeBg) {
      store.setBackgroundColor("white");
      return;
    }
    statusScroll.value
      ? store.setBackgroundColor("white")
      : store.setBackgroundColor(null);
  }
);
</script>
<template>
  <header :class="`${data ? `${statusScroll ? 'border-y' : ''}  border-[#0000001A]` : ''}`">
    <div class="left-0 z-50 right-0 top-0 hidden md:fixed md:inline-block">
      <div
        :class="!statusScroll ? 'gap-x-[4.375rem]' : 'gap-x-[2.5rem]'"
        class="flex items-center h-[7.5rem] container mx-auto justify-between bg-transparent"
      >
        <div
          :class="
            statusScroll
              ? 'bg-[#ffffffd6] shadow-xl h-[8rem] px-[3.75rem] rounded-[20px]'
              : ''
          "
          class="flex items-center w-full justify-between"
        >
          <div class="flex items-center">
            <NuxtLink to="/">
              <div class="xl:h-[3.125rem] xl:w-[7.688rem]">
                <img
                  preload
                  loading="lazy"
                  :src="data.logo"
                  class="h-full w-full object-cover"
                  alt="logo"
                />
              </div>
            </NuxtLink>
          </div>
          <ListNavbar :dataStore="data" />
        </div>
        <Question
          :titleBtn="btnComputed"
          :yScreen="statusScroll"
          class="rounded-lg text-white font-[700] text-[1.25rem]"
        />
      </div>
    </div>
  </header>
</template>
