<script setup>
import DesktopHeader from "@/components/header/DesktopHeader.vue";
import MobileHeader from "@/components/header/MobileHeader.vue";

import { useWindowSize } from "@vueuse/core";

const { width, height } = useWindowSize();

</script>
<template>
  <DesktopHeader v-if="width > 768" />
  <MobileHeader v-if="width < 768" />
</template>
