<script setup>
import PrimaryButton from "../button/PrimaryButton.vue";
import { layoutStore } from "@/store/layout.store";

const store = layoutStore();
const indexShowListLi = ref(false);
const router = useRouter();

const props = defineProps({
  dataStore: Object,
});

const handleShowListLi = (index) => {
  if (indexShowListLi.value === index || index === null) {
    indexShowListLi.value = null;
    return;
  }
  indexShowListLi.value = index;
};
</script>
<template>
  <div class="">
    <ul
      :class="`text-[${dataStore.colorText}]`"
      class="flex items-center gap-x-[4.25rem] text-[1.25rem] font-bold"
    >
      <li
        v-for="(item, index) in store.dataNavBar"
        :key="item.id"
        class="relative h-full group"
      >
        <span
          @click="() => handleShowListLi(index)"
          :class="`${dataStore.colorHoverText}  ${
            index === indexShowListLi
              ? `${dataStore.colorActiveText}`
              : `${dataStore.colorText}`
          }`"
          class="h-full cursor-pointer transition-colors"
          :onMouseOver="() => handleShowListLi(index)"
          :onMouseOut="() => handleShowListLi(null)"
        >
          {{ item.nameKr }}
        </span>
        <div
          :style="`${
            index === indexShowListLi ? 'display: block !important;' : 'none'
          }`"
          class="absolute top-[1rem] left-1/2 hidden w-max -translate-x-1/2 py-[1rem]"
          :class="`${
            typeof indexShowListLi === 'number' ? '' : 'group-hover:block'
          }`"
        >
          <div class="flex w-full items-center justify-between gap-x-[1.25rem]">
            <NuxtLink
              v-for="link in item.linkChild"
              :key="link.id"
              :to="link.route"
              class="w-fit text-[1.125rem] font-medium"
              :class="`${dataStore.colorHoverText2} ${dataStore.colorText2} ${dataStore?.fontWeightText2} ${dataStore?.fontWeightHoverText2}`"
            >
              <span class="h-full cursor-pointer transition-colors">
                {{ link.name }}
              </span>
            </NuxtLink>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>
<style scoped>
.text {
  mix-blend-mode: color-burn;
}
.group:hover .group-hover\:colorHoverText {
  --tw-text-opacity: 1;
  color: rgb(127 29 29 / var(--tw-text-opacity));
}
</style>
