<script setup>
import { ref, watch } from "vue";
import { layoutStore } from "@/store/layout.store";
import { questionStore } from "@/store/question.store";
import logoHeaderWhite from "@/assets/image/logo/logo-header-white.svg";
import logoHeaderBlack from "@/assets/image/logo/logo-header-black.svg";
import Question from "../modal/Question.vue";

const store = layoutStore();
const useQuestionStore = questionStore();
const route = useRoute();

const statusOpenMenu = ref(null);
const indexMenu = ref(null);
const yScreen = ref(0);

const statusScroll = computed(() => {
  return yScreen.value > 10 ? true : false;
});
const data = computed(() => {
  let result = null;
  switch (store.backgroundColor) {
    case "white":
      result = {
        logo: logoHeaderBlack,
        bg: "bg-white",
        colorText: "#101010",
        colorHoverText: "#113E6C",
        colorText2: "#707070",
        colorHoverText2: "#707070",
        fontWeightText2: "500",
        fontWeightHoverText2: "700",
        status: "black",
        border: true,
      };
      break;
    default:
      result = {
        logo: logoHeaderWhite,
        bg: "bg-transparent",
        colorText: "#FFFFFF",
        colorHoverText: "#59ACFF",
        colorText2: "#FFFFFF",
        colorHoverText2: "#A6D2FF",
        status: "white",
      };
      break;
  }
  return result;
});

const handleShowMenu = (status) => {
  if (status) {
    statusOpenMenu.value = false;
    return;
  }
  statusOpenMenu.value = !statusOpenMenu.value;
  if (statusOpenMenu.value) {
    store.setBackgroundColor("white");
  } else {
    if (store.isNeedToChangeBg) {
      store.setBackgroundColor("white");
      return;
    }
    store.setBackgroundColor(null);
    indexMenu.value = null;
  }
};
const handleOpenSubMenu = (index) => {
  if (index === indexMenu.value) {
    indexMenu.value = null;
    return;
  }
  indexMenu.value = index;
};

const _updateScrollPosition = () => {
  yScreen.value = window.scrollY || window.pageYOffset;
};

onMounted(() => {
  _updateScrollPosition();

  window.addEventListener("scroll", _updateScrollPosition);
});

onBeforeUnmount(() => {
  window.removeEventListener("scroll", _updateScrollPosition);
});

watch(
  () => yScreen.value,
  () => {
    if (store.isNeedToChangeBg) {
      store.setBackgroundColor("white");
      return;
    }
    statusScroll.value
      ? store.setBackgroundColor("white")
      : store.setBackgroundColor(null);
  }
);

watch(
  () => useQuestionStore.statusSubmitForm,
  () => {
    statusOpenMenu.value = false;
  }
);

// watch(
//   () => store.isHeaderMobile,
//   () => {
//     handleShowMenu(true);
//   }
// );
</script>
<template>
  <div
    :class="statusOpenMenu ? 'bg-white' : 'bg-transparent'"
    class="fixed left-0 right-0 top-0 z-50 h-[5.625rem] md:hidden"
  >
    <div
      :class="`${data.border ? 'border-b border-[#0000001A]' : ''}`"
      class="relative flex h-full w-full items-center justify-between px-[1.25rem]"
    >
      <div
        :class="` ${
          statusScroll && !statusOpenMenu
            ? 'bg-[#989898] rounded-lg py-[0.8rem] px-[0.75rem]'
            : ''
        }`"
        class=""
      >
        <NuxtLink @click="() => handleShowMenu(true)" to="/">
          <img
            preload
            loading="lazy"
            class="h-[30px] w-[76px] object-contain"
            :src="data.logo"
            alt="logo"
          />
        </NuxtLink>
      </div>
      <i
        @click="() => handleShowMenu(false)"
        v-if="!statusOpenMenu"
        :class="`${data.status === 'white' ? 'text-white' : 'text-black'} ${
          statusScroll
            ? ' bg-[#FFFFFF99] p-[0.875rem] rounded-lg'
            : 'text-1white'
        }`"
        class="fa-solid fa-bars text-[1.6rem]"
      ></i>
      <i
        v-else
        @click="() => handleShowMenu(false)"
        :class="`${data.status === 'white' ? 'text-white' : 'text-black'} ${
          statusScroll
            ? ' bg-[#FFFFFF99] p-[0.875rem] rounded-lg'
            : 'tex1-white'
        }`"
        class="fa-solid fa-xmark text-[1.6rem]"
      ></i>
    </div>
    <div
      v-show="statusOpenMenu"
      class="bg- fixed bottom-0 left-0 right-0 top-[5.6rem] z-50 border-t border-[#D3D3D3] bg-white"
    >
      <div
        v-for="(item, index) in store.dataNavBar"
        :key="item.id"
        class="flex h-auto min-h-[4.125rem] flex-col items-center justify-center border-y border-[#F1F1F1] px-[1.25rem] py-[1.125rem]"
      >
        <div
          @click="() => handleOpenSubMenu(index)"
          class="flex h-full w-full items-center justify-between"
        >
          <p class="text-[1.25rem] font-bold text-[#333333]">
            {{ item.nameKr }}
          </p>
          <i
            :class="index === indexMenu ? 'rotate-180' : ''"
            class="fa-solid fa-angle-down"
          ></i>
        </div>
        <ul class="flex w-full flex-col">
          <li
            class="py-[0.6rem]"
            :class="index === indexMenu ? 'pb-0' : ''"
            v-show="index === indexMenu"
            v-for="link in item?.linkChild"
            :key="link.id"
          >
            <NuxtLink
              @click="() => handleShowMenu(false)"
              :to="link.route"
              class="w-fit text-[1.125rem] font-medium text-black"
            >
              {{ link.name }}
            </NuxtLink>
          </li>
        </ul>
      </div>
      <Question
        :hasSlot="true"
        class="rounded-lg text-white border-b px-[1.25rem] py-[1.125rem] border-[#F1F1F1] font-[700] bg-white text-[1.25rem]"
      >
        <p class="text-[1.25rem] font-bold text-[#3398FF] w-full">문의하기</p>
      </Question>
    </div>
  </div>
</template>
