<template>
  <div>
    <ul class="flex items-center justify-center md:gap-[18px] gap-[8px]">
      <li
          class="flex items-center justify-center md:w-[48px] w-[24px] md:h-[48px] h-[24px] cursor-pointer border-[1px] border-[#EFEFEF]"
          @click="changePage(1)"
      >
<!--        <img src="../assets/img/panigation/btn-first.svg" alt="" />-->
        <svg class="w-full" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="48" y="48" width="48" height="48" rx="8" transform="rotate(-180 48 48)" fill="#113E6C"/>
          <path d="M23.9995 16L15.9995 24L23.9995 32M32 16L24 24L32 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

      </li>
      <li
          class="flex items-center justify-center md:w-[48px] w-[24px] md:h-[48px] h-[24px] mr-[20px] cursor-pointer border-[1px] border-[#EFEFEF]"
          @click="changePage(currentPage - 1)"
      >
<!--        <img src="../assets/img/panigation/prev.svg" alt="" />-->
        <svg class="w-full" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="48" y="48" width="48" height="48" rx="8" transform="rotate(-180 48 48)" fill="#113E6C"/>
          <path d="M28 16L20 24L28 32" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </li>
      <li
          class="md:!text-[28px] h-[46px] text-base  flex justify-center items-center cursor-pointer"
          :class="
          currentPage === pageNumber
            ? 'text-[#113E6C] font-[700]'
            : 'text-[#B2B2B2] font-[500]'
        "
          v-for="pageNumber in visiblePages"
          :key="pageNumber"
          @click="changePage(pageNumber)"
      >
        {{ pageNumber }}
      </li>
      <li
          class="flex items-center justify-center md:w-[48px] w-[24px] md:h-[48px] h-[24px] cursor-pointer ml-[20px] border-[1px] border-[#EFEFEF]"
          @click="changePage(currentPage + 1)"
      >
<!--        <img src="../assets/img/panigation/next.svg" alt="" />-->
        <svg class="w-full" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="48" height="48" rx="8" fill="#113E6C"/>
          <path d="M20 32L28 24L20 16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </li>
      <li
          class="flex items-center justify-center md:w-[48px] w-[24px] md:h-[48px] h-[24px] cursor-pointer border-[1px] border-[#EFEFEF]"
          @click="changePage(totalPages)"
      >
<!--        <img src="../assets/img/panigation/btn-last.svg" alt="" />-->
        <svg class="w-full" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="48" height="48" rx="8" fill="#113E6C"/>
          <path d="M24.0005 32L32.0005 24L24.0005 16M16 32L24 24L16 16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

      </li>
    </ul>
  </div>
</template>

<script setup>
import { ref, computed } from "vue";

const props = defineProps({
  totalPages: { type: Number, required: true },
  currentPage: { type: Number, required: true },
});
const emit = defineEmits(["pageChanged"]);

const visiblePages = computed(() => {
  const pages = [];
  const startPage = Math.max(1, props.currentPage - 3);
  const endPage = Math.min(props.totalPages, startPage + 5);
  if (startPage > 1) {
    pages.push(1);
    if (startPage > 2) {
      pages.push("...");
    }
  }
  for (let i = startPage; i <= endPage; i++) {
    pages.push(i);
  }
  if (endPage < props.totalPages) {
    if (endPage < props.totalPages - 2) {
      pages.push("...");
    }
    pages.push(props.totalPages);
  }
  return pages;
});

function changePage(page) {
  if (page >= 1 && page <= props.totalPages) {
    emit("pageChanged", page);
  }
}
</script>