<template>
  <swiper
    :direction="'vertical'"
    :slidesPerView="1"
    :spaceBetween="30"
    :autoplay="{
      delay: 3000,
      disableOnInteraction: false,
    }"
    :rewind="true"
    :autoHeight="true"
    :mousewheel="true"
    :pagination="{
      clickable: true,
    }"
    :lazy="true"
    :modules="[Mousewheel, Pagination, Autoplay]"
    @slideChange="onSlideChange"
  >
    <swiper-slide v-for="item in data" :key="item.id">
      <div class="mb-[6.25rem]">
        <p class="mb-[1.25rem] text-[1.75rem] font-medium text-[#FFFFFF]">
          {{ item.title }} 
        </p>
        <div class="text-[3.5rem] font-bold" v-html="item.desc"></div>
      </div>
      <NuxtLink :to="item.linkBtn">
        <PrimaryButton
          class="h-[5.25rem] w-[19rem] rounded-[20px] text-[2rem] font-bold"
          :title="item.titleBtn"
        />
      </NuxtLink>
    </swiper-slide>
  </swiper>
</template>
<script setup>
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css/pagination";
import { Mousewheel, Pagination, Autoplay } from "swiper/modules";
import "swiper/css";
import PrimaryButton from "../button/PrimaryButton.vue";
import { layoutStore } from "@/store/layout.store";

const store = layoutStore();
const props = defineProps({
  data: Object,
});
const onSlideChange = ({ activeIndex }) => {
  store.setIndexBanner(activeIndex);
};
</script>
<style scoped>
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:deep(.swiper-pagination-bullet) {
  height: 82px;
  width: 8px;
  border-radius: 6px;
  background: #ffffff;
}
</style>
