<template>
  <swiper
    :slidesPerView="1"
    :spaceBetween="30"
    :mousewheel="true"
    :pagination="{
      clickable: true,
    }"
    :autoplay="{
      delay: 3000,
      disableOnInteraction: false,
    }"
    :loop="true"
    :modules="[Mousewheel, Pagination, Autoplay]"
    @slideChange="onSlideChange"
  >
    <swiper-slide v-for="item in data" :key="item.id">
      <div class="mb-[2.5rem]">
        <p class="mb-[1.25rem] text-[1rem] font-medium text-[#FFFFFF]">
          {{ item.title }}
        </p>
        <div class="text-[1.625rem] font-bold" v-html="item.desc"></div>
      </div>
      <NuxtLink :to="item.linkBtn">
        <PrimaryButton
          class="rounded-[8px] px-[2rem] py-[0.75rem] text-[1rem] font-bold"
          :title="item.titleBtn"
        />
      </NuxtLink>
    </swiper-slide>
  </swiper>
</template>
<script setup>
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css/pagination";
import { Mousewheel, Pagination, Autoplay } from "swiper/modules";
import "swiper/css";
import PrimaryButton from "../button/PrimaryButton.vue";
import { layoutStore } from "@/store/layout.store";

const store = layoutStore();
const props = defineProps({
  data: Object,
});
const onSlideChange = ({ activeIndex }) => {
  store.setIndexBanner(activeIndex);
};
</script>
<style scoped>
.swiper {
  width: 100%;
  height: 100%;
  min-height: 15rem;
}

.swiper-slide {
  padding-top: 2rem;
  font-size: 18px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
:deep(.swiper-pagination-bullet.swiper-pagination-bullet-active) {
  background-color: white;
}
:deep(.swiper-pagination-bullet) {
  background: #ffffff66;
  width: 6px;
  height: 6px;
}
:deep(
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal
  ) {
  height: fit-content;
  width: fit-content;
  top: 0;
}
</style>
