<template>
  <swiper
    class="mt-[20px] md:mt-0"
    :slidesPerView="2"
    :spaceBetween="12"
    :mousewheel="true"
    :pagination="{
      clickable: true,
    }"
    :initialSlide="initialSlide"
    :modules="[Mousewheel, Pagination]"
    :breakpoints="{
      '1440': {
        slidesPerView: 4,
        spaceBetween: 40,
        slidesPerGroup: 1,
      },
    }"
  >
    <swiper-slide v-for="(item, index) in data" :key="index">
      <NuxtLink
        :to="`/article-detail/${item.id}?type=service`"
        class="w-full"
        :key="indexServiceDto"
        :class="[
          indexServiceDto > 1 ? 'hidden lg:block' : '',
          indexServiceDto > 2 ? 'hidden lg:block' : '',
          indexServiceDto > 3 ? 'lg:hidden' : '',
        ]"
      >
        <div class="md:w-full h-[96px] md:h-[200px]">
          <img
            class="w-full h-full object-cover overflow-hidden rounded-[15px]"
            :src="item.pathFile ? item.pathFile : logo"
            alt="pathFile"
          />
        </div>
        <div>
          <h6
            class="xl:text-[24px] md:text-[18px] text-[16px] xl:leading-[36px] md:leading-[28px] leading-[24px] font-[700] md:mt-[20px] mt-[16px]"
          >
            {{ item.name }}
          </h6>
          <span
            class="xl:text-[20px] md:text-[18px] text-[14px] xl:leading-[30px] md:leading-[28px] text-[#707070] leading-[20px] font-[500]"
            >{{ item.content }}</span
          >
        </div>
      </NuxtLink>
    </swiper-slide>
  </swiper>
</template>
<script setup>
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css/pagination";
import { Mousewheel, Pagination } from "swiper/modules";
import "swiper/css";
import logo from "@/assets/image/logo/primary-logo.png";

const props = defineProps({
  data: Object,
  initialSlide: {
    default: 0,
    type: Number,
  },
});
</script>
<style scoped>
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: auto;
}
:deep(.swiper-pagination) {
  display: none;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}
</style>
