<template>
  <swiper
    :slidesPerView="'auto'"
    :spaceBetween="12"
    :mousewheel="true"
    :pagination="{
      clickable: true,
    }"
    :initialSlide="initialSlide"
    :modules="[Mousewheel, Pagination]"
    :breakpoints="{
      '1024': {
        spaceBetween: 40,
      },
    }"
  >
    <swiper-slide v-for="item in data" :key="item.id">
      <div
        class="w-[15rem] h-[14.375rem] rounded-[10px] bg-white p-[1.25rem] md:h-[13rem] md:w-[38rem] md:p-[2.25rem]"
      >
        <div
          class="flex h-full w-full flex-col items-center justify-around gap-[2.188rem] md:flex-row"
        >
          <div
            class="min-h-[4.375rem] min-w-[9.625rem] flex items-center justify-center md:mb-0 lg:min-h-[6.5rem]"
          >
            <img class="aspect-square object-scale-down" :src="item.img" alt="logo-branch" loading="lazy"/>
          </div>
          <div class="space-y-1 text-[0.875rem] font-bold md:text-[1.5rem]">
            <h4 class="text-[#B2B2B2]">
              {{ item.title ?? "브랜드명 | 고객명" }}
            </h4>
            <p class="text-[#5C5C5C]">
              {{ item.desc ?? "핵심 내용을 한 줄 요약하여 입력하세요." }}
            </p>
            <p
              class="text-[0.75rem] line-clamp-3 font-medium text-[#5C5C5C] md:text-[1.25rem]"
            >
              {{
                item.content
              }}
            </p>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper>
</template>
<script setup>
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css/pagination";
import { Mousewheel, Pagination } from "swiper/modules";
import "swiper/css";

const props = defineProps({
  data: Object,
  initialSlide: {
    default: 0,
    type: Number,
  },
});
</script>
<style scoped>
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: auto;
}
:deep(.swiper-pagination) {
  display: none;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}
</style>
