<script setup>
import DotWave from "@/components/loader/DotWave.vue";
import { layoutStore } from "@/store/layout.store";

const store = layoutStore();
</script>

<template>
  <NuxtLayout>
    <NuxtPage />
    <DotWave v-if="store.statusLoading" />
  </NuxtLayout>
</template>
<style>
@font-face {
  font-family: "Pretendard Variable";
  src: local("Pretendard Variable"),
    url("./assets/font/Pretendard_Font/Pretendard_Font/public/variable/PretendardVariable.ttf")
      format("truetype");
  font-display: swap;
}

html,
body {
  font-family: "Pretendard Variable", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  background: white;
}

html {
  scroll-behavior: smooth;
}
</style>
