<template>
  <div class="pt-[5.438rem] md:pt-[7.5rem]">
    <MainBannerClient :data="dataBanner"/>
    <CardInfomationService :data="dataCartInfo" />
    <CardProcessService :data="dataCardProcess" :uid="3"/>
    <ClientService :data="data" />
    <CardContactService :data="dataContact" :uid="3"/>
  </div>
</template>

<script setup lang="ts">
import {ref} from "vue";
import img1 from "@/assets/image/service-card/Vector (1).png"
import imgBanner from "assets/image/partner-client/Frame.png"
import imgBannerMb from "assets/image/partner-client/Vector.png"
import CardImg from "@/assets/image/service-card/card.svg"
import IconSearch from "@/assets/image/service-card/search.svg"
import { layoutStore } from "@/store/layout.store";
import BannerMatching from "@/assets/image/service-card/banner-matching.png"
import IconCheck from "@/assets/image/service-card/icon-check.svg"
import IconDocument from "@/assets/image/service-card/icon-document.svg"
import IconSupport from "@/assets/image/service-card/icon-support.svg"
import Matching1 from "@/assets/image/service-card/matching1.svg"
import Matching2 from "@/assets/image/service-card/matching2.svg"
import Matching3 from "@/assets/image/service-card/matching3.svg"
import KakaoTalkPhoto from "@/assets/image/service-card/kakao-talk-photo.svg"

import Bpo9 from "@/assets/image/bpo/bpo9.png"
import Bpo10 from "@/assets/image/bpo/bpo10.png"
import Bpo11 from "@/assets/image/bpo/bpo11.png"
import Bpo12 from "@/assets/image/bpo/bpo12.png"

const store = layoutStore();

const dataBanner = ref({
  img: BannerMatching,
  imgMb: BannerMatching,
  title: "한국 화장품 브랜드 및 제조사의 글로벌 진출 첫걸음을 함께 합니다.",
  text: "글로벌 진출 첫 걸음부터 시장 확장까지 지원하는\n" +
      "매칭형 Business Process Outsourcing."
})

const dataCardProcess = ref({
  title: "카드형 BPO",
  title2: "카드 한 장으로 간편한 관리가 가능합니다.",
  dataStepNoButton: [
    {
      icon: IconSearch,
      text: "바이어 발굴\n" +
          "및 선별",
    },
    {
      icon: IconCheck,
      text: "각종 통관 및\n" +
          "인허가 결제 서류 작성",
    },
    {
      icon: IconDocument,
      text: "제품 주문 및 품질 관리\n" +
          "물류 및 배송 조정",
    },
    {
      icon: IconSupport,
      text: "결제·금융관리 및\n" +
          "고객 서비스 지원",
    },
  ],
  dataStepButton: {

  },
  isShow: "dataStepNoButton",
  textBtn: "매칭형 BPO 문의하기",
})

const dataCartInfo = ref({
  img1: Matching1,
  title1:"해외 시장 조사 및 계획 ",
  content1: "엠에스커뮤니케이션은 20여년간의 해외 영업 경험을 바탕으로 해외 현지의 시장별 특성과 소비자의 소비 형태를 분석합니다. 각 바이어의 요구와 니즈에 최적화된 상품 소싱을 지원합니다. ",
  img2: Matching2,
  title2:"수출입 업무 대행",
  content2: "대륙 및 국가별로 상이한 화장품 인허가 업무 및 제품 수출입 규제에 맞는 서류 절차를 대행합니다. 시장별 규제 사항에 맞는 적법한 절차를 신속하게 처리합니다. ",
  img3: Matching3,
  title3:"유통 관리 시스템",
  content3: "각 국가별 유통/물류 협력업체와 함께 원하는 해외 시장으로 안전한 제품 배송을 책임집니다. 고객사가 원하는 시간에 제품을 수령하고 유통 시스템을 원활하게 이용할 수 있는 시스템을 지원합니다.",
})

const data = ref({
  bgColorItem: "#FFFFFF",
  bgColor: "#F1F1F1",
  title: "컨설팅형 BPO",
  data: [
    {
      img: Bpo9,
      title: "비즈큐브솔루션",
      content: "카드형 BPO로 AWS의 할인\n" +
          "혜택 및 기술지원 등의 추가\n" +
          "활용을 통한 고정비 절감 및\n" +
          "개발 시간 단축",
      img2: KakaoTalkPhoto,
    },
    {
      img: Bpo10,
      title: "비즈큐브솔루션",
      content: "카드형 BPO로 AWS의 할인\n" +
          "혜택 및 기술지원 등의 추가\n" +
          "활용을 통한 고정비 절감 및\n" +
          "개발 시간 단축",
      img2: KakaoTalkPhoto
    },
    {
      img: Bpo11,
      title: "비즈큐브솔루션",
      content: "카드형 BPO로 AWS의 할인\n" +
          "혜택 및 기술지원 등의 추가\n" +
          "활용을 통한 고정비 절감 및\n" +
          "개발 시간 단축",
      img2: KakaoTalkPhoto
    },
    {
      img: Bpo12,
      title: "비즈큐브솔루션",
      content: "카드형 BPO로 AWS의 할인\n" +
          "혜택 및 기술지원 등의 추가\n" +
          "활용을 통한 고정비 절감 및\n" +
          "개발 시간 단축",
      img2: KakaoTalkPhoto
    },
  ]
})

const dataContact = ref({
  bgColor: "#FFFFFF",
  title: "지금 카드형 BPO 서비스 무료 상담을 하고\n" +
      "복잡한 월간 비용 처리를 단순화하세요."
})


onMounted(async () => {
  store.setBackgroundColor("white");
  store.setIsNeedToChangeBg(true);
});
</script>

<style scoped>

</style>