<template>
  <div>
    <ListDocument type="document" title="보도자료" />
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "custom",
});

const countries = ["United States", "Canada", "Mexico"];

</script>

<style scoped>

</style>