<script setup>
import {onMounted, ref, watch} from "vue";
const styleButton = ref()
const props = defineProps({
  title: String,
  width: Number,
  bgColor: String,
  textColor: String,
})
onMounted(()=>{
  styleButton.value = {backgroundColor: props.bgColor, color: props.textColor}
})

watch(props, ()=>{
  styleButton.value = {backgroundColor: props.bgColor, color: props.textColor}
})
</script>
<template>
  <button class="w-full max-w-[300px] rounded-[39px] xl:text-[28px] md:text-[22px] text-[12px] font-[500] xl:leading-[42px] md:leading-[32px] leading-[17px] xl:px-[40px]  xl:py-[17px] py-[11px]" :style="styleButton">
    {{ title }}
  </button>
</template>