<script setup>
const props = defineProps({
  title: String,
  width: Number,
  noNeedBg: Boolean,
  needFull: Boolean,
});
</script>
<template>
  <button
    v-html="title"
    :class="`${noNeedBg ? 'text-black' : 'bg-[#59ACFF]'} ${
      needFull
        ? 'w-full flex items-center justify-center py-[0.813rem]'
        : 'py-[1rem] px-[1.875rem] w-max'
    }`"
    class="hover:opacity-80 transition-opacity"
  ></button>
</template>
