<template>
  <div>
    <FormAddDocument type="blog" />
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  layout: "custom",
});

const countries = ["United States", "Canada", "Mexico"];
const country = ref(countries[0]);
const page = ref(1)
const items = ref(55)
const fileImage = ref()
const previewImage = ref("")
const selected = ref(false)
const handleChangeImage = ( e )=>{
  fileImage.value = e.target.files[0]
  previewImage.value = URL.createObjectURL(fileImage.value)
}



// watch(fileImage.value, ()=>{
//
//   console.log(previewImage.value)
// })
</script>

<style scoped>

</style>