<script setup>
import * as Yup from "yup";
import { ErrorMessage, Field, Form, useForm } from "vee-validate";
import { questionStore } from "@/store/question.store";
import DropDown from "../dropdown/index.vue";
import { useClient } from "~/composables/repositories/useClient";
import { layoutStore } from "@/store/layout.store";
import Policy from "../modal/Policy.vue";
import question from "@/assets/json/question";

const store = questionStore();
const storeLayout = layoutStore();

const status = ref();
const dataSubmitForm = ref({
  companyName: null,
  contact: null,
  contactInformation: null,
  email: null,
  additional: null,
  requireRule: null,
  businessStage: null,
  positionUser: null,
});
const dataBusinessStage = ref([
  { id: 123123123, name: "예비 창업 단계", value: null, required: true },
  { id: 123123123, name: "예비 창업단계", value: "예비 창업단계" },
  { id: 12312312, name: "초기 창업단계", value: "초기 창업단계" },
  {
    id: 1231233,
    name: "중소/중견 (시리즈A 투자 이전)",
    value: "중소/중견 (시리즈A 투자 이전)",
  },
  { id: 1231123, name: "기타", value: "기타" },
]);
const isHaveDropOrNot = computed(() => {
  return store.valueSelectedQuestion !== 2 ? false : true;
});

const schema = Yup.object({
  companyName: Yup.string().required("회사명을 확인해 주세요."),
  positionUser: Yup.string().required("직함 정보를 확인해 주세요."),
  contact: Yup.string().required("성함 정보를 확인해 주세요."),
  contactInformation: Yup.string().required("담당자 연락처를  확인해 주세요."),
  email: Yup.string().required("이메일 정보를 확인해 주세요."),
  requireRule: Yup.string().required("requireRule."),
  businessStage: Yup.string()
    .test("check-length", "", function (value) {
      if (!isHaveDropOrNot.value) {
        return true;
      }
      if (!value) {
        throw this.createError({
          path: "businessStage",
          message: `비즈니스 단계를 설정해 주세요.`,
        });
      }
      return true;
    })
    .nullable(),
});

const handleGoBack = () => {
  store.setStepQuestion(0);
};

const handleGetValue = (child) => {
  dataSubmitForm.value.businessStage = child;
};

const onSubmit = async () => {
  try {
    store.setStatusLoading(true);

    const payload = {
      serviceCategoryId: store.valueSelectedQuestion,
      nameCompany: dataSubmitForm.value.companyName,
      name: dataSubmitForm.value.contact,
      position: dataSubmitForm.value.positionUser,
      phoneNumber: dataSubmitForm.value.contactInformation,
      email: dataSubmitForm.value.email,
      business: dataSubmitForm.value.businessStage,
      title: dataSubmitForm.value.additional,
      serviceName: store.additionalInquiriesContent
        .map((item) => item.content)
        .join(","),
    };
    const reps = await useClient.sendQuestion(payload);
    store.setStepQuestion(2);
  } catch (e) {
  } finally {
    store.setStatusLoading(false);
  }
};

watch(dataSubmitForm.value, async () => {
  try {
    await schema.validate(dataSubmitForm.value, { abortEarly: false });
    status.value = true;
  } catch (error) {
    status.value = false;
  }
});
</script>
<template>
  <div class="">
    <Form
      :validation-schema="schema"
      @submit="onSubmit"
      class="w-full px-2 max-h-[27.188rem] overflow-auto md:max-h-full md:px-0"
    >
      <div class="grid md:grid-cols-2 gap-x-[2.5rem] gap-y-[1.25rem]">
        <label class="space-y-1" for="">
          <div class="flex items-center justify-between">
            <span class="font-[700] text-[#101010] mb-[0.5rem] text-[1.125rem]"
              >회사명<span class="text-[#F82F14]">*</span></span
            >
            <div class="text-[0.625rem] font-medium text-red-600">
              <ErrorMessage name="companyName" />
            </div>
          </div>
          <Field
            v-slot="{ field, meta }"
            id="branch"
            name="companyName"
            v-model="dataSubmitForm.companyName"
          >
            <input
              placeholder="회사(단체) 명을 입력해 주세요."
              :class="
                meta.errors.length
                  ? 'border-[#F82F14] border-[2px]'
                  : 'border-[#E3E3E3]'
              "
              class="h-[3.375rem] w-full rounded-[8px] font-medium border bg-[#F1F1F1] pl-[20px] outline-none placeholder:text-[16px] placeholder:text-[#B2B2B2] placeholder:font-[400] placeholder:leading-[16px] focus:border-gray-300"
              v-bind="field"
              id="companyName"
              type="companyName"
            />
          </Field>
        </label>
        <label class="space-y-1" for="">
          <div class="flex items-center justify-between">
            <span class="font-[700] text-[#101010] mb-[0.5rem] text-[1.125rem]"
              >담당자 성함<span class="text-[#F82F14]">*</span></span
            >
            <div class="text-[0.625rem] font-medium text-red-600">
              <ErrorMessage name="contact" />
            </div>
          </div>
          <Field
            v-slot="{ field, meta }"
            id="branch"
            name="contact"
            v-model="dataSubmitForm.contact"
          >
            <input
              placeholder="담당자 성함을 입력해 주세요."
              :class="
                meta.errors.length
                  ? 'border-[#F82F14] border-[2px]'
                  : 'border-[#E3E3E3]'
              "
              class="h-[3.375rem] w-full rounded-[8px] font-medium border bg-[#F1F1F1] pl-[20px] outline-none placeholder:text-[16px] placeholder:text-[#B2B2B2] placeholder:font-[400] placeholder:leading-[16px] focus:border-gray-300"
              v-bind="field"
              id="contact"
              type="contact"
            />
          </Field>
        </label>
        <label class="space-y-1" for="">
          <div class="flex items-center justify-between">
            <span class="font-[700] text-[#101010] mb-[0.5rem] text-[1.125rem]"
              >담당자 연락처<span class="text-[#F82F14]">*</span></span
            >
            <div class="text-[0.625rem] font-medium text-red-600">
              <ErrorMessage name="contactInformation" />
            </div>
          </div>
          <Field
            v-slot="{ field, meta }"
            id="branch"
            name="contactInformation"
            v-model="dataSubmitForm.contactInformation"
          >
            <input
              placeholder="담당자 연락처를 입력해 주세요."
              :class="
                meta.errors.length
                  ? 'border-[#F82F14] border-[2px]'
                  : 'border-[#E3E3E3]'
              "
              F
              class="h-[3.375rem] w-full rounded-[8px] font-medium border bg-[#F1F1F1] pl-[20px] outline-none placeholder:text-[16px] placeholder:text-[#B2B2B2] placeholder:font-[400] placeholder:leading-[16px] focus:border-gray-300"
              v-bind="field"
              id="contactInformation"
              type="contactInformation"
            />
          </Field>
        </label>
        <label class="space-y-1" for="">
          <div class="flex items-center justify-between">
            <span class="font-[700] text-[#101010] mb-[0.5rem] text-[1.125rem]"
              >담당자 직함<span class="text-[#F82F14]">*</span></span
            >
            <div class="text-[0.625rem] font-medium text-red-600">
              <ErrorMessage name="positionUser" />
            </div>
          </div>
          <Field
            v-slot="{ field, meta }"
            id="positionUser"
            name="positionUser"
            v-model="dataSubmitForm.positionUser"
          >
            <input
              placeholder="담당자 직직함을 입력해 주세요."
              :class="
                meta.errors.length
                  ? 'border-[#F82F14] border-[2px]'
                  : 'border-[#E3E3E3]'
              "
              class="h-[3.375rem] w-full rounded-[8px] font-medium border bg-[#F1F1F1] pl-[20px] outline-none placeholder:text-[16px] placeholder:text-[#B2B2B2] placeholder:font-[400] placeholder:leading-[16px] focus:border-gray-300"
              v-bind="field"
              id="positionUser"
              type="positionUser"
            />
          </Field>
        </label>
        <label v-show="isHaveDropOrNot" class="space-y-1" for="">
          <div class="flex items-center justify-between">
            <span class="font-[700] text-[#101010] mb-[0.5rem] text-[1.125rem]"
              >비지니스 단계<span class="text-[#F82F14]">*</span></span
            >
            <div class="text-[0.625rem] font-medium text-red-600">
              <ErrorMessage name="businessStage" />
            </div>
          </div>
          <Field
            v-slot="{ field, meta }"
            id="businessStage"
            name="businessStage"
            v-model="dataSubmitForm.businessStage"
          >
            <input
              class="h-[3.375rem] hidden w-full rounded-[8px] border bg-[#F1F1F1] pl-[20px] outline-none placeholder:text-[16px] placeholder:text-[#B2B2B2] placeholder:font-[400] placeholder:leading-[16px] focus:border-gray-300"
              v-bind="field"
              id="businessStage"
              type="businessStage"
            />
            <DropDown
              placeHolder="예비 창업 단계"
              v-bind="field"
              @getContent="handleGetValue"
              :data="dataBusinessStage"
              :class="
                meta.errors.length
                  ? 'border-[#F82F14] border-[2px]'
                  : 'border-[#E3E3E3]'
              "
              class="w-full border-[2px] border-[#D3D3D3]"
            />
          </Field>
        </label>
        <label
          :class="isHaveDropOrNot ? 'md:order-last md:col-span-2' : ''"
          class="space-y-1"
          for=""
        >
          <div class="flex items-center justify-between">
            <span class="font-[700] text-[#101010] mb-[0.5rem] text-[1.125rem]"
              >추가 문의 내용<span class="text-[#D3D3D3] font-[500] ml-1"
                >(선택)</span
              ></span
            >
            <div class="text-[0.625rem] font-medium text-red-600">
              <ErrorMessage name="additional" />
            </div>
          </div>
          <Field
            v-slot="{ field, meta }"
            id="branch"
            name="additional"
            v-model="dataSubmitForm.additional"
          >
            <textarea
              :class="
                meta.errors.length
                  ? 'border-[#F82F14] border-[2px]'
                  : 'border-[#E3E3E3]'
              "
              class="h-[6.875rem] font-medium pt-[1rem] w-full placeholder:text-[#B2B2B2] rounded-[8px] border bg-[#F1F1F1] pl-[20px] outline-none placeholder:text-[16px] placeholder:font-[400] placeholder:leading-[16px] focus:border-gray-300"
              v-bind="field"
              id="additional"
              placeholder="추가 문의 내용이 있다면 입력해 주세요. 확인 후 상담 진행 시 같이 안내드리겠습니다."
              type="additional"
            />
          </Field>
        </label>
        <label class="space-y-1" for="">
          <div class="flex items-center justify-between">
            <span class="font-[700] text-[#101010] mb-[0.5rem] text-[1.125rem]"
              >담당자 이메일<span class="text-[#F82F14]">*</span></span
            >
            <div class="text-[0.625rem] font-medium text-red-600">
              <ErrorMessage name="email" />
            </div>
          </div>
          <Field
            v-slot="{ field, meta }"
            id="branch"
            name="email"
            v-model="dataSubmitForm.email"
          >
            <input
              placeholder="담당자 이메일을 입력해 주세요."
              :class="
                meta.errors.length
                  ? 'border-[#F82F14] border-[2px]'
                  : 'border-[#E3E3E3]'
              "
              class="h-[3.375rem] w-full rounded-[8px] font-medium border bg-[#F1F1F1] pl-[20px] outline-none placeholder:text-[16px] placeholder:text-[#B2B2B2] placeholder:font-[400] placeholder:leading-[16px] focus:border-gray-300"
              v-bind="field"
              id="email"
              type="email"
            />
          </Field>
        </label>
      </div>
      <div
        class="my-[1.875rem] flex items-center justify-center gap-x-[0.875rem]"
      >
        <Field
          v-slot="{ field, meta }"
          id="requireRule"
          name="requireRule"
          type="checkbox"
          value="yes"
          v-model="dataSubmitForm.requireRule"
        >
          <label
            for="requireRule"
            :class="meta.errors.length ? 'border-[2px] border-[#F82F14]' : ''"
            class="w-[24px] flex items-center justify-center h-[24px] rounded-[2.77px] bg-[#F1F1F1]"
          >
            <i
              :class="
                !dataSubmitForm.requireRule
                  ? 'text-[#B2B2B2]'
                  : 'text-[#59ACFF]'
              "
              class="fa-solid fa-check text-[0.9rem]"
            ></i>
          </label>
          <input
            id="requireRule"
            v-bind="field"
            class="hidden"
            type="checkbox"
          />
          <div
            :class="meta.errors.length ? 'text-[#F82F14]' : 'text-[#B2B2B2]'"
            class="font-medium  text-[1rem]"
          >
            <Policy
              :isShowDropDown="false"
              :data="question['question1']"
              title="(필수) 개인정보의 수집 및 이용에 동의합니다."
            />
          </div>
        </Field>
      </div>
      <div
        class="fixed px-[20px] md:px-0 bottom-0 left-0 right-0 h-[10rem] md:h-auto md:relative flex md:flex-row items-center justify-center font-[700] text-[1.5rem] gap-[1rem]"
      >
        <div
          @click="handleGoBack"
          type="button"
          class="md:px-[99px] text-[14px] md:text-[1rem] w-full flex items-center justify-center text-white cursor-pointer py-[13px] md:py-[1rem] bg-[#8A8A8A] rounded-xl"
        >
          이전
        </div>
        <button
          :class="
            status
              ? 'cursor-pointer bg-[#59ACFF] text-white'
              : 'bg-[#F1F1F1] text-[#B2B2B2]'
          "
          class="md:px-[99px] text-[14px] md:text-[1rem] w-full flex items-center justify-center py-[13px] md:py-[1rem] rounded-xl"
        >
          완료
        </button>
      </div>
    </Form>
  </div>
</template>
