<script setup></script>
<template>
  <div
    class="h-[15.188rem] bg-[url('@/assets/image/banner/aboutms-mobile.webp')] bg-cover sm:bg-[url('@/assets/image/banner/aboutms.webp')] md:h-[20.375rem]"
  >
    <div
      class="container mx-auto flex h-full flex-col items-center justify-center gap-[1.875rem] font-bold md:flex-row md:justify-between"
    >
      <p
        class="text-[1.125rem] leading-7 text-white md:text-left md:text-[2.625rem] md:leading-normal"
      >
        엠에스커뮤니케이션은 최적의 서비스를<br />
        창출하고 더 나은 미래를 제시합니다.
      </p>
      <NuxtLink to="/ms-communication">
        <button
          class="rounded-lg bg-white px-[1rem] py-[0.625rem] text-[0.875rem] text-[#101010] shadow md:rounded-[20px] md:px-[2rem] md:py-[1.25rem] md:text-[2rem]"
        >
          <span class="text-[#101010]"> About MS </span>
          <i class="fa-solid fa-angle-right ml-[0.625rem] md:ml-[3.688rem]"></i>
        </button>
      </NuxtLink>
    </div>
  </div>
</template>
