<script setup>
import SideBar from "@/components/sidebar/index.vue";
import SideMobile from "@/components/sidebar/SideMobile.vue";
import { layoutStore } from "@/store/layout.store";
import { ref } from "vue";
import { useWindowSize } from "@vueuse/core";

const store = layoutStore();

const { width, height } = useWindowSize();
const data = ref([
  {
    id: 0,
    title: "엠에스커뮤니케이션",
    desc: "지속적인 가치 창출을 통해<br/>더 나은 미래를 제시합니다.",
    titleBtn: "About MS",
    linkBtn: "/ms-communication",
    linkImg: "bg-[url('@/assets/image/banner/banner-homepage-1.webp')]",
    linkImgMobile:
      "bg-[url('@/assets/image/banner/banner-homepage-1-mobile.webp')]",
  },
  {
    id: 1,
    title: "카드형 BPO",
    desc: "기업 맞춤형 바우처</br>통합 서비스 제공 및 구독관리",
    titleBtn: "견적 문의하기",
    linkBtn: "/service-card",
    linkImg: "bg-[url('@/assets/image/banner/banner-homepage-2.webp')]",
    linkImgMobile:
      "bg-[url('@/assets/image/banner/banner-homepage-2-mobile.webp')]",
  },
  {
    id: 2,
    title: "컨설팅형 BPO",
    desc: "기업의 사업화 단계별</br>맞춤형 서비스 제공 관리",
    titleBtn: "견적 문의하기",
    linkBtn: "/service-consulting",
    linkImg: "bg-[url('@/assets/image/banner/banner-homepage-3.webp')]",
    linkImgMobile:
      "bg-[url('@/assets/image/banner/banner-homepage-3-mobile.webp')]",
  },
  {
    id: 3,
    title: "매칭형 BPO",
    desc: "K-코스메틱/뷰티 기업</br>해외 판로개척 지원",
    titleBtn: "견적 문의하기",
    linkBtn: "/service-matching",
    linkImg: "bg-[url('@/assets/image/banner/banner-homepage-4.webp')]",
    linkImgMobile:
      "bg-[url('@/assets/image/banner/banner-homepage-4-mobile.webp')]",
  },
]);
</script>

<template>
  <div
    :class="`${
      width > 1280
        ? `${data[store.indexBanner].linkImg}`
        : `${data[store.indexBanner]?.linkImgMobile}`
    }`"
    class="h-[46.5rem] bg-cover md:min-h-[80rem]"
  >
    <div class="container mx-auto w-[20rem] pt-[7.5rem] text-white md:w-auto">
      <div class="mt-[8.75rem] hidden h-[28rem] md:block">
        <SideBar :data="data" />
      </div>
      <div class="block pt-[5.25rem] md:hidden">
        <SideMobile :data="data" />
      </div>
    </div>
  </div>
</template>
