<script setup>

</script>

<template>
  <section>
    <div
      class="bg-[url('@/assets/image/banner/background-image.webp')] bg-center h-[46.5rem] bg-cover md:min-h-[80rem]"
    >
      <div
        class="container flex flex-col h-full md:pb-[17rem] items-center justify-center text-center mx-auto w-[20rem] pt-[7.5rem] text-white md:w-auto"
      >
        <h3 class="text-[#333333] font-[500] text-[0.75rem] md:text-[1.125rem]">SLOGAN</h3>
        <h4 class="text-[#101010] text-[1.625rem] md:text-[4.75rem] font-[700] md:leading-[6.938rem] leading-[4rem]">
          Think Big, Start Small
        </h4>
        <span
          class="text-[#333333] px-[20px] md:px-0 text-[0.875rem] md:text-[1.75rem] font-[500] max-w-[66.125rem] text-center"
          >미세한 서비스부터 시작하여 고객,<br class="block md:hidden"/> 구성원, 사회에 이로운 거대한 
          서비스가 될 수 있도록<br/>
          지속적으로 가치를 창출하여 동반 성장합니다.<br class="block md:hidden"/> 큰 성공을 이루기 위하여
          차근차근 함께 발전합니다.</span
        >
      </div>
    </div>
  </section>
</template>
