<script setup>
import Challenge from "@/assets/image/illustration/challenge.png";
import Communication from "@/assets/image/illustration/communication.png";
import Passion from "@/assets/image/illustration/passion.png";

import Card from "@/assets/image/service/card.webp";
import Chart from "@/assets/image/service/chart.webp";
import Plant from "@/assets/image/service/plant.webp";

const data = [
  { id: 123, title: "Challenge", img: Challenge },
  { id: 1223, title: "Communication", img: Communication },
  { id: 1243, title: "Passion", img: Passion },
];
const dataService = [
  {
    id: 99,
    title: "카드형 BPO",
    desc: "바우처 서비스를 하나로 통합 제공하여 <br class='block md:hidden'/>기업<br class='hidden block'/> 맞춤형 구독 서비스를 간편하게 운영관리하는<br/> 시스템을 지원합니다.",
    descMobile: "번거로운 구독</br> 서비스 비용 관리,</br>연회비로 간편하게",
    img: Card,
    link: "/service-card",
  },
  {
    id: 992,
    title: "컨설팅형 BPO",
    desc: "기업의 핵심 업무 집중을 돕기 위해 사업<br/>단계별 기업 최적화 컨설팅과 전문가<br/>서비스를 제공합니다.",
    descMobile:
      "핵심 업무에만 집중</br>할 수 있게, 사업화</br> 전문가 아웃소싱",
    img: Chart,
    link: "/service-consulting",
  },
  {
    id: 939,
    title: "매칭형 BPO",
    desc: "K-코스메틱·뷰티 기업의 글로벌 시장 진출을<br/> 위해 상품 소싱, 바이어 매칭 및 발굴 서비스를<br/> 지원합니다.",
    descMobile:
      "막막한 글로벌 시장</br> 진출글로벌 바이어</br> 매칭으로 빠르게",
    img: Plant,
    link: "/service-matching",
  },
];
</script>

<template>
  <section class="">
    <div class="relative">
      <div
        class="md:gap-y-[3.75rem] px-[1.25rem] md:px-0 relative flex-col container mx-auto flex items-center w-ful justify-between md:pt-[9rem] py-[3.75rem] md:py-[10rem] min-h-[10rem] bg-white"
      >
        <p
          class="text-[1.125rem] mb-[1.5rem] md:mb-0 text-[#B2B2B2] font-[500] text-center"
        >
          CORE VALUE
        </p>
        <div class="grid grid-cols-3 gap-x-[0.625rem] md:gap-x-[3.75rem]">
          <div v-for="item in data" :key="item.id" class="text-center">
            <div class="pb-[1.75rem]">
              <img
                preload
                loading="lazy"
                class="aspect-square"
                :src="item.img"
                :alt="`img-${item.name}`"
              />
            </div>
            <span
              class="text-[#101010] text-[0.875rem] md:text-[2.625rem] font-[700]"
              >{{ item.title }}</span
            >
          </div>
        </div>
        <span
          class="text-[0.875rem] mt-[2.375rem] md:mt-0 md:text-[1.75rem] font-[500] text-[#4B4B4B] text-center"
        >
          도전, 열정, 소통의 융복합을 통해 구현 가능한 산업<br
            class="block md:hidden"
          />
          생태계를 재조성하고<br class="hidden md:block" />
          최고의 서비스를 창출하여 고객,<br class="block md:hidden" />
          구성원, 사회에게 지금보다 더 나은 미래를 제시합니다.
        </span>
      </div>
      <div
        class="h-[1rem] rounded-tl-[50px] rounded-tr-[50px] bg-[#FFFFFF] w-full absolute top-[-1rem] left-0 right-0 z-1"
      ></div>
    </div>
    <div
      class="py-[3.75rem] md:py-[10rem] bg-[#EBF5FF] px-[20px] md:px-0"
    >
      <div
        class="container gap-[0.75rem] md:gap-[3.75rem] flex flex-col h-full items-center justify-center text-center mx-auto w-[20rem] text-white md:w-auto"
      >
        <div class="">
          <h3
            class="text-[#B2B2B2] font-[500] text-[0.75rem] md:text-[1.125rem]"
          >
            SERVICE
          </h3>
          <h4
            class="text-[#101010] mt-[0.25rem] mb-[12px] md:my-0 text-[1.25rem] md:text-[2.625rem] font-[700] md:leading-[6.938rem]"
          >
            사업 영역
          </h4>
          <span
            class="text-[#333333] text-[0.875rem] md:text-[1.75rem] font-[500] max-w-[66.125rem] text-center"
            >큰 꿈을 향해 나아가는 첫 걸음을<br class="md:hidden" />
            엠에스커뮤니케이션과 함께 내딛으세요.</span
          >
        </div>
        <div
          v-for="item in dataService"
          :key="item.id"
          class="bg-white py-[2.5rem] md:py-[5rem] w-full rounded-[20px]"
        >
          <div class="grid md:grid-cols-2 md:gap-[6.625rem]">
            <div class="flex items-center justify-center md:justify-end">
              <div class="md:min-w-[27.25rem]">
                <img
                  preload
                  loading="lazy"
                  :src="item.img"
                  class="h-full w-full object-cover"
                  alt="img-service"
                />
              </div>
            </div>
            <div
              class="flex flex-col items-center md:items-start gap-[1rem] md:gap-[4rem]"
            >
              <div class="md:text-start text-center">
                <h3
                  class="text-[1.75rem] mb-[1.25rem] font-bold text-[#333333]"
                >
                  {{ item.title }}
                </h3>
                <div class="md:max-w-[31.063rem]">
                  <div
                    v-html="item.desc"
                    class="text-[0.875rem] md:text-[1.75rem] font-medium text-[#4B4B4B]"
                  ></div>
                </div>
              </div>
              <NuxtLink :to="item.link">
                <div
                  class="text-[0.875rem] md:text-[1.25rem] text-[#101010] py-[0.5rem] px-[1rem] md:py-[0.594rem] md:px-[1.25rem] bg-[#EBF5FF] flex cursor-pointer items-center justify-center rounded-[12px] transition-opacity hover:opacity-90 xl:group-hover:w-auto xl:group-hover:px-[1rem]"
                >
                  <span class="mr-[0.75rem] font-medium">자세히보기</span>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
              </NuxtLink>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
