<template>
  <div class="py-[60px] md:py-[140px]">
    <div class="container mx-auto px-[20px] md:px-0">
      <div
        class="xl:text-[42px] md:text-[32px] text-[20px] xl:leading-[63px] md:leading-[43px] leading-[30px] font-[700] text-center"
      >
        YD 카드 연결 가능 서비스
      </div>
      <div
        class="xl:text-[28px] md:text-[20px] text-[14px] xl:leading-[42px] md:leading-[30px] leading-[21px] font-[500] text-center mt-[20px]"
      >
        비즈니스 운영 비용을 연간 할인가로 더 <br class="md:hidden" /> 합리적으로 관리할 수 있습니다.
      </div>
      <div
        class="mt-[40px] md:mt-[60px]"
        v-for="(item, index) in data"
        :key="index"
      >
        <div class="flex justify-between">
          <div
            class="xl:text-[36px] md:text-[24px] text-[18px] xl:leading-[54px] md:leading-[40px] leading-[27px] font-[700]"
          >
            {{ item.name }}
          </div>
          <a
            :href="item.serviceLandingDto.link"
            v-if="item.serviceLandingDto.status"
            class="flex justify-center items-center gap-2 bg-[#EBF5FF] md:rounded-[12px] rounded-[4px] px-[20px] h-[46px] font-[500] text-[20px]"
          >
            <span class="hidden md:inline-block">이동</span>
            <svg
              width="8"
              height="14"
              viewBox="0 0 8 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 13L7 7L1 1"
                stroke="#333333"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
        <div class="md:h-[20rem]">
          <SlideMSC :data="item.serviceDtos" />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, watch } from "vue";
import { useClient } from "~/composables/repositories/useClient";
import { questionStore } from "@/store/question.store";
import moment from "moment";
import { useRoute } from "vue-router";
import SlideMSC from "../sidebar/SlideMSC.vue";
import Brand19 from "@/assets/image/brand/brand19.png";
import Brand21 from "@/assets/image/brand/brand21.webp";
import Brand22 from "@/assets/image/brand/brand22.webp";
import Brand23 from "@/assets/image/brand/brand23.webp";

const route = useRoute();
const storeQuestion = questionStore();
const data = ref([]);
const dataSlide2 = ref([
  { id: 1123, title: null, desc: null, content: null, img: Brand21 },
  { id: 11231, title: null, desc: null, content: null, img: Brand19 },
  { id: 44, title: null, desc: null, content: null, img: Brand22 },
  { id: 123, title: null, desc: null, content: null, img: Brand23 },
]);

const _getService = async () => {
  storeQuestion.setStatusLoading(true);
  try {
    // const response = await useClient.getService({
    //     serviceCategoryId: 4
    // })
    // const response2 = await useClient.getService({
    //   serviceCategoryId: 5
    // })
    // const response3 = await useClient.getService({
    //   serviceCategoryId: 6
    // })
    const response = await useClient.getCardBPO();
    data.value = response.content;
  } catch (e) {
    console.log(e);
  } finally {
    storeQuestion.setStatusLoading(false);
  }
};

onMounted(async () => {
  await _getService();
});
</script>

<style scoped></style>
