<template>
  <div class="w-full bg-[#113E6C]">
    <div class="w-full mx-auto container">
      <div class="pt-[60px] md:pt-[100px] xl:pt-[140px] mb-[40px] md:mb-[60px]">
        <div
          class="text-white lg:text-[18px] md:text-[16px] text-[12px] font-[500] lg:leading-[27px] md:leading-[22px] leading-[18px] text-center"
        >
          {{ props.data.title }}
        </div>
        <div
          class="text-white lg:text-[42px] md:text-[32px] text-[20px] font-[700] lg:leading-[63px] md:leading-[42px] leading-[30px] flex justify-center text-center"
        >
          <p class="max-w-[50%] md:max-w-[100%]">{{ props.data.title2 }}</p>
        </div>
      </div>
      <div
        class="flex justify-center mb-[60px] gap-[24px]"
        v-if="props.data.isShow !== 'dataStepNoButton'"
      >
        <button
          @click="active = 0"
          :class="
            active === 0
              ? 'text-[#113E6C] bg-[#FFFFFF]'
              : 'text-[#FFFFFF] #bg-[#113E6C] borderBtn'
          "
          class="font-[700] rounded-full xl:text-[32px] md:text-[24px] text-[14px] md:py-[14px] py-[8px] md:px-[48px] px-[16px]"
        >
          카드형 BPO 문의하기
        </button>
        <button
          @click="active = 1"
          :class="
            active === 1
              ? 'text-[#113E6C] bg-[#FFFFFF]'
              : 'text-[#FFFFFF] #bg-[#113E6C] borderBtn'
          "
          class="font-[700] rounded-full xl:text-[32px] md:text-[24px] text-[14px] md:py-[14px] py-[8px] md:px-[48px] px-[16px]"
        >
          카드형 BPO 문의하기
        </button>
      </div>
      <div v-if="active === 0">
        <div
          class="w-full flex-col md:flex-row flex justify-center pl-[36px] pr-[20px] md:pl-0 md:pr-0 xl:gap-[16px] md:gap-[8px] gap-[8px]"
        >
          <div
            class="flex justify-center items-center md:gap-[16px] gap-[28px]"
            v-for="(item, index) in props.data.dataStepButton.dataBtn1"
            :key="index"
          >
            <div
              class="flex md:flex-col justify-center md:gap-[16px] gap-[28px]"
            >
              <div
                class="flex justify-center relative items-center text-white lg:text-[18px] md:text-[16px] text-[12px] lg:font-[700] md:font-[500] font-[400] lg:leading-[27px] md:leading-[22px] leading-[18px] text-center"
              >
                <p class="w-[41px] md:w-full text-center">
                  STEP {{ index + 1 }}
                </p>
                <svg
                  class="ml-[8px] w-[10px] h-[18px] absolute -bottom-[15%] left-50% translate-x-[-50%] md:hidden inline"
                  width="10"
                  height="6"
                  viewBox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  v-if="index !== props.data.dataStepButton.dataBtn1.length - 1"
                >
                  <path
                    d="M1 1L5 5L9 1"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="flex justify-start md:justify-center items-center">
                <div
                  class="md:w-[320px] w-[237px] md:h-[279px] h-[80px] bg-[#FFFFFF33] rounded-[15px] flex md:flex-col justify-center items-center gap-[28px]"
                >
                  <img
                    preload
                    loading="lazy"
                    class="w-[24px] h-[24px] md:w-[56px] md:h-[56px]"
                    :src="item.icon"
                    alt=""
                  />
                  <div
                    class="text-white max-w-[50%] md:max-w-[75%] lg:text-[24px] md:text-[20px] text-[14px] lg:font-[700] md:font-[500] font-[400] lg:leading-[36px] md:leading-[28px] leading-[19.6px] md:text-center"
                  >
                    {{ item.text }}
                  </div>
                </div>
              </div>
            </div>
            <svg
              class="ml-[8px] w-[10px] mt-[30px] h-[18px] hidden md:inline"
              width="10"
              height="18"
              viewBox="0 0 10 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              v-if="index !== props.data.dataStepButton.dataBtn1.length - 1"
            >
              <path
                d="M1 17L9 9L1 1"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
      <div v-if="active === 1">
        <div
          class="w-full flex-col md:flex-row flex justify-center pl-[36px] pr-[20px] md:pl-0 md:pr-0 xl:gap-[16px] md:gap-[8px] gap-[8px]"
        >
          <div
            class="flex justify-center items-center md:gap-[16px] gap-[28px]"
            v-for="(item, index) in props.data.dataStepButton.dataBtn2"
            :key="index"
          >
            <div
              class="flex md:flex-col justify-center md:gap-[16px] gap-[28px]"
            >
              <div
                class="flex justify-center relative items-center text-white lg:text-[18px] md:text-[16px] text-[12px] lg:font-[700] md:font-[500] font-[400] lg:leading-[27px] md:leading-[22px] leading-[18px] text-center"
              >
                <p class="w-[41px] md:w-full text-center">
                  STEP {{ index + 1 }}
                </p>
                <svg
                  class="ml-[8px] w-[10px] h-[18px] absolute -bottom-[15%] left-50% translate-x-[-50%] md:hidden inline"
                  width="10"
                  height="6"
                  viewBox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  v-if="index !== props.data.dataStepButton.dataBtn2.length - 1"
                >
                  <path
                    d="M1 1L5 5L9 1"
                    stroke="white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div class="flex justify-start md:justify-center items-center">
                <div
                  class="md:w-[320px] w-[237px] md:h-[279px] h-[80px] bg-[#FFFFFF33] rounded-[15px] flex md:flex-col justify-center items-center gap-[28px]"
                >
                  <img
                    preload
                    loading="lazy"
                    class="w-[24px] h-[24px] md:w-[56px] md:h-[56px]"
                    :src="item.icon"
                    alt=""
                  />
                  <div
                    class="text-white max-w-[50%] md:max-w-[75%] lg:text-[24px] md:text-[20px] text-[14px] lg:font-[700] md:font-[500] font-[400] lg:leading-[36px] md:leading-[28px] leading-[19.6px] md:text-center"
                  >
                    {{ item.text }}
                  </div>
                </div>
              </div>
            </div>
            <svg
              class="ml-[8px] w-[10px] mt-[30px] h-[18px] hidden md:inline"
              width="10"
              height="18"
              viewBox="0 0 10 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              v-if="index !== props.data.dataStepButton.dataBtn2.length - 1"
            >
              <path
                d="M1 17L9 9L1 1"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
      <div
        class="w-full flex-col md:flex-row flex justify-center pl-[36px] pr-[20px] md:pl-0 md:pr-0 xl:gap-[16px] md:gap-[8px] gap-[8px]"
      >
        <div
          class="flex justify-center items-center md:gap-[16px] gap-[28px]"
          v-for="(item, index) in props.data.dataStepNoButton"
          :key="index"
        >
          <div class="flex md:flex-col justify-center md:gap-[16px] gap-[28px]">
            <div
              class="flex justify-center relative items-center text-white lg:text-[18px] md:text-[16px] text-[12px] lg:font-[700] md:font-[500] font-[400] lg:leading-[27px] md:leading-[22px] leading-[18px] text-center"
            >
              <p class="w-[41px] md:w-full text-center">STEP {{ index + 1 }}</p>
              <svg
                class="ml-[8px] w-[10px] h-[18px] absolute -bottom-[15%] left-50% translate-x-[-50%] md:hidden inline"
                width="10"
                height="6"
                viewBox="0 0 10 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                v-if="index !== props.data.dataStepNoButton.length - 1"
              >
                <path
                  d="M1 1L5 5L9 1"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="flex justify-start md:justify-center items-center">
              <div
                class="md:w-[320px] w-[237px] md:h-[279px] h-[80px] bg-[#FFFFFF33] rounded-[15px] flex md:flex-col justify-center items-center gap-[28px]"
              >
                <img
                  preload
                  loading="lazy"
                  class="w-[24px] h-[24px] md:w-[56px] md:h-[56px]"
                  :src="item.icon"
                  alt=""
                />
                <div
                  class="text-white max-w-[50%] md:max-w-[75%] lg:text-[24px] md:text-[20px] text-[14px] lg:font-[700] md:font-[500] font-[400] lg:leading-[36px] md:leading-[28px] leading-[19.6px] md:text-center"
                >
                  {{ item.text }}
                </div>
              </div>
            </div>
          </div>
          <svg
            class="ml-[8px] w-[10px] mt-[30px] h-[18px] hidden md:inline"
            width="10"
            height="18"
            viewBox="0 0 10 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            v-if="index !== props.data.dataStepNoButton.length - 1"
          >
            <path
              d="M1 17L9 9L1 1"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div
        class="flex justify-center md:mt-[80px] mt-[40px] pb-[80px] md:pb-[140px]"
      >
        <Question
          :titleBtn="data?.textBtn"
          @click="() => handleSendTypeQuestion(uid)"
          class="text-white font-[700] rounded-[8px] md:rounded-[24px] xl:text-[32px] md:text-[24px] text-[14px] md:py-[29px] py-[12px] md:px-[48px] px-[16px] bg-[#59ACFF]"
        >
        </Question>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import Question from "../modal/Question.vue";
import { questionStore } from "@/store/question.store";

const store = questionStore();
const props = defineProps({
  data: Object,
  uid: Number,
});
const active = ref(0);

const handleSendTypeQuestion = async (type) => {
  store.setValueSelectedQuestion(type);
};
</script>

<style scoped>
.borderBtn {
  border: 2px solid #ffffff;
}
</style>
