<template>
  <div>
    <div class="w-full bg-[#F1F1F1]" >
      <div class="w-full container mx-auto grid grid-cols-1 md:grid-cols-2 md:h-[600px] h-[456px]">
        <div class="w-full flex md:flex-col justify-center items-start order-1 ">
          <div class="">
            <div class="xl:text-[36px] md:text-[24px] text-[18px] xl:leading-[54px] md:leading-[40px] leading-[27px] text-center md:text-start font-[700] text-[#101010]  ">{{props.data.title1}}</div>
            <div class="xl:text-[28px] md:text-[20px] text-[14px] mt-[20px] max-w-[526px] xl:leading-[42px] md:leading-[32px] leading-[21px] text-center md:text-start font-[500] text-[#5C5C5C] px-[35px] md:px-0">
              {{props.data.content1}}
            </div>
          </div>
        </div>
        <div class="w-full flex justify-center items-center md:order-1">
           <img preload loading="lazy" :src="props.data.img1" alt="" class="w-[210px] md:w-full md:h-[385px] h-[150px]">
        </div>
      </div>
    </div>
    <div class="w-full bg-[#FFFFFF]" >
      <div class="w-full container mx-auto grid grid-cols-1 md:grid-cols-2 md:h-[600px] h-[456px]">
        <div class="w-full flex justify-center items-center md:order-1">
           <img preload loading="lazy" :src="props.data.img2" alt="" class="w-[210px] md:w-full md:h-[385px] h-[150px]">
        </div>
        <div class="w-full flex md:flex-col justify-center items-start order-1 md:order-2">
          <div>
            <div class="xl:text-[36px] md:text-[24px] text-[18px] xl:leading-[54px] md:leading-[40px] leading-[27px] font-[700] text-[#101010] md:text-start text-center">{{props.data.title2}}</div>
            <div class="xl:text-[28px] md:text-[20px] text-[14px] mt-[20px] max-w-[526px] xl:leading-[42px] md:leading-[32px] leading-[21px] md:text-start text-center font-[500] text-[#5C5C5C] px-[35px] md:px-0">
              {{props.data.content2}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full bg-[#F1F1F1]" >
      <div class="w-full container mx-auto grid grid-cols-1 md:grid-cols-2 md:h-[600px] h-[456px]">
        <div class="w-full flex md:flex-col justify-center items-start order-1 ">
          <div>
            <div class="xl:text-[36px] md:text-[24px] text-[18px] xl:leading-[54px] md:leading-[40px] leading-[27px] font-[700] text-[#101010] md:text-start text-center">{{props.data.title3}}</div>
            <div class="xl:text-[28px] md:text-[20px] text-[14px] mt-[20px] max-w-[526px] xl:leading-[42px] md:leading-[32px] leading-[21px] md:text-start text-center font-[500] text-[#5C5C5C] px-[35px] md:px-0">
              {{props.data.content3}}
            </div>
          </div>
        </div>
        <div class="w-full flex justify-center items-center md:order-1">
           <img preload loading="lazy" :src="props.data.img3" alt="" class="w-[210px] md:w-full md:h-[385px] h-[150px]">
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>

const props = defineProps({
  data: Object,
});
</script>

<style scoped>

</style>