<template>
  <div
    class="w-full h-full xl:pt-[140px] xl:pb-[180px] md:py-[80px] py-[60px]"
    :style="{ background: data.bgColor }"
  >
    <div
      class="flex justify-center xl:text-[42px] md:text-[32px] text-[20px] xl:leading-[63px] md:leading-[43px] leading-[30px] font-[700] text-center"
    >
      <h6 class="md:max-w-[38%] max-w-[70%] text-[#101010]">
        {{ data.title }}
      </h6>
    </div>
    <!--    <CardPartnerButton title="문의하기" bg-color="#59ACFF" text-color="#fff" />-->
    <div class="flex justify-center">
      <Question
        :uid="uid"
        @click="() => handleSendTypeQuestion(uid)"
        titleBtn="문의하기"
        class="bg-[#59ACFF] text-white xl:text-[32px] md:text-[24px] text-[14px] xl:leading-[43.79px] md:leading-[32px] leading-[20px] font-[700] xl:px-[130px] xl:py-[25px] md:px-[80px] md:py-[20px] px-[52px] py-[13px] xl:mt-[60px] md:mt-[40px] rounded-3xl mt-[20px]"
      >
      </Question>
    </div>
  </div>
</template>

<script setup>
import CardPartnerButton from "@/components/button/CardPartnerButton.vue";
import Question from "../modal/Question.vue";
import { questionStore } from "@/store/question.store";

const store = questionStore();
const route = useRoute();
const props = defineProps({
  data: Object,
  uid: Number,
});

const handleSendTypeQuestion = () => {
  store.setValueSelectedQuestion(props.uid);
};
</script>

<style scoped></style>
