<template>
  <div class="py-[140px] bg-[#F1F1F1]">
    <div class="container mx-auto px-[20px] md:px-[0]">
      <div
        class="w-full text-center text-[#101010] font-[700] text-[36px] leading-[54px]"
        @click="active = 1"
      >
        Partners
      </div>
      <div class="mt-[20px] flex justify-center gap-[12px]">
        <CardPartnerButton
          @click="active = 0"
          title="카드형 BPO"
          :bgColor="active === 0 ? '#101010' : '#D3D3D3'"
          textColor="#FFFFFF"
        />
        <CardPartnerButton
          @click="active = 1"
          title="컨설팅형 BPO"
          :bgColor="active === 1 ? '#101010' : '#D3D3D3'"
          textColor="#FFFFFF"
        />
        <CardPartnerButton
          @click="active = 2"
          title="매칭형 BPO"
          :bgColor="active === 2 ? '#101010' : '#D3D3D3'"
          textColor="#FFFFFF"
        />
      </div>
      <div class="mt-[60px]">
        <div
          class="grid grid-cols-2 xl:grid-cols-5 md:grid-cols-3 lg:grid-cols-4 gap-[12px] md:gap-[35px]"
        >
          <div
            v-for="item in data"
            :key="item"
            class="md:h-[117px]  h-[70px] flex justify-center items-center border-[1px] border-[#F1F1F1] md:rounded-[16px] rounded-[8px] bg-[#FFFFFF]"
          >
            <img preload loading="lazy" class="scale-[0.6] md:scale-[0.9]" :src="item" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import img1 from "assets/image/partner-client/img-1.svg";
import Brand1 from "@/assets/image/brand/brand1.png";
import Brand2 from "@/assets/image/brand/brand2.png";
import Brand3 from "@/assets/image/brand/brand3.png";
import Brand4 from "@/assets/image/brand/brand4.png";
import Brand5 from "@/assets/image/brand/brand5.png";
import Brand6 from "@/assets/image/brand/brand6.png";
import Brand7 from "@/assets/image/brand/brand7.png";
import Brand8 from "@/assets/image/brand/brand8.png";
import Brand9 from "@/assets/image/brand/brand9.png";
import Brand10 from "@/assets/image/brand/brand10.png";
import Brand11 from "@/assets/image/brand/brand11.png";
import Brand12 from "@/assets/image/brand/brand12.png";
import Brand13 from "@/assets/image/brand/brand13.png";
import Brand14 from "@/assets/image/brand/brand14.png";
import Brand15 from "@/assets/image/brand/brand15.png";
import Brand36 from "@/assets/image/brand/brand36.png";
import Brand26 from "@/assets/image/brand/brand26.png";
import Brand27 from "@/assets/image/brand/brand27.png";
import Brand28 from "@/assets/image/brand/brand28.png";
import Brand29 from "@/assets/image/brand/brand29.png";
import Brand31 from "@/assets/image/brand/brand31.png";
import Brand33 from "@/assets/image/brand/brand33.png";
import Brand37 from "@/assets/image/brand/brand37.png";
import Brand38 from "@/assets/image/brand/brand38.png";
import Brand39 from "@/assets/image/brand/brand39.png";
import Brand40 from "@/assets/image/brand/brand40.png";
import Brand35 from "@/assets/image/brand/brand35.png";
import CardPartnerButton from "@/components/button/CardPartnerButton.vue";
import { ref, watch } from "vue";

const active = ref(0);
const data = ref([
  Brand12,
  Brand10,
  Brand8,
  Brand5,
  Brand4,
  Brand3,
  Brand13,
  Brand9,
  Brand7,
  Brand36,
  Brand6,
  Brand2,
  Brand11,
  Brand1,
  Brand37,
]);

watch(active, () => {
  switch (active.value) {
    case 0:
      data.value = [
        Brand12,
        Brand10,
        Brand8,
        Brand5,
        Brand4,
        Brand3,
        Brand13,
        Brand9,
        Brand7,
        Brand36,
        Brand6,
        Brand2,
        Brand11,
        Brand1,
        Brand37,
      ];
      break;
    case 1:
      data.value = [
        Brand14,
        img1,
        Brand39,
        Brand40,
        Brand38,
        Brand26,
        Brand27,
        Brand11,
        Brand35,
        Brand28,
        img1,
        img1,
      ];
      break;
    case 2:
      data.value = [Brand31, Brand33, Brand15, Brand29];
      break;
    default:
  }
});
</script>

<style scoped></style>
