<script setup>
import SlideClient from "@/components/sidebar/SlideClient.vue";
import Brand16 from "@/assets/image/brand/brand16.png";
import Brand17 from "@/assets/image/brand/brand17.png";
import Brand18 from "@/assets/image/brand/brand18.png";
import Brand19 from "@/assets/image/brand/brand19.png";
import Brand20 from "@/assets/image/brand/brand20.png";
import Brand21 from "@/assets/image/brand/brand21.webp";
import Brand22 from "@/assets/image/brand/brand22.webp";
import Brand23 from "@/assets/image/brand/brand23.webp";
import Brand24 from "@/assets/image/partner-client/img-1.svg";
import Brand25 from "@/assets/image/brand/brand25.png";

import { useWindowSize } from "@vueuse/core";

const { width, height } = useWindowSize();

const dataSlide1 = ref([
  { id: 1123, title: '빅데이터 활용 | 비즈큐브솔루션', desc: '카드형 BPO를 통한 클라우드 이용', content: 'AWS 할인 혜택 및 기술지원 등 클라우드 밀링 및 서비스 이용 단계의 용이한 관리 등을 통한 고정비 절감 및 클라우드 기반 개발 시간 단축​', img: Brand24 },
  { id: 44, title: '주식회사 온유', desc: '카드형 BPO를 통한 임직원 복지 향상', content: '각종 문화예술 공연 관란 서비스 제공 등 임직원 복지를 위한 맞춤형 서비스를 카드형 BPO를 통해 제공하여 임직원 근무 만족도 향상', img: Brand18 },
  { id: 123, title: '성균관대학교 글로벌창업대학원', desc: '카드형 BPO 및 컨설팅형 BPO 서비스​', content: '자체 행사 및 자체 운영 프로그램에서 엠에스의 BPO 서비스를 이용한 자부담비 최소화 및 참여자 대상 높은 만족도 기록​', img: Brand16 },
  { id: 11231, title: '스마트 팩토리 솔루션 | 시즐', desc: '카드형 BPO로 클라우드 구축 및 운영', content: null, img: Brand20 },
]);
const dataSlide2 = ref([
  { id: 1123, title: '숙명여자대학교 캠퍼스타운 사업단', desc: '창업실험실 랩시리즈 데모데이​', content: '숙명여자대학교의 IT 분야 창업 준비자 대상으로 인큐베이팅 팀에 대한 육성 운영 서비스를 컨설팅형 BPO 서비스로 제공​', img: Brand21 },
  { id: 11231, title: '주식회사 포인엑스', desc: '자체 서비스 웹페이지 리뉴얼 서비스', content: '컨설팅형 BPO 서비스를 통해 사업 현황 및 요구사항 분석을 진행하고 자체 서비스 소개 웹페이지 리뉴얼 작업 진행 및 구축 서비스 제공​', img: Brand19 },
  { id: 44, title: '한국기술벤처재단', desc: '사업화 현황 분석 및 IR 제안서 코칭', content: '한국기술벤처재단의 육성 기업 10개사 대상 사업 화 현황 분석과 IR 제안서 작성, 피칭 코칭을 컨설팅 형 BPO 서비스로 제공', img: Brand25 },
  { id: 123, title: '주식회사 그레이스클럽​', desc: '자체 브랜드 홍보 및 OEM/ODM 연결​', content: '글로벌 바이어 대상 홍보와 매칭 지원 서비스 제공 및 글로벌 바이어 커뮤니케이션 대행', img: Brand23 },
]);

const totalDataSlide = ref([...dataSlide1.value, ...dataSlide2.value]);
</script>
<template>
  <div
    class="bg-[#F1F1F1] px-[1.25rem] pb-[5rem] pt-[3.75rem] md:px-0 md:pt-[8.75rem] md:pb-[11.25rem]"
  >
    <div class="mb-[2.5rem] text-center md:mb-[3.75rem]">
      <p
        class="mb-1 text-[1.25rem] font-bold text-[#101010] md:mb-4 md:text-[2.625rem]"
      >
        Clients
      </p>
      <span class="text-[0.875rem] font-medium text-[#333333] md:text-[1.75rem]"
        >엠에스커뮤니케이션은 다양한 분야의<br class="md:hidden" />
        고객사와 함께 성장하고 있습니다.</span
      >
    </div>
    <div class="space-y-[2.5rem]">
      <SlideClient :data="width < 768 ? totalDataSlide : dataSlide1" />
      <div class="hidden md:block">
        <SlideClient :data="dataSlide2" :initialSlide="10" />
      </div>
    </div>
  </div>
</template>
