<template>
  <div
    class="pl-[20px] md:pl-0 md:pt-[140px] md:pb-[110px] pt-[50px] pb-[80px] relative bg-[#F1F1F1]"
    :style="styleProps"
  >
    <div
      class="w-full flex justify-center text-center xl:pb-[80px] md:pb-[60px] pb-[40px] xl:text-[42px] md:text-[32px] text-[20px] xl:leading-[63px] md:leading-[43px] leading-[30px] font-[700]"
    >
      <p class="lg:max-w-[70%] max-w-[90%]">
        BPO 서비스를 이용해 효율적인 비즈니스 비용 관리에 성공한 기업의 이야기를
        직접 들어보세요.
      </p>
    </div>
    <div class="relative">
      <swiper
        :modules="[Navigation, Pagination]"
        class="mySwiper"
        :navigation="true"
        :initialSlide="initialSlide"
        :loop="true"
        :breakpoints="{
          '360': {
            slidesPerView: 1.2,
            spaceBetween: 10,
            centeredSlides: false,
            slidesPerGroup: 1,
          },
          '640': {
            slidesPerView: 2,
            spaceBetween: 15,
            centeredSlides: true,
            slidesPerGroup: 1,
          },
          '768': {
            slidesPerView: 2,
            spaceBetween: 15,
            centeredSlides: true,
            slidesPerGroup: 1,
          },
          '1024': {
            slidesPerView: 3,
            spaceBetween: 20,
            centeredSlides: true,
            slidesPerGroup: 1,
          },
        }"
        :slidesPerView="4"
        :spaceBetween="30"
      >
        <swiper-slide
          v-for="(item, index) in props?.data?.data"
          class=""
          :key="index"
          ref="element"
        >
          <div class="md:translate-x-[50%] rounded-[20px]" :style="classItem">
            <div class="h-[396px] md:w-auto md:h-auto">
              <img
                :src="item.img"
                class="w-full h-full"
                :alt="`img-${item.title}`"
                loading="lazy"
              />
            </div>
          </div>
        </swiper-slide>
        <div
          class="absolute z-[10] -ml-[20px] bg-white opacity-40 rounded-r-[18px] top-0 left-0 hidden md:inline-block"
          :style="styleElement"
        ></div>
        <div
          class="absolute z-[10] bg-white opacity-40 rounded-l-[18px] top-0 right-0 hidden md:inline-block"
          :style="styleElement"
        ></div>
      </swiper>
    </div>
  </div>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css";

import "swiper/css/pagination";
import "swiper/css/navigation";
import { Pagination, Navigation, Mousewheel } from "swiper/modules";
import "swiper/swiper-bundle.css";

const mySwiper = ref(null);
const props = defineProps({
  data: Object,
});
const classItem = ref();
const styleProps = ref();
const element = ref();
const elementHeight = ref();
const elementWidth = ref();
const styleElement = ref();

onMounted(() => {
  classItem.value = { backgroundColor: props.data.bgColorItem };
  styleProps.value = { backgroundColor: props.data.bgColor };
  setTimeout(() => {
    elementHeight.value = element.value[0].$el.offsetHeight;
    elementWidth.value = element.value[0].$el.offsetWidth;
    styleElement.value = {
      height: elementHeight.value + "px",
      width: elementWidth.value / 2 + "px",
    };
  }, 500);
});
</script>

<style scoped>

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 70px;
}
@media (max-width: 760px) {
  .swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
  }
}
.swiper-slide {
  font-size: 18px;
}

:deep(.swiper-wrapper) {
}

:deep(.swiper-pagination) {
  width: 100% !important;
  top: auto !important;
  bottom: 0 !important;
  z-index: 200;
  display: none !important;
}

:deep(
    .swiper-horizontal > .swiper-pagination-progressbar,
    .swiper-pagination-progressbar.swiper-pagination-horizontal,
    .swiper-vertical
      > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
    .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite
  ) {
  border-radius: 20px;
}

:deep(.swiper-pagination-progressbar-fill) {
  border-radius: 20px;
}

:deep(.swiper-pagination-bullet) {
  height: 82px;
  width: 8px;
  border-radius: 6px;
  background: #ffffff;
}

:deep(.swiper-button-prev, .swiper-button-next) {
  right: 300px !important;
  left: auto !important;
  top: auto !important;
  bottom: 10px !important;
  background: #b2b2b2;
  color: #ffffff !important;
  border-radius: 8px !important;
  width: 48px !important;
  height: 48px !important;
  padding: 10px !important;
  position: absolute;
}

:deep(.swiper-button-prev::after, .swiper-button-next::after) {
  scale: 0.5 !important;
}

:deep(.swiper-button-next) {
  right: 240px !important;
  left: auto !important;
  top: auto !important;
  bottom: 10px !important;
  background: #b2b2b2;
  color: #ffffff !important;
  border-radius: 8px !important;
  width: 48px !important;
  height: 48px !important;
  padding: 10px !important;
  position: absolute;
}
:deep(.swiper-button-next::after) {
  scale: 0.5 !important;
}

@media (max-width: 760px) {
  :deep(.swiper-pagination) {
    display: block !important;
  }
  :deep(.swiper-button-next) {
    width: 34px !important;
    height: 34px !important;
    border-radius: 50% !important;
    display: none !important;
  }
  :deep(.swiper-button-next::after) {
    scale: 0.35 !important;
  }
  :deep(.swiper-button-prev) {
    right: 45px !important;
    width: 34px !important;
    height: 34px !important;
    border-radius: 50% !important;
    display: none !important;
  }
  :deep(.swiper-button-prev::after) {
    scale: 0.35 !important;
  }
  :deep(.swiper-pagination) {
    width: 96% !important;
  }
}
</style>
