<script setup>
import PrimaryButton from "../button/PrimaryButton.vue";
import Question from "../modal/Question.vue";
import { questionStore } from "@/store/question.store";

const store = questionStore();

const data = [
  { id: 123, uid: 1, name: "카드형 BPO 문의하기", link: "" },
  { id: 1223, uid: 2, name: "컨설팅형 BPO 문의하기", link: "" },
  { id: 1213, uid: 3, name: "매칭형 BPO 문의하기", link: "" },
];

const handleSendTypeQuestion = (type) => {
  store.setValueSelectedQuestion(type);
};
</script>
<template>
  <div
    class="bg-[#EBF5FF] px-[1.25rem] pb-[5rem] pt-[3.75rem] md:pt-[8.75rem] md:pb-[11.25rem] md:px-0"
  >
    <div class="container mx-auto">
      <div class="mb-[2.5rem] md:mb-[6.25rem] text-center">
        <p
          class="mb-1 md:mb-4 text-[1.25rem] font-bold text-[#101010] md:text-[2.625rem]"
        >
          어떤 서비스가 궁금하신가요?
        </p>
        <span
          class="text-[0.875rem] font-medium text-[#333333] md:text-[1.75rem]"
          >‘미세한’ 서비스부터 ‘거대한’ 서비스가 될 때까지,<br
            class="md:hidden"
          />
          엠에스커뮤니케이션이 돕겠습니다.</span
        >
      </div>
      <div
        class="flex flex-col items-center justify-center gap-[0.75rem] md:gap-[2.563rem] text-white md:flex-row"
      >
        <Question
          :needFull="true"
          class="w-[11.875rem] rounded-2xl text-[0.875rem] md:text-[2rem] font-bold md:h-[6.375rem] md:w-[23.125rem]"
          v-for="item in data"
          :key="item.id"
          :titleBtn="item.name"
          @click="() => handleSendTypeQuestion(item.uid)"
        />
      </div>
    </div>
  </div>
</template>
