<script setup>
import { useCms } from "@/services/cmsServices";
import * as Yup from "yup";
import { ErrorMessage, Field, Form, useForm } from "vee-validate";
import { layoutStore } from "@/store/layout.store";
import { onMounted } from "vue";
import BreadCrumbs from "../element/BreadCrumbs.vue";

const store = layoutStore();
const route = useRoute();
const router = useRouter();

const isOpen = ref(false);
const isOpen2 = ref(false);
const idWhenCreated = ref(null);
const statusSubmit = ref(false);
const statusImg = ref(false);
const imageRef = ref(null);
const service = ref([]);

const dataSubmit = ref({
  pageName: null,
  pageUrl: null,
  header: null,
  desc: null,
  keyword: null,
  file: null,
  preview: null,
  image: null,
});
const schema = Yup.object({
  pageName: Yup.string().required("페이지 이름을 압력해 주세요 ​."),
  pageUrl: Yup.string().required("페이지 이름을 압력해 주세요 ​."),
  header: Yup.string().required("HEADER을 압력해 주세요 ​."),
  desc: Yup.string().required("DESCRIPTION을 압력해 주세요 ​."),
  keyword: Yup.string().required("KEYWORD을 압력해 주세요 ​."),
  file: Yup.string()
    .test("check-length", "", function (value) {
      if (!dataSubmit.value.image && !dataSubmit.value.file) {
        throw this.createError({
          path: "file",
          message: ` 썸네일 파일을 첨부해 주세요  ​`,
        });
      }
      return true;
    })
    .nullable(),
});

const _getDetailService = async () => {
  if (!(route.params.slug[0].search("-") === -1)) {
    return;
  }
  try {
    store.setStatusLoading(true);
    const reps = await useCms.getDetailListSeo({ id: route.params.slug });
    dataSubmit.value.pageName = reps.data.data.name;
    dataSubmit.value.pageUrl = reps.data.data.url;
    dataSubmit.value.header = reps.data.data.header;
    dataSubmit.value.desc = reps.data.data.description;
    dataSubmit.value.keyword = reps.data.data.metaKeyword;
    dataSubmit.value.file = reps.data.data.pathFile;
  } catch (e) {
    console.log(e);
  } finally {
    store.setStatusLoading(false);
  }
};

const handleSubmit = async () => {
  try {
    store.setStatusLoading(true);
    const formData = new FormData();
    formData.append("name", dataSubmit.value.pageName);
    formData.append("url", dataSubmit.value.pageUrl);
    formData.append("header", dataSubmit.value.header);
    formData.append("description", dataSubmit.value.desc);
    formData.append("metaKeyword", dataSubmit.value.keyword);
    if (dataSubmit.value.preview) {
      formData.append("file", dataSubmit.value.image);
    } else {
      formData.append("pathFile", dataSubmit.value.file);
    }
    if (route.params.slug[0].search("-") === -1) {
      const reps = await useCms.changeSeoPage({
        id: route.params.slug,
        formData,
      });
      statusSubmit.value = true;
    } else {
      const reps = await useCms.createSeoPage({
        formData,
      });
      idWhenCreated.value = reps.data.data.id;
      statusSubmit.value = true;
    }
  } catch (e) {
    console.log(e);
    alert(e.response.data.message);
  } finally {
    store.setStatusLoading(false);
  }
};

const handleOpenModal = () => {
  if (route.params.slug[0].search("-") === -1) {
    handleSubmit();
    isOpen2.value = true;
    return;
  }
  if (statusSubmit.value) {
    handleGoBack();
  }
  isOpen.value = !isOpen.value;
};

onClickOutside(imageRef, (event) => {
  handleSetImg();
});

const handleSetImg = () => {
  statusImg.value = !statusImg.value;
};

const handleGoBack = () => {
  router.go(-1);
};

const handleRmImage = () => {
  dataSubmit.value.preview = null;
  dataSubmit.value.file = null;
  dataSubmit.value.image = null;
};

const handlePreviewImage = (event) => {
  let input = event.target;
  if (input.files) {
    let reader = new FileReader();
    reader.onload = (e) => {
      dataSubmit.value.preview = e.target.result;
    };
    dataSubmit.value.image = input.files[0];
    reader.readAsDataURL(input.files[0]);
  }
};

onMounted(async () => {
  await Promise.all([, _getDetailService()]);
});

watch(
  () => route.params.slug,
  async () => {
    store.setStatusLoading(true);
    await Promise.all([, _getDetailService()]);
    store.setStatusLoading(false);
  }
);
</script>
<template>
  <section>
    <UModal v-model="isOpen" prevent-close>
      <UCard
        :ui="{
          ring: '',
          divide: 'divide-y divide-gray-100 dark:divide-gray-800',
        }"
      >
        <template #header>
          <div class="flex items-center justify-between">
            <h3
              class="text-base font-semibold leading-6 text-gray-900 dark:text-white"
            >
              <!-- statusSubmit -->
              <!-- ? / -->
              {{ isHaveIdOrNot ? "저장되었습니다​" : "등록완료되었습니다​" }}
              <!-- : "등록하시겠습니까?" -->
            </h3>
            <UButton
              color="gray"
              variant="ghost"
              icon="i-heroicons-x-mark-20-solid"
              class="-my-1"
              @click="isOpen = false"
            />
          </div>
        </template>
        <Placeholder class="h-32" />
        <div class="flex items-center justify-center gap-4">
          <!-- <button
            @click="handleOpenModal"
            class="flex px-6 cursor-pointer bg-gray-500 rounded-lg text-white py-2 items-center justify-center"
          >
            확인​
          </button> -->
          <div
            type="button"
            :class="statusSubmit ? 'bg-green-500' : 'bg-gray-500'"
            @click="handleOpenModal"
            class="flex px-6 cursor-pointer rounded-lg text-white py-2 items-center justify-center"
          >
            {{ statusSubmit ? "확인" : "취소​" }}
          </div>
          <div
            @click="handleSubmit"
            v-show="!statusSubmit"
            class="flex px-6 cursor-pointer bg-green-500 rounded-lg text-white py-2 items-center justify-center"
            type="button"
          >
            확인​
          </div>
        </div>
      </UCard>
    </UModal>
    <UModal v-model="isOpen2" prevent-close>
      <UCard
        :ui="{
          ring: '',
          divide: 'divide-y divide-gray-100 dark:divide-gray-800',
        }"
      >
        <template #header>
          <div class="flex items-center justify-between">
            <h3
              class="text-base font-semibold leading-6 text-gray-900 dark:text-white"
            >
              저장되었습니다
            </h3>
            <UButton
              color="gray"
              variant="ghost"
              icon="i-heroicons-x-mark-20-solid"
              class="-my-1"
              @click="isOpen = false"
            />
          </div>
        </template>
        <Placeholder class="h-32" />
        <div class="flex items-center justify-center gap-4">
          <div
            type="button"
            :class="statusSubmit ? 'bg-green-500' : 'bg-gray-500'"
            class="flex px-6 cursor-pointer rounded-lg text-white py-2 items-center justify-center"
            @click="handleGoBack"
          >
            확인
          </div>
        </div>
      </UCard>
    </UModal>
    <BreadCrumbs :data="['페이지 목록​​', '페이지 추가​​']" />
    <div class="my-[2rem] flex items-center justify-center">
      <Form
        :validation-schema="schema"
        @submit="handleOpenModal"
        class="grid grid-cols-1 gap-4 w-full max-w-[40rem]"
        ref="form"
      >
        <UFormGroup label="페이지 이름​" name="페이지 이름​">
          <Field
            v-slot="{ field }"
            id="pageName"
            name="pageName"
            v-model="dataSubmit.pageName"
          >
            <UInput v-bind="field" />
          </Field>
          <div class="text-[0.625rem] font-medium text-red-600">
            <ErrorMessage name="pageName" />
          </div>
        </UFormGroup>
        <UFormGroup label="페이지 URL​" name="페이지 URL​">
          <Field
            v-slot="{ field }"
            id="pageUrl"
            name="pageUrl"
            v-model="dataSubmit.pageUrl"
          >
            <UInput v-bind="field" />
          </Field>
          <div class="text-[0.625rem] font-medium text-red-600">
            <ErrorMessage name="pageUrl" />
          </div>
        </UFormGroup>
        <UFormGroup label="HEADER" name="HEADER">
          <Field
            v-slot="{ field }"
            id="header"
            name="header"
            v-model="dataSubmit.header"
          >
            <UInput v-bind="field" />
          </Field>
          <div class="text-[0.625rem] font-medium text-red-600">
            <ErrorMessage name="header" />
          </div>
        </UFormGroup>
        <UFormGroup label="DESCRIPTION" name="DESCRIPTION">
          <Field
            v-slot="{ field }"
            id="desc"
            name="desc"
            v-model="dataSubmit.desc"
          >
            <UInput v-bind="field" />
          </Field>
          <div class="text-[0.625rem] font-medium text-red-600">
            <ErrorMessage name="desc" />
          </div>
        </UFormGroup>
        <UFormGroup label="KEYWORD" name="KEYWORD">
          <Field
            v-slot="{ field }"
            id="keyword"
            name="keyword"
            v-model="dataSubmit.keyword"
          >
            <UInput v-bind="field" />
          </Field>
          <div class="text-[0.625rem] font-medium text-red-600">
            <ErrorMessage name="keyword" />
          </div>
        </UFormGroup>
        <UFormGroup label="OG:IMAGE​" name="OG:IMAGE​">
          <div v-if="dataSubmit.preview ?? dataSubmit.file" class="mb-4">
            <div class="relative w-[20rem] h-[20rem]">
              <!-- <img
                :src="dataSubmit.preview ?? dataSubmit.file"
                @click="handleSetImg"
                class="img-fluid aspect-square cursor-pointer"
                :class="
                  statusImg
                    ? 'fixed max-w-[50rem] max-h-[50rem] cursor-pointer w-full h-full top-1/2 translate-y-[-50%] left-1/2 translate-x-[-50%]'
                    : 'w-full h-full'
                "
              /> -->
              <img
                v-if="statusImg"
                @click="handleSetImg"
                :src="dataSubmit.preview ?? dataSubmit.file"
                class="img-fluid aspect-square cursor-pointer"
                :class="'fixed max-w-[50rem] max-h-[50rem] cursor-pointer w-full h-full top-1/2 translate-y-[-50%] left-1/2 translate-x-[-50%]'"
                ref="imageRef"
              />
              <img
                v-else
                @click="handleSetImg"
                :src="dataSubmit.preview ?? dataSubmit.file"
                class="img-fluid aspect-square cursor-pointer"
                :class="'w-full h-full'"
              />
              <div
                @click="handleRmImage"
                v-show="!statusImg"
                class="absolute cursor-pointer rounded-full top-2 right-2 flex items-center justify-center"
              >
                <i class="fa-solid fa-x text-sm text-white"></i>
              </div>
            </div>
          </div>
          <div v-else class="flex">
            <label class="image-previews" for="my-file">
              <div class="image justify-center">
                <div>+</div>
              </div>
            </label>
            <Field
              v-slot="{ field }"
              id="file"
              name="file"
              v-model="dataSubmit.file"
            >
              <input
                v-bind="field"
                type="file"
                @change="handlePreviewImage"
                class="form-control-file hidden"
                id="my-file"
                accept=".png, .jpg, .jpeg"
              />
            </Field>
          </div>
          <div class="text-[0.625rem] font-medium text-red-600">
            <ErrorMessage name="file" />
          </div>
        </UFormGroup>

        <div class="flex items-center gap-4 justify-center">
          <div
            @click="handleGoBack"
            class="flex px-6 cursor-pointer bg-gray-500 rounded-lg text-white py-2 items-center justify-center"
          >
            취소​
          </div>
          <button
            class="flex px-6 cursor-pointer bg-green-500 rounded-lg text-white py-2 items-center justify-center"
          >
            {{ route.params?.slug[0]?.search("-") === -1 ? "수정" : "추가" }}
          </button>
        </div>
      </Form>
    </div>
  </section>
</template>
<style scoped>
:deep(.v-input__prepend) {
  display: none;
}
:deep(base) {
  padding: 1rem;
  height: 10rem;
  display: flex;
  align-items: center;
}
.image-previews {
  width: 100px;
  height: 100px;
  border: 2px dashed #dcdee3;
  margin: 3px;
  position: relative;
}
.image {
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  font-size: 32px;
  user-select: none;
  opacity: 0.3;
  cursor: pointer;
}
</style>
