<script setup>
import { useCms } from "@/services/cmsServices";
import * as Yup from "yup";
import { ErrorMessage, Field, Form, useForm } from "vee-validate";
import { layoutStore } from "@/store/layout.store";
import { onMounted } from "vue";
import BreadCrumbs from "../element/BreadCrumbs.vue";
import { onClickOutside } from "@vueuse/core";

const store = layoutStore();
const route = useRoute();
const router = useRouter();

const isOpen = ref(false);
const isOpen2 = ref(false);
const statusImg = ref(false);
const idWhenCreated = ref(null);
const statusSubmit = ref(false);
const imageRef = ref(null);
const regexUrl =
  /[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/;
const service = ref([]);

const dataSubmit = ref({
  serviceCategoryId: null,
  serviceName: null,
  content: null,
  file: null,
  preview: null,
  image: null,
});
const schema = Yup.object({
  serviceCategoryId: Yup.string().required("서비스 카테고리 선택해 주세요."),
  serviceName: Yup.string().required("서비스 명을 압력해 주세요."),
  content: Yup.string().required("서비스 내용을 압력해 주세요."),
  file: Yup.string()
    .test("check-length", "", function (value) {
      if (!dataSubmit.value.image && !dataSubmit.value.file) {
        throw this.createError({
          path: "file",
          message: `썸네일 파일을 첨부해 주세요.`,
        });
      }
      return true;
    })
    .nullable(),
});

const _getDetailBpo = async () => {
  if (!(route.params.slug[0].search("-") === -1)) {
    return;
  }
  try {
    store.setStatusLoading(true);

    const reps = await useCms.detailServiceBpo({ id: route.params.slug });
    dataSubmit.value.serviceName = reps.data.data.name;
    dataSubmit.value.content = reps.data.data.content;
    dataSubmit.value.file = reps.data.data.pathFile;
    defineService(reps.data.data.nameServiceCategory);
  } catch (e) {
    console.log(e);
  } finally {
    store.setStatusLoading(false);
  }
};

const _serviceCategory = async () => {
  try {
    const reps = await useCms.serviceCategory({
      type: 2,
    });
    service.value = reps.data.content.map((item) => {
      return {
        name: item.name,
        value: item.id,
      };
    });
  } catch (e) {
    console.log(e);
  }
};

const handleSubmit = async () => {
  try {
    store.setStatusLoading(true);
    const formData = new FormData();
    formData.append("name", dataSubmit.value.serviceName);
    formData.append("content", dataSubmit.value.content);
    formData.append("serviceCategoryId", dataSubmit.value.serviceCategoryId);
    if (dataSubmit.value.preview) {
      formData.append("file", dataSubmit.value.image);
    } else {
      formData.append("pathFile", dataSubmit.value.file);
    }
    if (route.params.slug[0].search("-") === -1) {
      const reps = await useCms.changeServiceBpo({
        id: route.params.slug,
        formData,
      });
      statusSubmit.value = true;
    } else {
      const reps = await useCms.createServiceBpo({
        formData,
      });
      idWhenCreated.value = reps.data.data.id;
      statusSubmit.value = true;
    }
  } catch (e) {
    console.log(e);
    alert(e.response.data.message);
  } finally {
    store.setStatusLoading(false);
  }
};

const handleOpenModal = () => {
  if (route.params.slug[0].search("-") === -1) {
    handleSubmit();
    isOpen2.value = true;
    return;
  }
  if (statusSubmit.value) {
    handleGoBack();
  }
  isOpen.value = !isOpen.value;
};

const handleGoBack = () => {
  router.go(-1);
};

onClickOutside(imageRef, (event) => {
  handleSetImg();
});

const handleSetImg = () => {
  statusImg.value = !statusImg.value;
};

const handleRmImage = () => {
  dataSubmit.value.preview = null;
  dataSubmit.value.file = null;
  dataSubmit.value.image = null;
};

const defineService = (name) => {
  dataSubmit.value.serviceCategoryId = service.value.find(
    (item) => item.name === name
  ).value;
};

const handlePreviewImage = (event) => {
  let input = event.target;
  if (input.files) {
    let reader = new FileReader();
    reader.onload = (e) => {
      dataSubmit.value.preview = e.target.result;
    };
    dataSubmit.value.image = input.files[0];
    reader.readAsDataURL(input.files[0]);
  }
};

const isHaveIdOrNot = computed(() => {
  return typeof route.params.slug[0] === "number";
});

onMounted(async () => {
  await _serviceCategory();
  await Promise.all([, _getDetailBpo()]);
});

watch(
  () => route.params.slug,
  async () => {
    store.setStatusLoading(true);
    await _serviceCategory();
    await Promise.all([, _getDetailBpo()]);
    store.setStatusLoading(false);
  }
);
</script>
<template>
  <section>
    <UModal v-model="isOpen" prevent-close>
      <UCard
        :ui="{
          ring: '',
          divide: 'divide-y divide-gray-100 dark:divide-gray-800',
        }"
      >
        <template #header>
          <div class="flex items-center justify-between">
            <h3
              class="text-base font-semibold leading-6 text-gray-900 dark:text-white"
            >
              {{
                statusSubmit
                  ? isHaveIdOrNot
                    ? "저장되었습니다​"
                    : "등록완료되었습니다​"
                  : "등록하시겠습니까?"
              }}
            </h3>
            <UButton
              color="gray"
              variant="ghost"
              icon="i-heroicons-x-mark-20-solid"
              class="-my-1"
              @click="isOpen = false"
            />
          </div>
        </template>
        <Placeholder class="h-32" />
        <div class="flex items-center justify-center gap-4">
          <div
            type="button"
            :class="statusSubmit ? 'bg-green-500' : 'bg-gray-500'"
            @click="handleOpenModal"
            class="flex px-6 cursor-pointer rounded-lg text-white py-2 items-center justify-center"
          >
            {{ statusSubmit ? "확인" : "취소​" }}
          </div>
          <div
            @click="handleSubmit"
            v-show="!statusSubmit"
            class="flex px-6 cursor-pointer bg-green-500 rounded-lg text-white py-2 items-center justify-center"
            type="button"
          >
            확인​
          </div>
        </div>
      </UCard>
    </UModal>
    <UModal v-model="isOpen2" prevent-close>
      <UCard
        :ui="{
          ring: '',
          divide: 'divide-y divide-gray-100 dark:divide-gray-800',
        }"
      >
        <template #header>
          <div class="flex items-center justify-between">
            <h3
              class="text-base font-semibold leading-6 text-gray-900 dark:text-white"
            >
              저장되었습니다
            </h3>
            <UButton
              color="gray"
              variant="ghost"
              icon="i-heroicons-x-mark-20-solid"
              class="-my-1"
              @click="isOpen = false"
            />
          </div>
        </template>
        <Placeholder class="h-32" />
        <div class="flex items-center justify-center gap-4">
          <div
            type="button"
            :class="statusSubmit ? 'bg-green-500' : 'bg-gray-500'"
            class="flex px-6 cursor-pointer rounded-lg text-white py-2 items-center justify-center"
            @click="handleGoBack"
          >
            확인
          </div>
        </div>
      </UCard>
    </UModal>
    <BreadCrumbs :data="['제공 서비스 관리​', '제공서비스 추가​']" />
    <div class="my-[2rem] flex items-center justify-center">
      <Form
        :validation-schema="schema"
        @submit="handleOpenModal"
        class="grid grid-cols-1 gap-4 w-full max-w-[40rem]"
        ref="form"
      >
        <UFormGroup label="등록 서비스​​" name="등록 서비스​​">
          <Field
            v-slot="{ field }"
            id="serviceCategoryId"
            name="serviceCategoryId"
            v-model="dataSubmit.serviceCategoryId"
          >
            <USelect
              v-bind="field"
              option-attribute="name"
              :options="service"
            />
          </Field>
          <div class="text-[0.625rem] font-medium text-red-600">
            <ErrorMessage name="serviceCategoryId" />
          </div>
        </UFormGroup>
        <UFormGroup label="서비스 명​" name="서비스 명​">
          <Field
            v-slot="{ field }"
            id="serviceName"
            name="serviceName"
            v-model="dataSubmit.serviceName"
          >
            <UInput v-bind="field" />
          </Field>
          <div class="text-[0.625rem] font-medium text-red-600">
            <ErrorMessage name="serviceName" />
          </div>
        </UFormGroup>
        <UFormGroup label="서비스 내용​" name="서비스 내용​">
          <Field
            v-slot="{ field }"
            id="content"
            name="content"
            v-model="dataSubmit.content"
          >
            <UInput v-bind="field" />
          </Field>
          <div class="text-[0.625rem] font-medium text-red-600">
            <ErrorMessage name="content" />
          </div>
        </UFormGroup>
        <UFormGroup label="이미지​" name="이미지​">
          <div v-if="dataSubmit.preview ?? dataSubmit.file" class="mb-4">
            <div class="relative w-[20rem] h-[20rem]">
              <img
                v-if="statusImg"
                @click="handleSetImg"
                :src="dataSubmit.preview ?? dataSubmit.file"
                class="img-fluid aspect-square cursor-pointer"
                :class="'fixed max-w-[50rem] max-h-[50rem] cursor-pointer w-full h-full top-1/2 translate-y-[-50%] left-1/2 translate-x-[-50%]'"
                ref="imageRef"
              />
              <img
                v-else
                @click="handleSetImg"
                :src="dataSubmit.preview ?? dataSubmit.file"
                class="img-fluid aspect-square cursor-pointer"
                :class="'w-full h-full'"
              />
              <div
                v-show="!statusImg"
                @click="handleRmImage"
                :class="statusImg ? '' : 'absolute top-2 right-2'"
                class="cursor-pointer rounded-full flex items-center justify-center"
              >
                <i class="fa-solid fa-x text-sm text-white"></i>
              </div>
            </div>
          </div>
          <div v-else class="flex">
            <label class="image-previews" for="my-file">
              <div class="image">
                <div>+</div>
              </div>
            </label>
            <Field
              v-slot="{ field }"
              id="file"
              name="file"
              v-model="dataSubmit.file"
            >
              <input
                v-bind="field"
                type="file"
                @change="handlePreviewImage"
                class="form-control-file hidden"
                id="my-file"
                accept=".png, .jpg, .jpeg"
              />
            </Field>
          </div>
          <div class="text-[0.625rem] font-medium text-red-600">
            <ErrorMessage name="file" />
          </div>
        </UFormGroup>

        <div class="flex items-center gap-4 justify-center">
          <div
            @click="handleGoBack"
            class="flex px-6 cursor-pointer bg-gray-500 rounded-lg text-white py-2 items-center justify-center"
          >
            취소​
          </div>
          <button
            class="flex px-6 cursor-pointer bg-green-500 rounded-lg text-white py-2 items-center justify-center"
          >
            저장​
          </button>
        </div>
      </Form>
    </div>
  </section>
</template>
<style scoped>
:deep(.v-input__prepend) {
  display: none;
}
:deep(base) {
  padding: 1rem;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image-previews {
  width: 100px;
  height: 100px;
  border: 2px dashed #dcdee3;
  margin: 3px;
  position: relative;
}
.image {
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  user-select: none;
  opacity: 0.3;
  cursor: pointer;
}
</style>
