<script setup>
import { useCms } from "@/services/cmsServices";

import { layoutStore } from "@/store/layout.store";
import { onMounted } from "vue";

import BreadCrumbs from "../element/BreadCrumbs.vue";

const route = useRoute();
const router = useRouter();
const store = layoutStore();

const isOpen = ref(false);
const dataSubmit = ref({
  inquiryService: null,
  actionValue: null,
  nameUser: null,
  affiliation: null,
  position: null,
  contact: null,
  email: null,
  businessCategory: null,
  additionalInquiries: null,
  detailedInquiry: null,
});
const btnService = ref([
  { id: 0, name: "대기​", value: 1 },
  { id: 22, name: "메일​", value: 2 },
  { id: 33, name: "미팅​", value: 3 },
  { id: 44, name: "계약​", value: 4 },
]);

const _getDetailQuestion = async () => {
  try {
    store.setStatusLoading(true);
    const { data } = await useCms.detailQuestion({ id: route.params.id });
    dataSubmit.value.inquiryService = data.data.serviceCategoryName;
    dataSubmit.value.nameUser = data.data.name;
    dataSubmit.value.affiliation = data.data.nameCompany;
    dataSubmit.value.position = data.data.position;
    dataSubmit.value.contact = data.data.phoneNumber;
    dataSubmit.value.email = data.data.email;
    dataSubmit.value.businessCategory = data.data.business;
    dataSubmit.value.additionalInquiries = data.data.title;
    dataSubmit.value.actionValue = data.data.action;
    dataSubmit.value.detailedInquiry = data.data.serviceName;
  } catch (e) {
    console.log(e);
  } finally {
    store.setStatusLoading(false);
  }
};

const handleSubmit = async () => {
  try {
    store.setStatusLoading(true);
    const payload = {
      id: route.params.id,
      serviceCategoryId: 0,
      nameCompany: dataSubmit.value.affiliation,
      action: dataSubmit.value.actionValue,
      name: dataSubmit.value.nameUser,
      position: dataSubmit.value.title,
      phoneNumber: dataSubmit.value.contact,
      email: dataSubmit.value.email,
      business: dataSubmit.value.businessCategory,
      title: dataSubmit.value.title,
      serviceName: "string",
    };
    const { data } = await useCms.changeQuestion({
      id: route.params.id,
      payload,
    });
    isOpen.value = true;
  } catch (e) {
    console.log(e);
    alert(e.response.data.message);
  } finally {
    store.setStatusLoading(false);
  }
};

const handleSelected = (status) => {
  if (status === dataSubmit.value.actionValue) {
    dataSubmit.value.actionValue = null;
    return;
  }
  dataSubmit.value.actionValue = status;
};

const handleGoBack = () => {
  router.go(-1);
};

onMounted(async () => {
  _getDetailQuestion();
});
</script>
<template>
  <section>
    <UModal v-model="isOpen" prevent-close>
      <UCard
        :ui="{
          ring: '',
          divide: 'divide-y divide-gray-100 dark:divide-gray-800',
        }"
      >
        <template #header>
          <div class="flex items-center justify-between">
            <h3
              class="text-base font-semibold leading-6 text-gray-900 dark:text-white"
            >
              저장되었습니다​
            </h3>
            <UButton
              color="gray"
              variant="ghost"
              icon="i-heroicons-x-mark-20-solid"
              class="-my-1"
              @click="isOpen = false"
            />
          </div>
        </template>
        <Placeholder class="h-32" />
        <div class="flex items-center justify-center gap-4">
          <button
           @click="handleGoBack"
            class="flex px-6 cursor-pointer bg-green-500 rounded-lg text-white py-2 items-center justify-center"
          >
            확인​
          </button>
        </div>
      </UCard>
    </UModal>
    <BreadCrumbs :data="['고객문의​', '문의 내용 상세보기​']" />
    <div class="my-[2rem]">
      <UForm @submit="handleSubmit" class="grid grid-cols-2 gap-4" ref="form">
        <UFormGroup label="문의 서비스​" name="문의 서비스​">
          <UInput disabled v-model="dataSubmit.inquiryService" />
        </UFormGroup>
        <UFormGroup label="액션여부​" name="액션여부​">
          <UButton
            @click="() => handleSelected(item.value)"
            class="mr-4"
            variant="outline"
            :color="item.value === dataSubmit.actionValue ? 'green' : 'black'"
            v-for="item in btnService"
            :key="item.id"
            >{{ item.name }}</UButton
          >
          {{ actionValue }}
        </UFormGroup>
        <UFormGroup label="이름​" name="이름​">
          <UInput disabled v-model="dataSubmit.nameUser" />
        </UFormGroup>
        <UFormGroup label="소속​" name="소속​">
          <UInput disabled v-model="dataSubmit.affiliation" />
        </UFormGroup>
        <UFormGroup label="직함​" name="직함​">
          <UInput disabled v-model="dataSubmit.position" />
        </UFormGroup>
        <UFormGroup label="연락처​" name="연락처​">
          <UInput disabled v-model="dataSubmit.contact" />
        </UFormGroup>
        <UFormGroup class="col-span-2" label="이메일​" name="이메일​">
          <UInput disabled v-model="dataSubmit.email" />
        </UFormGroup>
        <UFormGroup
          class="col-span-1"
          label="비즈니스 구분​"
          name="비즈니스 구분​"
        >
          <UInput disabled v-model="dataSubmit.businessCategory" />
        </UFormGroup>
        <UFormGroup class="col-span-2" label="추가 문의​​" name="추가 문의​​">
          <UTextarea disabled v-model="dataSubmit.additionalInquiries" />
        </UFormGroup>
        <UFormGroup class="col-span-2" label="상세 문의​​" name="상세 문의​​">
          <UTextarea disabled v-model="dataSubmit.detailedInquiry" />
        </UFormGroup>
        <div class="flex items-center gap-4 justify-center col-span-2">
          <div
            type="button"
            @click="handleGoBack"
            class="flex px-6 cursor-pointer bg-gray-500 rounded-lg text-white py-2 items-center justify-center"
          >
            취소​
          </div>
          <button
            type="submit"
            class="flex px-6 cursor-pointer bg-green-500 rounded-lg text-white py-2 items-center justify-center"
          >
            저장​
          </button>
        </div>
      </UForm>
    </div>
  </section>
</template>
<style scoped>
:deep(.v-breadcrumbs) {
  padding: 0;
}
</style>
