<script setup>
import { useCms } from "@/services/cmsServices";
import * as Yup from "yup";
import { ErrorMessage, Field, Form, useForm } from "vee-validate";
import { layoutStore } from "@/store/layout.store";
import { onMounted } from "vue";
import BreadCrumbs from "../element/BreadCrumbs.vue";

const store = layoutStore();
const route = useRoute();
const router = useRouter();

const isOpen = ref(false);
const isOpen2 = ref(false);
const idWhenCreated = ref(null);
const statusSubmit = ref(false);
const regexUrl =
  /[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/;

const dataSubmit = ref({
  serviceCategoryId: null,
  serviceName: null,
});
const schema = Yup.object({
  serviceCategoryId: Yup.string().required("서비스 카테고리 선택해 주세요 ​"),
  serviceName: Yup.string().required("서비스 명을 압력해 주세요."),
});
const service = ref([
  {
    name: "카드형 BPO",
    value: "1",
  },
  {
    name: "컨설팅형 BPO",
    value: "2",
  },
  {
    name: "매칭형 BPO",
    value: "3",
  },
]);
const _getDetailBpo = async () => {
  if (!(route.params.slug[0].search("-") === -1)) {
    return;
  }
  try {
    store.setStatusLoading(true);
    const reps = await useCms.detailServiceBpo({ id: route.params.slug });
    dataSubmit.value.serviceName = reps.data.data.name;
    defineService(reps.data.data.nameServiceCategory);
  } catch (e) {
    console.log(e);
  } finally {
    store.setStatusLoading(false);
  }
};

const handleSubmit = async () => {
  try {
    store.setStatusLoading(true);
    const formData = new FormData();
    formData.append("name", dataSubmit.value.serviceName);
    formData.append("serviceCategoryId", dataSubmit.value.serviceCategoryId);
    if (route.params.slug[0].search("-") === -1) {
      const reps = await useCms.changeServiceBpo({
        id: route.params.slug,
        formData,
      });
      statusSubmit.value = true;
    } else {
      const reps = await useCms.createServiceBpo({
        formData,
      });
      idWhenCreated.value = reps.data.data.id;
      statusSubmit.value = true;
    }
  } catch (e) {
    console.log(e);
    alert(e.response.data.message);

  } finally {
    store.setStatusLoading(false);
  }
};

const handleOpenModal = () => {
  if (route.params.slug[0].search("-") === -1) {
    handleSubmit();
    isOpen2.value = true;
    return
  }
  if (statusSubmit.value) {
    handleGoBack();
  }
  isOpen.value = !isOpen.value;
};

const handleGoBack = () => {
  router.go(-1);
};

const defineService = (name) => {
  dataSubmit.value.serviceCategoryId = service.value.find(
    (item) => item.name === name
  ).value;
};

const isHaveIdOrNot = computed(() => {
  return typeof route.params.slug[0] === "number";
});

onMounted(async () => {
  await Promise.all([, _getDetailBpo()]);
});

watch(
  () => route.params.slug,
  async () => {
    store.setStatusLoading(true);
    await Promise.all([, _getDetailBpo()]);
    store.setStatusLoading(false);
  }
);
</script>
<template>
  <section>
    <UModal v-model="isOpen" prevent-close>
      <UCard
        :ui="{
          ring: '',
          divide: 'divide-y divide-gray-100 dark:divide-gray-800',
        }"
      >
        <template #header>
          <div class="flex items-center justify-between">
            <h3
              class="text-base font-semibold leading-6 text-gray-900 dark:text-white"
            >
              {{
                statusSubmit
                  ? isHaveIdOrNot
                    ? "저장되었습니다​"
                    : "등록완료되었습니다​"
                  : "등록하시겠습니까?"
              }}
            </h3>
            <UButton
              color="gray"
              variant="ghost"
              icon="i-heroicons-x-mark-20-solid"
              class="-my-1"
              @click="isOpen = false"
            />
          </div>
        </template>
        <Placeholder class="h-32" />
        <div class="flex items-center justify-center gap-4">
          <div
            type="button"
            :class="statusSubmit ? 'bg-green-500' : 'bg-gray-500'"
            class="flex px-6 cursor-pointer rounded-lg text-white py-2 items-center justify-center"
            @click="handleOpenModal"
            v-show="!(route.params.slug[0].search('-') === -1)"
          >
            {{ statusSubmit ? "확인" : "취소​" }}
          </div>
          <button
            v-show="!statusSubmit"
            @click="handleSubmit"
            class="flex px-6 cursor-pointer bg-green-500 rounded-lg text-white py-2 items-center justify-center"
            type="button"
          >
            확인
          </button>
        </div>
      </UCard>
    </UModal>
    <UModal v-model="isOpen2" prevent-close>
      <UCard
        :ui="{
          ring: '',
          divide: 'divide-y divide-gray-100 dark:divide-gray-800',
        }"
      >
        <template #header>
          <div class="flex items-center justify-between">
            <h3
              class="text-base font-semibold leading-6 text-gray-900 dark:text-white"
            >
            저장되었습니다
            </h3>
            <UButton
              color="gray"
              variant="ghost"
              icon="i-heroicons-x-mark-20-solid"
              class="-my-1"
              @click="isOpen = false"
            />
          </div>
        </template>
        <Placeholder class="h-32" />
        <div class="flex items-center justify-center gap-4">
          <div
            type="button"
            :class="statusSubmit ? 'bg-green-500' : 'bg-gray-500'"
            class="flex px-6 cursor-pointer rounded-lg text-white py-2 items-center justify-center"
            @click="handleGoBack"
          >
          확인
          </div>
        </div>
      </UCard>
    </UModal>
    <BreadCrumbs :data="['서비스 목록 관리​​', '서비스 추가​​']" />
    <div class="my-[2rem] flex items-center justify-center">
      <Form
        :validation-schema="schema"
        @submit="handleOpenModal"
        class="grid grid-cols-1 gap-4 w-full max-w-[40rem]"
        ref="form"
      >
        <UFormGroup label="등록 서비스​" name="등록 서비스​">
          <Field
            v-slot="{ field }"
            id="serviceCategoryId"
            name="serviceCategoryId"
            v-model="dataSubmit.serviceCategoryId"
          >
            <USelect
              v-bind="field"
              option-attribute="name"
              :options="service"
            />
          </Field>
          <div class="text-[0.625rem] font-medium text-red-600">
            <ErrorMessage name="serviceCategoryId" />
          </div>
        </UFormGroup>
        <UFormGroup label="서비스 명​" name="서비스 명​">
          <Field
            v-slot="{ field }"
            id="serviceName"
            name="serviceName"
            v-model="dataSubmit.serviceName"
          >
            <UInput v-bind="field" />
          </Field>
          <div class="text-[0.625rem] font-medium text-red-600">
            <ErrorMessage name="serviceName" />
          </div>
        </UFormGroup>

        <div class="flex items-center gap-4 justify-center">
          <div
            @click="handleGoBack"
            class="flex px-6 cursor-pointer bg-gray-500 rounded-lg text-white py-2 items-center justify-center"
          >
            취소​
          </div>
          <button
            class="flex px-6 cursor-pointer bg-green-500 rounded-lg text-white py-2 items-center justify-center"
          >
            저장​
          </button>
        </div>
      </Form>
    </div>
  </section>
</template>
<style scoped>
:deep(.v-input__prepend) {
  display: none;
}
:deep(base) {
  padding: 1rem;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image-previews {
  width: 100px;
  height: 100px;
  border: 2px dashed #dcdee3;
  margin: 3px;
  position: relative;
}
.image {
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  user-select: none;
  opacity: 0.3;
  cursor: pointer;
}
</style>
