<template>
  <UForm :schema="schema" :state="dataForm" @submit="submit">
    <!--    <v-breadcrumbs-->
    <!--        :data="props.type === 'document' ? ['보도자료 관리', '보도자료 추가'] : ['블로그 관리', '블로그 추가']"-->
    <!--    ></v-breadcrumbs>-->
    <BreadCrumbs
      class="mb-4"
      :data="
        props.type === 'document'
          ? ['보도자료 관리', '보도자료 수정']
          : ['블로그 관리', '블로그 추가']
      "
    ></BreadCrumbs>
    <div class="space-y-3">
      <div class="grid grid-cols-12 w-full">
        <label class="w-auto col-span-1 mt-1.5" for="">
          제목 <span class="text-red-500">*</span>
        </label>
        <UFormGroup class="w-full col-span-11" label="" name="title">
          <UInput v-model="dataForm.title" />
        </UFormGroup>
      </div>
      <div class="grid grid-cols-12 w-full">
        <label class="w-auto col-span-1 mt-1.5" for="">
          링크주소 <span class="text-red-500">*</span>
        </label>
        <UFormGroup class="w-full col-span-11" label="" name="link">
          <UInput v-model="dataForm.link" />
        </UFormGroup>
      </div>
      <div class="grid grid-cols-12 w-full">
        <label class="w-auto col-span-1 mt-1.5" for=""> 썸네일 </label>
        <div
          class="col-span-11"
          v-if="previewImage === '' && !dataForm.pathThumbnail"
        >
          <UFormGroup class="" label="" name="fileThumbnail">
            <div class="w-full col-span-11 grid grid-cols-12">
              <label
                class="text-sm col-span-5 font-medium rounded-md border border-[#D1D5DB] text-gray-400 h-full px-2.5 !flex items-center"
                for="file_input"
                >PNG, JPG, JPEG 형식의 파일을 첨부해주세요.</label
              >
              <UInput
                @change="handleChangeImage"
                class="hidden"
                id="file_input"
                type="file"
                accept=".png, .jpg, .jpeg"
              />
              <!-- accept="image/*" -->
              <label
                for="file_input"
                class="rounded h-8 items-center text-center text-white bg-black hover:bg-black mt-0 flex justify-center ml-3"
                >첨부하기</label
              >
            </div>
          </UFormGroup>
        </div>
        <div class="flex gap-5 items-end col-span-11" v-else>
          <div class="w-[400px] h-[250px] relative bg-gray-100">
            <img
              v-if="statusImg"
              preload
              loading="lazy"
              @click="handleSetImg"
              :src="previewImage === '' ? dataForm.pathThumbnail : previewImage"
              class="img-fluid aspect-square cursor-pointer"
              :class="'fixed z-50 max-w-[50rem] max-h-[50rem] cursor-pointer w-full h-full top-1/2 translate-y-[-50%] left-1/2 translate-x-[-50%]'"
              ref="imageRef"
            />
            <img
              v-else
              preload
              loading="lazy"
              @click="handleSetImg"
              :src="previewImage === '' ? dataForm.pathThumbnail : previewImage"
              class="img-fluid aspect-square cursor-pointer"
              :class="'w-full h-full'"
            />
            <i
              v-show="!statusImg"
              @click="
                fileImage = {};
                previewImage = '';
                dataForm.pathThumbnail = '';
                dataForm.fileThumbnail = null;
              "
              class="absolute top-3 right-3 text-white z-10 cursor-pointer"
            >
              <!-- @click="handleRemoveImage" -->
              <svg
                width="28"
                height="28"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M30 10L10 30"
                  stroke="#FFFFFF"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10 10L30 30"
                  stroke="#FFFFFF"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </i>
          </div>
          <span class="mb-2">{{ dataForm?.fileThumbnail?.name }}</span>
        </div>
      </div>
      <div class="w-full grid grid-cols-12" v-if="props.type === 'document'">
        <label class="w-auto col-span-1" for=""> 대표 보도자료 </label>
        <UToggle class="flex items-center w-[2rem]" v-model="dataForm.status" />
      </div>
      <!--    <div class="grid grid-cols-12 items-center w-full">-->
      <!--      <label class="w-auto col-span-1 invisible" for="">-->
      <!--        썸네일-->
      <!--      </label>-->
      <!--      -->
      <!--    </div>-->
    </div>
    <UFormGroup label="" name="content">
      <div ref="test" class="h-[500px] pb-20 mt-5">
        <QuillEditor />
      </div>
    </UFormGroup>
    <div class="pb-10">
      <div class="col-span-3 flex justify-center gap-3">
        <div
          type="button"
          class="flex cursor-pointer px-6 bg-gray-500 rounded-lg text-white py-2 items-center justify-center"
          variant="outline"
          @click="router.go(-1)"
        >
          취소
        </div>
        <button
          :disabled="statusSubmit"
          class="flex px-6 cursor-pointer bg-green-500 rounded-lg text-white py-2 items-center justify-center"
        >
          {{ route.params.id ? "수정" : "추가" }}
        </button>
        <UModal v-model="isOpen">
          <!-- Content -->
          <div class="relative px-5 py-3">
            <i
              class="w-full h-full flex justify-end top-3 right-3 z-10 cursor-pointer"
              @click="isOpen = false"
            >
              <svg
                width="28"
                height="28"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M30 10L10 30"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10 10L30 30"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </i>
            <div class="text-xl font-[500] text-center">등록하시겠습니까?</div>
            <div class="flex justify-center gap-3 mt-5 mb-3">
              <UButton label="확인" type="submit" @click="submit" />
              <UButton
                class="bg-white text-[#333333]"
                @click="isOpen = false"
                variant="outline"
                >취소</UButton
              >
            </div>
          </div>
        </UModal>
        <UModal v-model="isModalSuccess">
          <!-- Content -->
          <div class="relative px-5 py-3">
            <i
              class="w-full h-full flex justify-end top-3 right-3 z-10 cursor-pointer"
              @click="isModalSuccess = false"
            >
              <svg
                width="28"
                height="28"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M30 10L10 30"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10 10L30 30"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </i>
            <div class="text-xl font-[500] text-center">
              {{ route.params.id ? "저장되었습니다" : "등록완료되었습니다" }}
            </div>
            <div class="flex justify-center gap-3 mt-5 mb-3">
              <UButton label="확인" type="submit" @click="handleGoBack" />
            </div>
          </div>
        </UModal>
      </div>
    </div>
  </UForm>
</template>

<script setup lang="ts">
import { ref, watch, onMounted } from "vue";
import QuillEditor from "~/components/element/QuillEditor.vue";
import { object, string, InferType } from "yup";
import type { FormSubmitEvent } from "@nuxt/ui/dist/runtime/types";
import { useCms } from "~/services/cmsServices";
import * as Yup from "yup";
import BreadCrumbs from "~/components/element/BreadCrumbs.vue";
import { layoutStore } from "~/store/layout.store";
import { onClickOutside } from "@vueuse/core";

const props = defineProps({
  type: String,
});
const route = useRoute();
const router = useRouter();
const store = layoutStore();

const imageRef = ref(null);
const countries = ["United States", "Canada", "Mexico"];
const country = ref(countries[0]);
const page = ref(1);
const items = ref(55);
const fileImage = ref();
const previewImage = ref("");
const statusSubmit = ref(false);
const isModalSuccess = ref(false);
const statusImg = ref(false);
const isOpen = ref(false);
const handleChangeImage = (e) => {
  dataForm.value.fileThumbnail = e.target.files[0];
  previewImage.value = URL.createObjectURL(dataForm.value.fileThumbnail);
};

const dataForm = ref({
  title: "",
  link: "",
  fileThumbnail: null,
  status: false,
  content: "",
  pathThumbnail: "",
});

const schema = Yup.object({
  title: Yup.string().required("제목을 압력해 주세요."),
  link: Yup.string().required("링크주소를 압력해 주세요."),
  content: Yup.string()
    .test("check-length", "", function (value) {
      if (document.querySelector(".ql-editor").innerHTML === "<p><br></p>") {
        throw this.createError({
          path: "content",
          message: `보도자료 내용을 압력해 주세요.`,
        });
      }
      return true;
    })
    .nullable(),
  fileThumbnail: Yup.string()
    .test("check-length", "", function (value) {
      if (!dataForm.value.status) {
        return true;
      }
      if (!dataForm.value.pathThumbnail && !dataForm.value.fileThumbnail) {
        throw this.createError({
          path: "fileThumbnail",
          message: `썸네일 파일을 첨부해 주세요.`,
        });
      }
      return true;
    })
    .nullable(),
});

const submitForm = async () => {
  dataForm.value.content = document.querySelector(".ql-editor").innerHTML;
  // console.log(dataForm?.value?.fileThumbnail?.constructor === File)
  let formData = new FormData();
  formData.append("title", dataForm.value.title);
  formData.append("link", dataForm.value.link);
  formData.append("content", dataForm.value.content);
  dataForm.value.fileThumbnail
    ? formData.append("fileThumbnail", dataForm.value.fileThumbnail)
    : null;
  !dataForm.value.fileThumbnail
    ? formData.append("pathThumbnail", dataForm.value.pathThumbnail)
    : null;
  props.type === "document"
    ? formData.append("status", dataForm.value.status)
    : null;
  try {
    statusSubmit.value = true
    store.setStatusLoading(true);

    const resp =
      props.type === "document"
        ? route.params.id
          ? await useCms.updateDocument(route.params.id, formData)
          : await useCms.addDocument(formData)
        : route.params.id
        ? await useCms.updateBlog(route.params.id, formData)
        : await useCms.addBlog(formData);
    isModalSuccess.value = true;
    route.params.id ? await getListDocumentID(route.params.id) : null;
  } catch (e) {
    console.log(e);
    alert(e.response.data.message);
  } finally {
    store.setStatusLoading(false);
    statusSubmit.value = false
    if (!route.params.id) {
      dataForm.value = {
        title: "",
        link: "",
        fileThumbnail: null,
        status: false,
        content: "",
        pathThumbnail: "",
      };
      previewImage.value = "";
      document.querySelector(".ql-editor").innerHTML = "";
    }
  }
};

const handleGoBack = () => {
  router.go(-1);
};

onClickOutside(imageRef, (event) => {
  handleSetImg();
});

const handleSetImg = () => {
  statusImg.value = !statusImg.value;
};

const submit = async () => {
  await submitForm();
};

const getListDocumentID = async (id) => {
  try {
    store.setStatusLoading(true);
    const resp =
      props.type === "document"
        ? await useCms.getListDocumentID(id)
        : await useCms.getListBlogID(id);
    dataForm.value = resp.data.data;
    document.querySelector(".ql-editor").innerHTML = dataForm.value.content;
  } catch (e) {
    console.log(e);
  } finally {
    store.setStatusLoading(false);
  }
};

onMounted(() => {
  if (route.params.id) {
    getListDocumentID(route.params.id);
  }
});
</script>

<style scoped></style>
