<script setup>
import BarSvg from "@/assets/image/icon/homepage/bar.svg";
import chartSvg from "@/assets/image/icon/homepage/chart.svg";
import clubSvg from "@/assets/image/icon/homepage/club.svg";
import squareSvg from "@/assets/image/icon/homepage/square.svg";

const data = [
  {
    id: 22,
    headTitle: "총 거래액",
    icon: BarSvg,
    title: "140 백만원",
    desc: "*2023년 발생 거래액 기준",
  },
  {
    id: 44,
    headTitle: "업력",
    icon: chartSvg,
    title: "5년",
    desc: "*2018년 10월 설립",
  },
  {
    id: 11,
    headTitle: "보유 바이어 DB",
    icon: clubSvg,
    title: "약 16,000명",
    desc: "*2023년 8월 기준",
  },
  {
    id: 553,
    headTitle: "프로젝트 진행 사례",
    icon: squareSvg,
    title: "40회",
    desc: "*2023년 8월 기준",
  },
];
</script>
<template>
  <div
    class="relative mb-[2.5rem] flex flex-col items-center justify-center gap-y-[3.75rem] bg-[#FAFAFA] md:mb-0 md:min-h-[51.875rem] md:pt-[3rem]"
  >
    <div class="flex flex-col items-center justify-center gap-2">
      <h3 class="text-[0.875rem] font-medium text-[#333333] md:text-[1.75rem]">
        주식회사 엠에스커뮤니케이션
      </h3>
      <h4
        class="text-center text-[1.25rem] font-bold text-[#101010] md:text-[2.625rem]"
      >
        비즈니스의 모든 여정을 함께 합니다.
      </h4>
    </div>
    <div class="grid container mx-auto grid-cols-2 gap-[0.75rem] md:grid-cols-4 md:gap-[1.5rem]">
      <div
        v-for="item in data"
        :key="item.id"
        class="flex flex-col items-center justify-around rounded-lg bg-[#F1F1F1] p-[0.875rem] pb-[1rem] md:min-h-[13.25rem] md:rounded-xl md:pt-[1.375rem]"
      >
        <div class="flex flex-col items-center gap-y-2">
           <img preload loading="lazy" :src="item.icon" alt="icon"  />
          <p class="text-[0.75rem] font-bold md:text-[1.125rem]">
            {{ item.headTitle }}
          </p>
        </div>
        <p class="text-[1.25rem] font-bold text-[#113E6C] md:text-[2.625rem]">
          {{ item.title }} +
        </p>
        <span
          class="text-[0.75rem] font-medium text-[#B2B2B2] md:text-[1rem]"
          >{{ item.desc }}</span
        >
      </div>
    </div>
  </div>
</template>
