<template>
  <div class="">
    <!-- This is an example component -->
    <div>
      <h6 class="text-[32px] font-[700]">{{ props.title }}</h6>
      <div class="w-full grid grid-cols-10 gap-4 py-5">
        <div class="visible col-span-3"></div>
        <form
          @submit.prevent="() => handleGetListDocuments(true)"
          class="col-span-4 relative"
        >
          <UInput
            class="w-full h-full"
            size="sm"
            color="white"
            trailing
            name="input"
            placeholder="Search..."
            v-model="dataFilter.textSearch"
          />
          <i
            class="absolute right-3 top-2 cursor-pointer"
            @click="() => handleGetListDocuments(true)"
          >
            <svg
              width="18"
              height="18"
              viewBox="0 0 36 36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 0C22.5082 0 29 6.49189 29 14.5C29 17.9638 27.7854 21.1438 25.759 23.6376L35.5606 33.4394C36.1465 34.0252 36.1465 34.9748 35.5606 35.5606C35.0283 36.0933 34.1949 36.1417 33.6077 35.7058L33.4394 35.5606L23.6376 25.759C21.1438 27.7854 17.9638 29 14.5 29C6.49189 29 0 22.5082 0 14.5C0 6.49189 6.49189 0 14.5 0ZM14.5 3C8.14873 3 3 8.14873 3 14.5C3 20.8512 8.14873 26 14.5 26C20.8512 26 26 20.8512 26 14.5C26 8.14873 20.8512 3 14.5 3Z"
                fill="#113E6C"
              />
            </svg>
          </i>
        </form>
        <div class="col-span-3 flex justify-end gap-3">
          <NuxtLink
            :to="props.type === 'document' ? `list-document/add-document` : `list-blog/add-blog`"
          >
            <UButton label="추가" />
          </NuxtLink>
          <UModal v-model="isOpen">
            <!-- Content -->
            <div class="relative px-5 py-3">
              <i
                class="w-full h-full flex justify-end top-3 right-3 z-10 cursor-pointer"
                @click="isOpen = false"
              >
                <svg
                  width="28"
                  height="28"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M30 10L10 30"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M10 10L30 30"
                    stroke="#333333"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </i>
              <div class="text-xl font-[500] text-center">
                정말 삭제하시겠습니까?
              </div>
              <div class="flex justify-center gap-3 mt-5 mb-3">
                <div
                  type="button"
                  class="flex px-6 cursor-pointer bg-gray-500 rounded-lg text-white py-2 items-center justify-center"
                  @click="isOpen = false"
                >
                  취소​
                </div>
                <div
                  class="flex px-6 cursor-pointer bg-green-500 rounded-lg text-white py-2 items-center justify-center"
                  type="button"
                  @click="delDocuments"
                >
                  확인​
                </div>
              </div>
            </div>
          </UModal>
          <UButton
          :disabled="!listDocumentSelected.length"
            @click="
              listDocumentSelected.length > 0
                ? (isOpen = true)
                : (isOpen = false)
            "
            color="red"
          >
            삭제</UButton
          >
        </div>
      </div>
    </div>
    <v-table>
      <thead>
        <tr>
          <th class="text-left">
            <UCheckbox
              type="checkbox"
              name=""
              id=""
              value="true"
              v-model="statusCheckBoxAll"
            />
          </th>
          <th class="text-left">등록 일자</th>
          <th class="text-left">구분</th>
          <th class="text-left cursor-pointer" @click="handleFilter">제목</th>
          <th class="text-left" v-if="props?.type === 'document'">대표여부</th>
          <th class="text-left">수정</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in dataListDocuments" :key="item.id">
          <td>
            <UCheckbox
              v-model="listDocumentSelected"
              type="checkbox"
              name=""
              :value="item.id"
            />
          </td>
          <!--        <td>{{ item.id }}</td>-->
          <td>{{ moment(item.createdDate).format("YYYY.MM.DD") }}</td>
          <td>{{ item.id }}</td>
          <td>{{ item.title }}</td>
          <td v-if="props?.type === 'document'">
            <p
              :class="item.status ? 'w-4 h-4 bg-amber-300 rounded-full' : ''"
            ></p>
          </td>
          <td class="w-[80px]">
            <NuxtLink
              :to="
                props.type === 'document'
                  ? `list-document/update-document/${item.id}`
                  : `list-blog/update-blog/${item.id}`
              "
            >
              <UButton> 수정 </UButton>
            </NuxtLink>
          </td>
        </tr>
      </tbody>
    </v-table>
    <div class="py-6 flex items-center justify-center">
      <UPagination v-model="page" :page-count="1" :total="totalPage" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, watch, computed } from "vue";
import { useCms } from "~/services/cmsServices.js";
import { layoutStore } from "~/store/layout.store";
import moment from "moment";
import { useRoute } from "nuxt/app";
// const country = ref(countries[0]);

const route = useRoute();
const props = defineProps({
  type: String,
  title: String,
});
const store = layoutStore();
const page = ref(1);
const totalPage = ref(0);
const items = ref();
const isOpen = ref(false);
const dataFilter = ref({
  textSearch: null,
  size: 10,
  sort: `status,createdDate,desc`,
});
const statusCheckBoxAll = ref(false);
const listDocumentSelected = ref([]);
const dataListDocuments = ref([]);
const handleGetListDocuments = async (status) => {
  if(status) {
    page.value = 1
  }
  try {
    store.setStatusLoading(true);
    dataFilter.value.page = page.value - 1;
    const reps =
      props.type === "document"
        ? await useCms.getListDocuments(dataFilter.value)
        : await useCms.getListBlogs(dataFilter.value);
    items.value = reps.data.data.totalElements;
    totalPage.value = reps.data.data.totalPages;
    dataListDocuments.value = reps.data.data.content;
  } catch (e) {
    console.log(e);
  } finally {
    store.setStatusLoading(false);
  }
};

const delDocuments = async () => {
  try {
    const reps =
      props.type === "document"
        ? await useCms.delDocuments({
            ids: listDocumentSelected.value.join(","),
          })
        : await useCms.delBlogs({
            ids: listDocumentSelected.value.join(","),
          });
  } catch (e) {
    console.log(e);
  } finally {
    isOpen.value = false;
    await handleGetListDocuments();
  }
};

const statusChangePage = ref(true);

const checkHasAllIds = computed(() => {
  const ids = dataListDocuments?.value?.map((item) => item.id);
  const containsElements = ids?.every((element) =>
    listDocumentSelected.value.includes(element)
  );
  return containsElements;
});
const handleFilter = () => {
  switch (dataFilter.value.sort) {
    case "status,createdDate,desc":
      dataFilter.value.sort = "status,content,desc";
      handleGetListDocuments();
      break;
    case "status,content,desc":
      dataFilter.value.sort = "status,content,asc";
      handleGetListDocuments();
      break;
    case "status,content,asc":
      dataFilter.value.sort = "status,createdDate,desc";
      handleGetListDocuments();
      break;
    case "createdDate,desc":
      dataFilter.value.sort = "content,desc";
      handleGetListDocuments();
      break;
    case "content,desc":
      dataFilter.value.sort = "content,asc";
      handleGetListDocuments();
      break;
    case "content,asc":
      dataFilter.value.sort = "createdDate,desc";
      handleGetListDocuments();
      break;
  }
};
const handleCheckAll = () => {
  const ids = dataListDocuments.value.map((item) => item.id);
  if (statusCheckBoxAll.value) {
    listDocumentSelected.value = [
      ...new Set([...listDocumentSelected.value, ids].flat()),
    ];
    return;
  } else {
    if (statusChangePage.value) {
      if (listDocumentSelected.value.length) {
        let filterItems = listDocumentSelected.value.filter(
          (item) => !ids.includes(item)
        );
        listDocumentSelected.value = filterItems;
        return;
      }
      listDocumentSelected.value = [];
    }
  }
};

watch(
  () => checkHasAllIds.value,
  () => {
    if (checkHasAllIds.value) {
      statusCheckBoxAll.value = true;
    } else {
      statusChangePage.value = false;
      statusCheckBoxAll.value = false;
      setTimeout(() => {
        statusChangePage.value = true;
      }, 200);
    }
  }
);

watch(
  () => page.value,
  async () => {
    await handleGetListDocuments();
  }
);
watch(
  () => statusCheckBoxAll.value,
  () => {
    handleCheckAll();
  }
);

onMounted(async () => {
  dataFilter.value.sort =
    props.type === "document"
      ? dataFilter.value.sort
      : dataFilter.value.sort.split(",").slice(1).join(",");
  await handleGetListDocuments();
});
</script>

<style scoped></style>
