<template>
  <div>
    <div class="w-full h-full relative">
      <div class="w-full">
         <img preload loading="lazy" class="w-full h-full object-cover overflow-hidden hidden md:block" :src="props.data.img" alt="">
         <img preload loading="lazy" class="w-full min-h-[231px] object-cover overflow-hidden md:hidden block" :src="props.data.imgMb" alt="">
      </div>
      <div class="w-full h-full absolute top-0 bg-black md:opacity-40 opacity-50"></div>
      <div class="w-full">
        <div class="w-full md:max-w-[53%] max-w-[82%] absolute z-10 md:top-[120px] top-[60px] left-[50%] translate-x-[-50%]">
          <div class="text-center text-[#FFFFFF] font-[500] xl:text-[28px] md:text-[24px] text-[12px] leading-[42px]">
            {{props.data.title}}
          </div>
          <div v-html="data.text" class="text-center text-[#FFFFFF] font-[700] xl:text-[42px] md:text-[30px]  text-[18px] ">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import {onMounted, ref} from "vue";

const props = defineProps({
  data: Object,
});

</script>

<style scoped>

</style>