<template>
  <div class="w-full h-full container mx-auto md:px-[0px] px-[20px]">
    <div
      class="text-center font-[700] xl:text-[42px] md:text-[30px] text-[18px]"
    >
      인사이트
    </div>
    <div
      class="text-center font-[500] xl:text-[28px] md:text-[24px] text-[12px] leading-[42px]"
    >
      비지니스에 도움이 되는 최신 인사이트를 확인해보세요.
    </div>
    <div
      class="w-full h-full grid md:grid-cols-3 grid-cols-2 xl:gap-x-[40px] md:gap-x-[24px] gap-x-[12px] md:gap-y-[120px] gap-y-[30px] xl:mt-[80px] md:pt-[120px] mt-[40px]"
    >
      <div
        class="span-col-1 w-full"
        v-for="(item, index) in dataBlogNewsRoom"
        :key="index"
      >
        <NuxtLink :to="`/article-detail/${item.id}?type=blog`">
          <div
            :class="(index + 2) % 3 === 0 ? '-translate-y-[120px]' : ''"
            class="w-full h-full md:inline-block hidden"
          >
            <div class="md:h-[440px] md:w-full rounded-2xl">
              <img
                :class="item.pathThumbnail ? 'object-cover' : 'object-contain'"
                class="w-full h-full overflow-hidden rounded-2xl"
                :src="item.pathThumbnail ? item.pathThumbnail : logo"
                alt="pathThumbnail"
              />
            </div>
            <div id="">
              <h6
                class="xl:text-[36px] md:text-[22px] text-[14px] font-[700] xl:leading-[54px] md:leading-[34px] leading-[21px] text-[#101010] xl:mt-[40px] md:mt-[28px] mt-[16px]"
                id=""
              >
                {{
                  item.title.length > 28
                    ? item.title.substring(0, 28) + "…"
                    : item.title.replace(/<[^>]*>/g, "")
                }}
              </h6>
              <p
                class="xl:text-[28px] md:text-[20px] text-[12px] font-[500] xl:leading-[42px] md:leading-[34px] leading-[21px] text-[#5C5C5C] mt-[20px]"
              >
                {{
                  item.content.length > 38
                    ? item.content.replace(/<[^>]*>/g, "").substring(0, 38) +
                      "…"
                    : item.content.replace(/<[^>]*>/g, "")
                }}
              </p>
              <span
                class="xl:text-[20px] md:text-[16px] text-[12px] font-[500] xl:leading-[30px] md:leading-[24px] leading-[18px] text-[#B2B2B2] block xl:mt-[20px] md:mt-[16px] mt-[6px]"
                >{{ moment(item.createdDate).format("YYYY.MM.DD") }}</span
              >
            </div>
          </div>
          <div
            :class="index % 2 === 0 ? 'translate-y-[30px]' : ''"
            class="w-full h-full inline-block md:hidden"
          >
            <div class="h-[154px] w-[154px] rounded-lg">
              <img
                :class="item.pathThumbnail ? 'object-cover' : 'object-contain'"
                class="w-full h-full overflow-hidden rounded-lg"
                :src="item.pathThumbnail ? item.pathThumbnail : logo"
                alt=""
              />
            </div>
            <div>
              <h6
                class="xl:text-[36px] md:text-[22px] text-[14px] font-[700] xl:leading-[54px] md:leading-[34px] leading-[21px] text-[#101010] xl:mt-[40px] md:mt-[28px] mt-[16px]"
              >
                {{ item.title.length > 28 ? item.title.replace(/<[^>]*>/g, "").substring(0, 28) + "…" : item.title.replace(/<[^>]*>/g, "") }}
              </h6>
              <span
                class="xl:text-[20px] md:text-[16px] text-[12px] font-[500] xl:leading-[30px] md:leading-[24px] leading-[18px] text-[#B2B2B2] block xl:mt-[20px] md:mt-[16px] mt-[6px]"
                >{{ moment(item.createdDate).format("YYYY.MM.DD") }}</span
              >
            </div>
          </div>
        </NuxtLink>
      </div>
    </div>
    <div class="w-full h-full xl:mt-[120px] md:mt-[80px] mt-[60px]">
      <button
        @click="pagination.currentPage++"
        v-if="!(pagination.currentPage >= pagination.totalPages)"
        class="w-full h-full text-[#D3D3D3] rounded-[20px] py-[13px] xl:text-[32px] md:text-[24px] text-[16px] font-[700] xl:leading-[43.79px] md:leading-[32px] leading-[21.89px]"
        style="border: 1px solid #d3d3d3"
      >
        더보기
      </button>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, watch } from "vue";
import {
  getBlogNewsRoom,
  useClient,
} from "~/composables/repositories/useClient";
import { questionStore } from "@/store/question.store";
import moment from "moment";
import logo from "@/assets/image/logo/primary-logo.png";
import { layoutStore } from "@/store/layout.store";

const storeQuestion = questionStore();
const store = layoutStore();

const pagination = ref({
  totalPages: 1,
  currentPage: 1,
});
const dataBlogNewsRoom = ref([]);
const _getBlogNewsRoom = async () => {
  store.setStatusLoading(true);
  try {
    const { data } = await useClient.getBlogNewsRoom({
      textSearch: "",
      page: pagination.value.currentPage - 1,
      size: 6,
    });
    pagination.value.totalPages = data.totalPages;
    dataBlogNewsRoom.value = [...dataBlogNewsRoom.value, data.content].flat();
  } catch (e) {
    console.log(e);
  } finally {
    store.setStatusLoading(false);
  }
};

watch(
  () => pagination.value.currentPage,
  async () => {
    await _getBlogNewsRoom();
  }
);

onMounted(async () => {
  await _getBlogNewsRoom();
});
</script>

<style scoped>
#text-container {
  width: 300px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}
#short-text {
  max-width: 58ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.short-text-38 {
  max-width: 38ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
