<template>
  <div
    class="bg-[#F1F1F1] md:pt-[140px] pt-[60px] md:pb-[180px] pb-[80px] md:mb-[140px] mb-[60px]"
  >
    <div
      class="container mx-auto px-[20px] md:px-0 min-h-fit md:min-h-[78.75rem]"
    >
      <div class="flex justify-between items-center">
        <div
          class="md:text-[26px] text-[18px] font-[700] md:leading-[36px] leading-[27px]"
        >
          <span class="text-[#333333]">Total </span>
          <span class="text-[#59ACFF] ml-[16px]">{{ totalElements }}</span>
        </div>
        <div class="relative">
          <input
            @input="handleInput"
            class="md:w-[560px] w-[12rem] md:h-[80px] border-[3px] border-[#113E6C] rounded-[20px] pl-[10px] md:pl-[28px] md:text-[28px] h-auto"
            type="text"
            placeholder="검색어를 입력하세요."
          />
          <i class="absolute top-1/2 -translate-y-1/2 right-[16px]">
            <svg
              class="md:w-[36px] md:h-[36px] w-[20px] h-[20px]"
              width="36"
              height="36"
              viewBox="0 0 36 36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 0C22.5082 0 29 6.49189 29 14.5C29 17.9638 27.7854 21.1438 25.759 23.6376L35.5606 33.4394C36.1465 34.0252 36.1465 34.9748 35.5606 35.5606C35.0283 36.0933 34.1949 36.1417 33.6077 35.7058L33.4394 35.5606L23.6376 25.759C21.1438 27.7854 17.9638 29 14.5 29C6.49189 29 0 22.5082 0 14.5C0 6.49189 6.49189 0 14.5 0ZM14.5 3C8.14873 3 3 8.14873 3 14.5C3 20.8512 8.14873 26 14.5 26C20.8512 26 26 20.8512 26 14.5C26 8.14873 20.8512 3 14.5 3Z"
                fill="#113E6C"
              />
            </svg>
          </i>
        </div>
      </div>
      <div
        class="py-[40px] md:px-[80px] border-b-[2px] border-b-[#D3D3D3]"
        v-for="(item, index) in data"
        :key="index"
      >
        <NuxtLink :to="`/article-detail/${item.id}?type=document`">
          <div
            class="xl:text-[36px] line-clamp-2 md:text-[24px] text-[18px] xl:leading-[54px] md:leading-[40px] leading-[27px] md:text-start font-[700] text-[#101010]"
          >
            {{ item.title }}
          </div>
          <span
            class="xl:text-[20px] md:text-[16px] line-clamp-3 text-[14px] font-[500] xl:leading-[30px] md:leading-[24px] leading-[18px] text-[#8A8A8A] block xl:mt-[20px] md:mt-[16px] mt-[6px]"
          >
            {{
              item?.content.length > 142
                ? item?.content?.replace(/<[^>]*>/g, "").substring(0, 142)
                : item?.content?.replace(/<[^>]*>/g, "")
            }}
          </span>
          <span
            class="xl:text-[20px] md:text-[16px] text-[12px] font-[500] xl:leading-[30px] md:leading-[24px] leading-[18px] text-[#B2B2B2] block xl:mt-[20px] md:mt-[16px] mt-[6px]"
          >
            {{ moment(item.createdDate).format("YYYY.MM.DD") }}
          </span>
        </NuxtLink>
      </div>
    </div>
    <div class="md:pt-[80px] pt-[40px]">
      <Pagination
        :totalPages="pagination.totalPages"
        :currentPage="pagination.currentPage"
        @pageChanged="handlePageChanged"
      />
      <!--//      <UPagination v-model="page" :page-count="5" :total="items.length" />-->
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch, onMounted } from "vue";
import Pagination from "@/components/pagination/Pagination.vue";
import { useClient } from "~/composables/repositories/useClient";
import { questionStore } from "~/store/question.store";
import moment from "moment";
import { useRoute, useRouter } from "vue-router";
import useDebouncedInputChange from "@/hook/useDebouncedInputChange";
import { layoutStore } from "@/store/layout.store";

const router = useRouter();
const route = useRoute();
const storeQuestion = questionStore();
const store = layoutStore();
const pagination = ref({
  totalPages: 1,
  currentPage: 1,
});
const totalElements = ref();
const { inputValue, handleInput } = useDebouncedInputChange();
const textSearch = ref("");
const data = ref([]);

const _getPostNewsRoom = async () => {
  store.setStatusLoading(true);
  try {
    const response = await useClient.getDocumentNewsRoom({
      textSearch: inputValue.value,
      page: pagination.value.currentPage - 1,
      size: 5,
    });
    pagination.value.totalPages = response.data.totalPages;
    data.value = response.data.content;
    totalElements.value = response.data.totalElements;
  } catch (e) {
    console.log(e);
  } finally {
    store.setStatusLoading(false);
  }
};

const handlePageChanged = async (page) => {
  pagination.value.currentPage = page;
  localStorage.setItem("page", page);
  await _getPostNewsRoom();
};

watch(
  () => inputValue.value,
  async () => {
    pagination.value.currentPage = 1;
    await _getPostNewsRoom();
  }
);

onMounted(async () => {
  // pagination.value.currentPage = localStorage.getItem("page") ? Number(localStorage.getItem("page")) : 1
  await _getPostNewsRoom();
});

// const page = ref(1)
// const items = ref(Array(55))
</script>

<style scoped></style>
