<script setup>
import Brand1 from "@/assets/image/brand/brand1.png";
import Brand2 from "@/assets/image/brand/brand2.png";
import Brand3 from "@/assets/image/brand/brand3.png";
import Brand4 from "@/assets/image/brand/brand4.png";
import Brand5 from "@/assets/image/brand/brand5.png";
import Brand6 from "@/assets/image/brand/brand6.png";
import Brand7 from "@/assets/image/brand/brand7.png";
import Brand8 from "@/assets/image/brand/brand8.png";
import Brand9 from "@/assets/image/brand/brand9.png";
import Brand10 from "@/assets/image/brand/brand10.png";
import Brand11 from "@/assets/image/brand/brand11.png";
import Brand12 from "@/assets/image/brand/brand12.png";
import Brand13 from "@/assets/image/brand/brand13.png";
import Brand14 from "@/assets/image/brand/brand14.png";
import Brand15 from "@/assets/image/brand/brand15.png";

const dataDesktop = [
  { id: 11, img: Brand12 },
  { id: 12, img: Brand13 },
  { id: 10, img: Brand11 },
  { id: 9, img: Brand10 },
  { id: 8, img: Brand9 },
  { id: 7, img: Brand8 },
  { id: 6, img: Brand7 },
  { id: 5, img: Brand6 },
  { id: 4, img: Brand5 },
  { id: 3, img: Brand4 },
  { id: 2, img: Brand3 },
  { id: 1, img: Brand2 },
  { id: 0, img: Brand1 },
];

const dataMobile = [
  { id: 15, img: Brand15, width: "97", height: "22" },
  { id: 7, img: Brand8, width: "125", height: "62" },
  { id: 10, img: Brand11, width: "124", height: "18" },
  { id: 11, img: Brand12, width: "132", height: "17" },
  { id: 14, img: Brand14, width: "124", height: "28" },
  { id: 4, img: Brand5, width: "66", height: "52" },
  { id: 1, img: Brand2, width: "87", height: "35" },
  { id: 9, img: Brand10, width: "60", height: "36" },
];
</script>
<template>
  <div
    class="px-[1.25rem] pb-[5rem] pt-[3.75rem] md:px-0 md:pb-[11.25rem] md:pt-[8.75rem]"
  >
    <div class="mb-[2.5rem] text-center md:mb-[3.75rem]">
      <p
        class="mb-1 text-[1.25rem] font-bold text-[#101010] md:mb-4 md:text-[2.625rem]"
      >
        Partners
      </p>
      <span class="text-[0.875rem] font-medium text-[#333333] md:text-[1.75rem]"
        >엠에스커뮤니케이션은 다양한 분야의<br class="md:hidden" />
        고객사와 함께 성장하고 있습니다.</span
      >
    </div>
    <div class="hidden justify-center gap-[5rem] flex-wrap md:flex">
      <div class="flex flex-col gap-x-[5rem] gap-y-[3.75rem]">
        <div
          v-for="item in dataDesktop.slice(0, 3)"
          :key="item.id"
          class="border-[ #F1F1F1] flex h-[8.125rem] w-[17.5rem] items-center justify-center rounded-[20px] border"
        >
           <img preload loading="lazy" :src="item.img" alt="brand" />
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center gap-x-[5rem] gap-y-[3.75rem]"
      >
        <div
          v-for="item in dataDesktop.slice(3, 5)"
          :key="item.id"
          class="border-[ #F1F1F1] flex h-[8.125rem] w-[17.5rem] items-center justify-center rounded-[20px] border"
        >
           <img preload loading="lazy" :src="item.img" alt="brand" />
        </div>
      </div>
      <div class="flex flex-col gap-x-[5rem] gap-y-[3.75rem]">
        <div
          v-for="item in dataDesktop.slice(5, 8)"
          :key="item.id"
          class="border-[ #F1F1F1] flex h-[8.125rem] w-[17.5rem] items-center justify-center rounded-[20px] border"
        >
           <img preload loading="lazy" :src="item.img" alt="brand" />
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center gap-x-[5rem] gap-y-[3.75rem]"
      >
        <div
          v-for="item in dataDesktop.slice(8, 10)"
          :key="item.id"
          class="border-[ #F1F1F1] flex h-[8.125rem] w-[17.5rem] items-center justify-center rounded-[20px] border"
        >
           <img preload loading="lazy" :src="item.img" alt="brand" />
        </div>
      </div>
      <div class="flex flex-col gap-x-[5rem] gap-y-[3.75rem]">
        <div
          v-for="item in dataDesktop.slice(-3)"
          :key="item.id"
          class="border-[ #F1F1F1] flex h-[8.125rem] w-[17.5rem] items-center justify-center rounded-[20px] border"
        >
           <img preload loading="lazy" :src="item.img" alt="brand" />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 content-center justify-items-center gap-[0.75rem] md:hidden">
      <div
        class="flex min-h-[4.375rem] max-w-[9.625rem] items-center justify-center"
        v-for="item in dataMobile"
        :key="item.id"
      >
         <img preload loading="lazy"
          :src="item.img"
          alt="brand"
          :style="`height: ${item.height}px; width: ${item.width}px`"
        />
      </div>
    </div>
  </div>
</template>
