<script setup>
import { useCms } from "@/services/cmsServices";

import { layoutStore } from "@/store/layout.store";
import moment from "moment";

definePageMeta({
  layout: "custom",
});
const store = layoutStore();

const page = ref(1);
const dataFilter = ref({
  textSearch: null,
  size: 10,
  sort: "createdDate,desc",
});
const items = ref(null);
const dataListQuestions = ref(null);
const listQuestionsSelected = ref([]);
const statusCheckBoxAll = ref(null);
const statusChangePage = ref(true);
const isOpen = ref(false);
const handleGetListData = async (status) => {
  if (status) {
    page.value = 1;
  }
  try {
    store.setStatusLoading(true);
    dataFilter.value.page = page.value - 1;
    const reps = await useCms.getListSeo(dataFilter.value);
    items.value = reps.data.data.totalElements;
    dataListQuestions.value = reps.data.data.content;
  } catch (e) {
    console.log(e);
  } finally {
    store.setStatusLoading(false);
  }
};
const dataThTable = ref([
  {
    id: 12443,
    name: "등록 일자​",
    count: 0,
    sort: false,
    property: null,
  },
  {
    id: 1213,
    name: "구분​",
    sort: false,
    count: 0,
    property: null,
    date: true,
  },
  {
    id: 1223,
    name: "제목​",
    sort: false,
    count: 0,
    property: "description",
  },
  {
    id: 1323,
    name: "수정​​​​",
    sort: false,
    count: 0,
    property: null,
  },
]);

const handleDeleteSeo = async () => {
  try {
    store.setStatusLoading(true);
    const reps = await useCms.delServiceSeo({
      id: listQuestionsSelected.value,
    });
    listQuestionsSelected.value = [];
    handleOpenModal();
    await handleGetListData();
  } catch (e) {
    console.log(e);
  } finally {
    store.setStatusLoading(false);
  }
};
const handleOpenModal = () => {
  isOpen.value = !isOpen.value;
};
const handleCheckAll = () => {
  const ids = dataListQuestions.value.map((item) => item.id);
  if (statusCheckBoxAll.value) {
    listQuestionsSelected.value = [
      ...new Set([...listQuestionsSelected.value, ids].flat()),
    ];
    return;
  } else {
    if (statusChangePage.value) {
      if (listQuestionsSelected.value.length) {
        let filterItems = listQuestionsSelected.value.filter(
          (item) => !ids.includes(item)
        );
        listQuestionsSelected.value = filterItems;
        return;
      }
      listQuestionsSelected.value = [];
    }
  }
};
const handleSortTable = async (property, count, index) => {
  if (!property) {
    return;
  }
  const sortProperty = count ? "asc" : "desc";
  if (count >= 2) {
    dataThTable.value[index].count = 0;
    dataFilter.value.sort = `createdDate,desc`;
    await handleGetListData();
    return;
  }
  dataThTable.value[index].count = count + 1;
  dataThTable.value.forEach((item) => {
    item.property !== property ? (item.count = 0) : null;
  });
  dataFilter.value.sort = `${property},${sortProperty}`;
  await handleGetListData();
};

const checkHasAllIds = computed(() => {
  const ids = dataListQuestions?.value?.map((item) => item.id);
  const containsElements = ids?.every((element) =>
    listQuestionsSelected.value.includes(element)
  );
  return containsElements;
});

onMounted(() => {
  handleGetListData();
});
watch(
  () => page.value,
  () => {
    handleGetListData();
  }
);
watch(
  () => statusCheckBoxAll.value,
  () => {
    handleCheckAll();
  }
);
watch(
  () => page.value,
  () => {
    if (checkHasAllIds.value) {
      statusCheckBoxAll.value = true;
    } else {
      statusChangePage.value = false;
      statusCheckBoxAll.value = false;
      setTimeout(() => {
        statusChangePage.value = true;
      }, 200);
    }
  }
);
watch(
  () => checkHasAllIds.value,
  () => {
    if (checkHasAllIds.value) {
      statusCheckBoxAll.value = true;
    } else {
      statusChangePage.value = false;
      statusCheckBoxAll.value = false;
      setTimeout(() => {
        statusChangePage.value = true;
      }, 200);
    }
  }
);
</script>
<template>
  <section>
    <h1 class="text-2xl py-2 font-[700]">페이지 목록​​</h1>
    <div class="mb-[40px]">
      <div class="flex items-center justify-center gap-4">
        <div class="relative flex-1">
          <form @submit.prevent="() => handleGetListData(true)">
          
          <UInput v-model="dataFilter.textSearch" />
          <i
            @click="() => handleGetListData(true)"
            class="fa-solid fa-magnifying-glass text-[1rem] absolute top-1/2 right-[1rem] cursor-pointer -translate-y-[50%]"
          ></i>
        </form>
        </div>

        <div class="flex min-w-[40%] col-span-2 gap-4 items-center justify-end">
          <NuxtLink :to="`seo-management/create-seo`">
            <UButton> 추가​</UButton>
          </NuxtLink>
          <UButton :disabled="!listQuestionsSelected.length" @click="handleOpenModal" color="red"> 삭제​</UButton>
        </div>
      </div>
    </div>
    <v-table>
      <thead>
        <tr>
          <th class="text-left">
            <UCheckbox
              type="checkbox"
              name=""
              id=""
              value="true"
              v-model="statusCheckBoxAll"
            />
          </th>
          <th
            v-for="(item, index) in dataThTable"
            :key="item.id"
            class="text-left"
          >
            <button
              :class="item.property ? '' : 'cursor-default'"
              @click="() => handleSortTable(item.property, item.count, index)"
            >
              {{ item.name }}
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in dataListQuestions" :key="item.id">
          <td>
            <UCheckbox
              v-model="listQuestionsSelected"
              type="checkbox"
              name=""
              :value="item.id"
            />
          </td>
          <td>{{ moment(item.createdDate).format("YYYY-MM-DD HH:mm") }}</td>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>
            <NuxtLink :to="`seo-management/${item.id}`">
              <UButton> 보기​ </UButton>
            </NuxtLink>
          </td>
        </tr>
      </tbody>
    </v-table>
    <div class="py-6 flex items-center justify-center">
      <UPagination v-model="page" :total="items" />
    </div>
    <UModal v-model="isOpen" prevent-close>
      <UCard
        :ui="{
          ring: '',
          divide: 'divide-y divide-gray-100 dark:divide-gray-800',
        }"
      >
        <template #header>
          <div class="flex items-center justify-between">
            <h3
              class="text-base font-semibold leading-6 text-gray-900 dark:text-white"
            >
              정말 삭제하시겠습니까?
            </h3>
            <UButton
              color="gray"
              variant="ghost"
              icon="i-heroicons-x-mark-20-solid"
              class="-my-1"
              @click="isOpen = false"
            />
          </div>
        </template>
        <Placeholder class="h-32" />
        <div class="flex items-center justify-center gap-4">
          <div
            type="button"
            class="flex px-6 cursor-pointer bg-gray-500 rounded-lg text-white py-2 items-center justify-center"
            @click="handleOpenModal"
          >
            취소​
          </div>
          <div
            class="flex px-6 cursor-pointer bg-green-500 rounded-lg text-white py-2 items-center justify-center"
            type="button"
            @click="handleDeleteSeo"
          >
          확인​
          </div>
        </div>
      </UCard>
    </UModal>
  </section>
</template>
<style>
:deep(.v-input__details) {
  display: none !important;
}
.v-list .v-list-item--active {
  background-color: green !important;
}
.v-list .v-list-item--active .v-list-item__title {
  color: #ffd54f !important;
}
</style>
