<script setup>
import { ref } from "vue";

import Card from "@/assets/image/service/card.webp";
import Chart from "@/assets/image/service/chart.webp";
import Plant from "@/assets/image/service/plant.webp";

const data = [
  {
    id: 99,
    title: "카드형 BPO",
    desc: "번거로운 구독 서비스 비용 관리,</br>연회비로 간편하게",
    descMobile: "번거로운 구독</br> 서비스 비용 관리,</br>연회비로 간편하게",
    img: Card,
    link: "/service-card",
  },
  {
    id: 992,
    title: "컨설팅형 BPO",
    desc: "핵심 업무에만 집중할 수 있게,</br>사업화 전문가 아웃소싱",
    descMobile:
      "핵심 업무에만 집중</br>할 수 있게, 사업화</br> 전문가 아웃소싱",
    img: Chart,
    link: "/service-consulting",
  },
  {
    id: 939,
    title: "매칭형 BPO",
    desc: "막막한 글로벌 시장 진출</br>글로벌 바이어 매칭으로 빠르게",
    descMobile:
      "막막한 글로벌 시장</br> 진출글로벌 바이어</br> 매칭으로 빠르게",
    img: Plant,
    link: "/service-matching",
  },
];
</script>
<template>
  <div class="relative bg-[#FAFAFA] md:relative md:z-10">
    <div
      class="wrap z-10 relative top-[-4rem] flex h-full w-full max-w-[72.5rem] flex-col items-center justify-center space-y-[0.875rem] rounded-xl md:absolute md:left-1/2 md:mb-0 md:-translate-x-1/2 md:flex-row md:gap-[1rem] md:space-y-0"
    >
      <div
        v-for="(item, index) in data"
        :key="item.id"
        class="item group relative flex h-[12.375rem] w-[20rem] overflow-hidden rounded-[10px] bg-[#A6D2FF] px-[1.5rem] transition-all hover:max-w-[60rem] md:min-h-[27.5rem] md:w-full md:min-w-[11.125rem] md:rounded-3xl md:px-[2.313rem] xl:hover:min-w-[49rem]"
      >
        <div
          class="relative child z-20 pt-[1rem] h-full w-full md:pt-[1.75rem] xl:group-hover:animate-animationBlock"
        >
          <div
            class="mb-[1rem] flex w-full items-center justify-between md:mb-[1.25rem]"
          >
            <h3 class="text-[1.75rem] font-bold text-[#333333]">
              {{ item.title }}
              <span class="hidden xl:group-hover:inline-block"
                >Business Process Outsourcing</span
              >
            </h3>
            <NuxtLink :to="item.link">
              <div
                class="text xl:group-hover:min-w-max flex h-[2.25rem] w-[2.25rem] cursor-pointer items-center justify-center rounded-lg bg-[#FFFFFF80] transition-opacity hover:opacity-90 xl:group-hover:w-auto xl:group-hover:px-[1rem]"
              >
                <span
                  class="mr-[0.75rem] hidden font-medium text-[#333333] xl:group-hover:inline-block"
                  >자세히보기</span
                >
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </NuxtLink>
          </div>
          <div class="flex justify-between md:block xl:group-hover:flex">
            <div
              v-html="item.desc"
              class="hidden text text-[1.25rem] font-medium text-[#4B4B4B] md:block"
            ></div>
            <div
              v-html="item.descMobile"
              class="block text text-[0.875rem] font-medium text-[#333333] md:hidden"
            ></div>
            <div
              :class="`block-img-${index}`"
              class="h-[6.5rem] w-[9.375rem] md:pt-[1rem] md:h-auto md:w-auto xl:group-hover:h-[16.188rem] xl:group-hover:w-[26.063rem]"
            >
              <img
                preload
                loading="lazy"
                :src="item.img"
                class="h-full block-img-2 img w-full object-fill"
                alt="img-service"
              />
            </div>
          </div>
        </div>
        <div
          style="clip-path: polygon(0 0, 100% 0, 100% 49%, 0 76%)"
          class="absolute bottom-0 left-0 right-0 top-0 z-10 hidden bg-[#59ACFF] xl:group-hover:block"
        ></div>
        <div
          style="clip-path: polygon(0 81%, 100% 66%, 100% 100%, 0% 100%)"
          class="absolute block md:hidden bottom-0 left-0 right-0 top-0 z-10 bg-[#59ACFF]"
        ></div>
      </div>
    </div>
    <div
      class="h-[1rem] rounded-tl-[50px] rounded-tr-[50px] bg-[#FAFAFA] w-full absolute top-[-1rem] left-0 right-0 z-1"
    ></div>
  </div>
</template>
<style scoped>
:deep(.transition-all) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.7s;
}
@media screen and (min-width: 1280px) {
  .wrap:hover .item:not(:hover) .text {
    display: none;
  }
  .wrap:hover .item:not(:hover) img {
    padding-bottom: 4.188rem;
    scale: 3 !important;
  }
  .wrap:hover .item:not(:hover) .block-img-0 {
    translate: -4% !important;
  }
  .wrap:hover .item:not(:hover) .block-img-1 {
    translate: -46% !important;
  }
  .wrap:hover .item:not(:hover) .block-img-2 {
    translate: 16% !important;
  }
  .wrap:hover .item:not(:hover) .child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
</style>
