<script setup>
import { useCms } from "@/services/cmsServices";
import { layoutStore } from "@/store/layout.store";

const store = layoutStore();

const dataSubmit = ref({
  itService: {
    id: 1,
    status: false,
    link: null,
  },
  typeProduct: {
    id: 2,
    status: false,
    link: null,
  },
  serviceLanding: {
    id: 3,
    status: false,
    link: null,
  },
});
const isOpen = ref(false);

const _getDataServices = async () => {
  try {
    store.setStatusLoading(true);
    const { data } = await useCms.getServiceAdminController();
    Object.keys(dataSubmit.value).forEach((item, index) => {
      data.data.content.find((child) => {
        if (child.id === index + 1) {
          dataSubmit.value[item].link = child.link;
          dataSubmit.value[item].status = child.status;
        }
      });
    });
  } catch (e) {
    console.log(e);
  } finally {
    store.setStatusLoading(false);
  }
};

const handleSubmitData = async (type) => {
  try {
    store.setStatusLoading(true);
    const id = dataSubmit.value[type].id;
    const payload = {
      link: dataSubmit.value[type].link,
      status: dataSubmit.value[type].status,
    };
    const reps = await useCms.changeServiceAdminController({ id, payload });
    isOpen.value = true;
  } catch (e) {
  } finally {
    store.setStatusLoading(false);
  }
};

onMounted(() => {
  _getDataServices();
});
</script>
<template>
  <div>
    <h1 class="text-2xl py-2 font-[700]">랜딩 관리​</h1>
    <div class="mt-[32px] space-y-4">
      <div class="space-y-2">
        <div class="flex items-center gap-3">
          <p class="min-w-[8rem]">IT 서비스 랜딩​</p>
          <!-- <v-switch
            v-model="dataSubmit.itService.status"
            label="Switch"
            inset
          ></v-switch> -->
          <UToggle v-model="dataSubmit.itService.status" color="green" />
        </div>
        <div class="flex items-center gap-8">
          <label class="flex items-center gap-3" for="url-1">
            <span>랜딩 URL</span>
            <UInput v-model="dataSubmit.itService.link" id="url-1" />
          </label>
          <UButton @click="() => handleSubmitData('itService')" label="저장​" />
        </div>
      </div>
      <div class="space-y-2">
        <div class="flex items-center gap-3">
          <p class="min-w-[8rem]">유형 상품 랜딩​​</p>
          <!-- <v-switch
            v-model="dataSubmit.typeProduct.status"
            label="Switch"
            inset
          ></v-switch> -->
          <UToggle v-model="dataSubmit.typeProduct.status" color="green" />
        </div>
        <div class="flex items-center gap-8">
          <label class="flex items-center gap-3" for="url-1">
            <span>랜딩 URL</span>
            <UInput v-model="dataSubmit.typeProduct.link" id="url-1" />
          </label>
          <UButton
            @click="() => handleSubmitData('typeProduct')"
            label="저장​"
          />
        </div>
      </div>
      <div class="space-y-2">
        <div class="flex items-center gap-3">
          <p class="min-w-[8rem]">서비스 랜딩​​</p>
          <!-- <v-switch
            v-model="dataSubmit.serviceLanding.status"
            label="Switch"
            inset
          ></v-switch> -->
          <UToggle v-model="dataSubmit.serviceLanding.status" color="green" />
        </div>
        <div class="flex items-center gap-8">
          <label class="flex items-center gap-3" for="url-1">
            <span>랜딩 URL</span>
            <UInput v-model="dataSubmit.serviceLanding.link" id="url-1" />
          </label>
          <UButton
            @click="() => handleSubmitData('serviceLanding')"
            label="저장​"
          />
        </div>
      </div>
    </div>
    <UModal v-model="isOpen">
      <UCard
        :ui="{
          ring: '',
          divide: 'divide-y divide-gray-100 dark:divide-gray-800',
        }"
      >
        <template #header>
          <div class="flex items-center justify-between">
            <h3
              class="text-base font-semibold leading-6 text-gray-900 dark:text-white"
            >
              저장되었습니다​
            </h3>
            <UButton
              color="gray"
              variant="ghost"
              icon="i-heroicons-x-mark-20-solid"
              class="-my-1"
              @click="isOpen = false"
            />
          </div>
        </template>
        <Placeholder class="h-32" />
        <div class="flex items-center justify-center">
          <UButton @click="isOpen = false">확인​</UButton>
        </div>
      </UCard>
    </UModal>

  </div>
</template>
<style scoped>
:deep(.v-input__details) {
  display: none !important;
}
:deep(.form-input) {
  width: 30rem;
}

:deep(.v-card--variant-elevated.v-card--variant-flat) {
  color: white;
}
:deep(button[role="switch"]) {
  height: 1rem;
}
</style>
