<script setup>
import BannerMsCommunication from "~/components/block/BannerMsCommunication.vue";
import BodyMsCommunication from "~/components/block/BodyMsCommunication.vue";
import { layoutStore } from "@/store/layout.store";


const store = layoutStore();
const route = useRoute();


onMounted(async () => {
  store.setBackgroundColor("white");
  store.setIsNeedToChangeBg(true);
});
</script>
<template>
  <section>
    <BannerMsCommunication />
    <BodyMsCommunication />
  </section>
</template>
