<template>
  <div class="pt-[5.438rem] md:pt-[7.5rem]">
    <MainBannerClient :data="dataBanner" />
    <SlidePartnerClient :data="data" />
    <SlidePartnerClient :data="data2" />
    <SlidePartnerClient :data="data3" />
    <PartnerClientsContent4 :data="data4" />
  </div>
</template>

<script setup>
import { layoutStore } from "@/store/layout.store";
import { onMounted, ref } from "vue";

import SlidePartnerClient from "@/components/element/ContentClients.vue";
import PartnerClientsContent4 from "@/components/element/ContentClients4.vue";
import Brand1 from "@/assets/image/partner-client/img-1.svg";
import Brand16 from "@/assets/image/brand/brand16.png";
import Brand18 from "@/assets/image/brand/brand18.png";
import Brand19 from "@/assets/image/brand/brand19.png";
import Brand20 from "@/assets/image/brand/brand20.png";
import Brand21 from "@/assets/image/brand/brand21.webp";
import Brand22 from "@/assets/image/brand/brand22.webp";
import Brand23 from "@/assets/image/brand/brand23.webp";
import Brand24 from "@/assets/image/brand/brand24.png";
import Brand25 from "@/assets/image/brand/brand25.png";
import Brand34 from "@/assets/image/brand/brand34.webp";
import Brand32 from "@/assets/image/brand/brand32.png";
import Brand33 from "@/assets/image/brand/brand30.png";
import Brand40 from "@/assets/image/brand/brand41.svg";
import Brand35 from "@/assets/image/brand/brand42.svg";
import Brand36 from "@/assets/image/brand/brand43.svg";

import imgBanner from "assets/image/partner-client/Frame.png";

const data = ref({
  bgColorItem: "#FFFFFF",
  bgColor: "#F1F1F1",
  title: "카드형 BPO",
  data: [
    {
      img: Brand1,
      title: "비즈큐브솔루션",
      content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
    },
    {
      img: Brand18,
      title: "온유",
      content: `임직원 복지를 위해 카드형 BPO를 통한 맞춤형 문화공연 관람 서비스 제공 통한 임직원 만족도 제고`,
    },
    {
      img: Brand16,
      title: "성균관대 글로벌창업대학원​",
      content: `자체 행사에서 카드형 BPO 서비스를 통해 행사 기획 및 상품 증정으로 인해 행사 참가자 만족도 제고`,
    },
    {
      img: Brand20,
      title: "시즐",
      content: `카드형 BPO로 클라우드 마이그레이션을 통한 AWS 혜택으로 안정적인 자체 솔루션 시스템 가동`,
    },
  ],
});
const data2 = ref({
  bgColorItem: "#F1F1F1",
  bgColor: "#FFFFFF",
  title: "컨설팅형 BPO",
  data: [
    {
      img: Brand19,
      title: "포인엑스",
      content: `컨설팅형 BPO 서비스를 통한 고 퀄리티의 자체 서비스 웹페이지 리뉴얼 작업 진행​`,
    },
    {
      img: Brand16,
      title: "초기창업패키지 사업단​",
      content: `컨설팅형 BPO로 자체 부담 최소화 및 사업 참여 기업의 높은 만족도를 기록한 서비스 제공​`,
    },
    {
      img: Brand25,
      title: "한국기술벤처재단",
      content: `육성 기업 10개사 대상 사업화 현황 분석 및 IR 제안서 작성을 컨설팅형 BPO 서비스를 통하여 제공`,
    },
    {
      img: Brand21,
      title: "캠퍼스타운 사업단",
      content: `IT 분야 창업 준비자 대상 컨설팅형 BPO 서비스를 통한 인큐베이팅 팀 육성 운영 서비스 제공​`,
    },
  ],
});
const data3 = ref({
  bgColorItem: "#FFFFFF",
  bgColor: "#F1F1F1",
  title: "매칭형 BPO",
  data: [
    {
      img: Brand34,
      title: "젤로젤로 (트리플 닷)",
      content: `글로벌 바이어 대상 홍보 및 매칭 지원과 현지 바이어와 중간 커뮤니케이션 및 협상 담당​`,
    },
    {
      img: Brand24,
      title: "웰코스",
      content: `글로벌 바이어 대상 홍보와 매칭 지원 서비스 제공 및 글로벌 바이어 커뮤니케이션 대행​`,
    },
    {
      img: Brand23,
      title: "그레이스 클럽",
      content: `글로벌 바이어 대상 홍보와 매칭 지원 서비스 제공 및 글로벌 바이어 커뮤니케이션 대행`,
    },
    {
      img: Brand32,
      title: "새한 화장품",
      content: `소싱 문의한 글로벌 바이어 대상 기업 연계 및 커뮤니케이션과 샘플 배송 진행, 모니터링 서비스 제공`,
    },
  ],
});
const data4 = ref([
  {
    img: Brand1,
    title: "비즈큐브솔루션",
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
  },
  {
    img: Brand18,
    title: "비즈큐브솔루션",
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
  },
  {
    img: Brand16,
    title: "비즈큐브솔루션",
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
  },
  {
    img: Brand20,
    title: "비즈큐브솔루션",
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
  },
  {
    img: Brand21,
    title: "비즈큐브솔루션",
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
  },
  {
    img: Brand19,
    title: "비즈큐브솔루션",
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
  },
  {
    img: Brand22,
    title: "비즈큐브솔루션",
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
  },
  {
    img: Brand33,
    title: "비즈큐브솔루션",
    order: 'md:order-none order-[6]',
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
  },
  {
    img: Brand25,
    order: 'md:order-none order-[2]',
    title: "비즈큐브솔루션",
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
  },
  {
    img: Brand34,
    title: "비즈큐브솔루션",
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
  },
  {
    img: Brand32,
    title: "비즈큐브솔루션",
    order: 'md:order-none order-[4]',
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
  },
  {
    img: Brand23,
    order: 'md:order-none order-[3]',
    title: "비즈큐브솔루션",
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
  },
  {
    img: Brand24,
    order: 'md:order-none order-[5]',
    title: "비즈큐브솔루션",
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
  },
  {
    img: Brand35,
    title: "비즈큐브솔루션",
    order: 'md:order-none order-[6]',
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
    desktop: true
  },
  {
    img: Brand36,
    title: "비즈큐브솔루션",
    order: 'md:order-none order-[7]',
    content: `카드형 BPO로 AWS의 할인
혜택 및 기술지원 등의 추가
활용을 통한 고정비 절감 및
개발 시간 단축`,
    desktop: true
  },
]);
const dataBanner = ref({
  img: imgBanner,
  imgMb: imgBanner,
  title: "Clients",
  text: "엠에스커뮤니케이션과 함께 성장하고 있는 기업들의<br/> 이야기를 직접 들어보세요.",
});
const store = layoutStore();

onMounted(async () => {
  store.setBackgroundColor("white");
  store.setIsHeight(true);
  store.setIsNeedToChangeBg(true);
});
</script>

<style scoped></style>
