<script setup>
definePageMeta({
  layout: "custom",
});
</script>
<template>
  <section>
    <DetailService />
  </section>
</template>
<style scoped>
:deep(.v-breadcrumbs) {
  padding: 0;
}
</style>
