<template>
  <div class="pt-[5.438rem] md:pt-[7.5rem]">
    <MainBannerClient :data="dataBanner" />
    <CardPartnerClients />
  </div>
</template>

<script setup>
import { ref } from "vue";
import img1 from "assets/image/partner-client/img-1.svg";
// import imgBanner from "assets/image/partner-client/Frame.png";
import imgBanner from "@/assets/image/partner-client/mainbanner.webp";
import imgBannerMb from "assets/image/partner-client/Vector.png";
import { layoutStore } from "@/store/layout.store";
import { onMounted } from "vue";

const store = layoutStore();

const dataBanner = ref({
  img: imgBanner,
  imgMb: imgBanner,
  title: "Partner",
  text: "엠에스커뮤니케이션은 서비스별 다양한 파트너와의<br/> 협력을 통해 최고의 서비스와 솔루션을 제공합니다.",
});


onMounted(async () => {
  store.setBackgroundColor("white");
  store.setIsNeedToChangeBg(true);
  
});
</script>

<style scoped></style>
