<template>
  <div class="pt-[5.438rem] md:pt-[7.5rem] mb-[10rem]">
    <NewRoomMS :data="dataNewRoom" />
    <NewPostMSC :data="dataNewRoom" />
    <MSCNewsroomInsights />
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import img1 from "assets/image/ms-newsroom/img2.png";
import { layoutStore } from "@/store/layout.store";
import NewRoomMS from "@/components/element/NewRoomMS.vue";
import {getBlogNewsRoom, useClient} from "~/composables/repositories/useClient";
// import NewPostMSC from "@/components/block/NewPostMSC.vue";
// import MSCNewsroomInsights from "@/components/block/MSCNewsroomInsights.vue";
import { questionStore } from "@/store/question.store";

const store = layoutStore();
const storeQuestion = questionStore();

const dataNewRoom = ref({
  bgColorItem: "#FFFFFF",
  bgColor: "#F1F1F1",
  title: "컨설팅형 BPO",
  data: [],
});

const _getDocumentNewsRoom = async () => {
  storeQuestion.setStatusLoading(true);
  try {
    const {data} = await useClient.getDocumentNewsRoom({
      textSearch: "",
      status: true,
      page: 0,
      size: 4,
    })
    dataNewRoom.value.data = data.content
  }catch (e) {
    console.log(e)
  } finally {
    storeQuestion.setStatusLoading(false);
  }
};

onMounted(async () => {
  store.setBackgroundColor("white");
  store.setIsNeedToChangeBg(true);
  await _getDocumentNewsRoom()
});

</script>

<style scoped></style>
