@font-face {
  font-family: "Pretendard Variable";
  src: local("Pretendard Variable"),
    url("../font/Pretendard_Font/Pretendard_Font/public/variable/PretendardVariable.ttf")
      format("truetype");
  font-display: swap;
}
