 <template>
  <div class="pt-[5.438rem] md:pt-[7.5rem]">
    <MainBannerClient :data="dataBanner"/>
    <CardInfomationService :data="dataCartInfo" />
    <CardProcessService :data="dataCardProcess" :uid="2"/>
    <ClientService :data="data" />
    <CardContactService :data="dataContact" :uid="2"/>
  </div>
</template>

<script setup lang="ts">
import {ref} from "vue";
import img1 from "@/assets/image/service-card/Vector (1).png"
import imgBanner from "assets/image/partner-client/Frame.png"
import imgBannerMb from "assets/image/partner-client/Vector.png"
import imgBanner2 from "@/assets/image/service-card/banner-consulting.png"
import CardImg from "@/assets/image/service-card/card.svg"

import iconSearch from "@/assets/image/service-card/search.svg";
import iconDocument from "@/assets/image/service-card/document.svg";
import iconGraph from "@/assets/image/service-card/graph.svg";
import iconSupport from "@/assets/image/service-card/support.svg";

import Bpo1 from "@/assets/image/bpo/bpo1.png"
import Bpo2 from "@/assets/image/bpo/bpo2.png"
import Bpo3 from "@/assets/image/bpo/bpo3.png"
import Bpo4 from "@/assets/image/bpo/bpo4.png"


import consulting1 from "@/assets/image/service-card/consulting1.svg"
import consulting2 from "@/assets/image/service-card/consulting2.svg"
import consulting3 from "@/assets/image/service-card/consulting3.svg"

import iconKaKaotalk from '@/assets/image/service-card/kakao-talk-photo.svg';
import iconMatching from '@/assets/image/service-card/icon-matching.svg';
import { layoutStore } from "@/store/layout.store";

const store = layoutStore();

const dataBanner = ref({
  img: imgBanner2,
  imgMb: imgBanner,
  title: "빠르게 성장하는 기업의 비밀, 여기 오시면 알려드릴게요.",
  text: "예비·초기 스타트업을 직접 진단하고 단계별 서비스를 제공하는\n" +
      "컨설팅형 Business Process Outsourcing"
})

const dataCardProcess = ref({
  title: "카드형 BPO",
  title2: "성장을 위한\n" +
      "핵심 업무에만 집중하세요.",
  dataStepNoButton: [

  ],
  dataStepButton: {
    textBtn1: "컨설팅 및 솔루션 제공",
    textBtn2: "전문가 매칭 ",
    dataBtn1: [
      {
        icon: iconSearch,
        text: "비즈니스 단계별\n" +
            "기업 진단",
      },
      {
        icon: iconDocument,
        text: "각종 지원 사업\n" +
            "컨설팅 및 피칭 교육",
      },
      {
        icon: iconGraph,
        text: "비즈니스 모델 설계 및\n" +
            "중장기 성장 전략 컨설팅",
      },
    ],
    dataBtn2: [
      {
        icon: iconSearch,
        text: "비즈니스 단계별\n" +
            "기업 진단 ",
      },
      {
        icon: iconMatching,
        text: "원하는 비즈니스 고민 해결\n" +
            "전문가와 매칭 지원",
      },
      {
        icon: iconDocument,
        text: "전문가 업무 수행 관리 및\n" +
            "관련 업무 노하루 내재화 지원",
      },
    ],
  },
  textBtn: "컨설팅형 BPO 문의하기",
})

const dataCartInfo = ref({
  img1: consulting1,
  title1:"사업화 컨설팅",
  content1: "비즈니스 모델 설계, 각종 정부지원 사업 컨설팅, \n" +
      "수익성 개선과 브랜드 전략 수립 등, 사업의 본질적인 가치를 전달합니다. 초기 사업체의 시장성 검증부터 중장기 전략까지 함께 합니다.",
  img2: consulting2,
  title2:"전문가 매칭",
  content2: "기업이 겪는 모든 비즈니스 고민을 전문가와 함께\n" +
      "상담해보세요. 엠에스커뮤니케이션이 기업이 원하는 최적의 전문가 매칭을 지원하고 문제 해결을 돕습니다.",
  img3: consulting3,
  title3:"IT 인프라 개발",
  content3: "MVP(시제품)제작은 물론 서비스 고도화\n" +
      "컨설팅까지 가능한 업계 최고 수준 개발자와\n" +
      "함께 하세요. 전문 개발팀이 비즈니스의 성장을\n" +
      "돕는 최고의 IT 솔루션을 제공합니다.",
})

const data = ref({
  bgColorItem: "#FFFFFF",
  bgColor: "#F1F1F1",
  title: "컨설팅형 BPO",
  data: [
    {
      img: Bpo1,
      title: "비즈큐브솔루션",
      content: "카드형 BPO로 AWS의 할인\n" +
          "혜택 및 기술지원 등의 추가\n" +
          "활용을 통한 고정비 절감 및\n" +
          "개발 시간 단축",
      img2: iconKaKaotalk
    },
    {
      img: Bpo2,
      title: "비즈큐브솔루션",
      content: "카드형 BPO로 AWS의 할인\n" +
          "혜택 및 기술지원 등의 추가\n" +
          "활용을 통한 고정비 절감 및\n" +
          "개발 시간 단축",
      img2: iconKaKaotalk
    },
    {
      img: Bpo3,
      title: "비즈큐브솔루션",
      content: "카드형 BPO로 AWS의 할인\n" +
          "혜택 및 기술지원 등의 추가\n" +
          "활용을 통한 고정비 절감 및\n" +
          "개발 시간 단축",
      img2: iconKaKaotalk
    },
    {
      img: Bpo4,
      title: "비즈큐브솔루션",
      content: "카드형 BPO로 AWS의 할인\n" +
          "혜택 및 기술지원 등의 추가\n" +
          "활용을 통한 고정비 절감 및\n" +
          "개발 시간 단축",
      img2: iconKaKaotalk
    }
  ]
})

const dataContact = ref({
  bgColor: "#FFFFFF",
  title: "지금 컨설팅형 BPO 무료 견적문의를 하고\n" +
      "빠르게 발전하는 비즈니스를 설계하세요."
})

onMounted(async () => {
  store.setBackgroundColor("white");
  store.setIsNeedToChangeBg(true);
});
</script>

<style scoped>

</style>