<script setup>
import Policy from "../modal/Policy.vue";
import Question from "../modal/Question.vue";
import policy from "@/assets/json/policy";

const data = [
  {
    id: 123,
    name: "엠에스커뮤니케이션",
    child: [
      { id: 11111, nameChild: "about", link: "/ms-communication" },
      {
        id: 1112211,
        nameChild: "newsroom",
        link: "/ms-communication-newsroom",
      },
    ],
  },
  {
    id: 1223,
    name: "파트너",
    child: [
      { id: 1111231, nameChild: "파트너사", link: "/partner-card" },
      { id: 118231, nameChild: "고객사", link: "/partner-client" },
    ],
  },
  {
    id: 1323,
    name: "서비스",
    child: [
      { id: 11113331, nameChild: "카드형 BPO", link: "/service-card" },
      { id: 151231, nameChild: "컨설팅형 BPO", link: "/service-consulting" },
      { id: 1161231, nameChild: "매칭형 BPO", link: "/service-matching" },
    ],
  },
];
</script>
<template>
  <footer
    class="bg-[#333333] px-[1.25rem] pb-[7.5rem] pt-[3.75rem] md:py-[5rem] text-white md:px-0"
  >
    <section class="container mx-auto grid grid-cols-8">
      <div class="col-span-7 md:col-span-5">
        <div class="space-y-4 md:space-y-[18px]">
          <div class="h-[1.875rem] w-[4.75rem] md:h-[2.5rem] md:w-[6.25rem]">
            <img
              preload
              loading="lazy"
              src="@/assets/image/logo/logo-header-white.svg"
              class="h-full w-full object-cover"
              alt="logo"
            />
          </div>
          <div
            class="text-[0.75rem] font-medium leading-6 text-white md:text-[1.25rem] md:leading-10"
          >
            <p>주식회사 엠에스커뮤니케이션</p>
            <p>대표이사 : 홍석원 | 개인정보관리 책임자 : 홍석원</p>
            <p>
              경기도 안양시 동안구 시민대로 230,<br class="block md:hidden" />
              지니센터 디동 1977호
            </p>
          </div>
        </div>
        <div
          class="mt-[5.813rem] space-y-1 text-[0.75rem] font-medium md:space-y-6 md:text-[1.25rem]"
        >
          <div class="cursor-pointer">
            <Policy :data="policy"/>
          </div>
          <span class="block">admin@mscomm.kr</span>
        </div>
      </div>
      <div class="col-span-2 hidden h-full flex-col gap-[1rem] md:flex">
        <div v-for="item in data" :key="item.id">
          <span class="text-[1.125rem] font-bold">{{ item.name }}</span>
          <ul
            v-for="childItem in item.child"
            class="flex flex-col"
            :key="childItem.id"
          >
            <li class="py-[0.75rem] text-[1.125rem] text-[#8A8A8A]">
              <NuxtLink :to="childItem.link">
                {{ childItem.nameChild }}
              </NuxtLink>
            </li>
          </ul>
        </div>
      </div>
      <div class="">
        <Question titleBtn="문의하기" :noNeedBg="true" :hasSlot="true">
          <span class="text-[1.125rem] cursor-pointer font-bold hidden md:block"
            >문의하기</span
          >
        </Question>
        <div
          class="flex h-full flex-col items-center justify-end gap-[0.5rem] pb-3 md:flex-row md:items-end md:pb-[2.2rem] md:gap-[1.5rem]"
        >
          <a href="https://www.facebook.com/mscommuication">
            <i class="fa-brands fa-facebook text-[2rem] md:text-[2.6rem]"></i>
          </a>
          <a href="https://blog.naver.com/mscomm_info">
            <div class="h-[33px] w-[32px] md:h-[44px] md:w-[44px]">
              <img
                preload
                loading="lazy"
                src="@/assets/image/icon/homepage/blog.png"
                alt="icon-blog"
                class="h-full w-full object-cover"
              />
            </div>
          </a>
        </div>
      </div>
    </section>
  </footer>
</template>
<style scoped></style>
