<script setup>
import { layoutStore } from "@/store/layout.store";
import DotWave from "~/components/loader/DotWave.vue";

const store = layoutStore();

</script>

<template>
  <NuxtPage />
  <DotWave v-show="store.statusLoading" />
</template>
