<script setup>
import { layoutStore } from "@/store/layout.store";
import { useCmsStore } from "@/store/cms.store";
import DotWave from "~/components/loader/DotWave.vue";
definePageMeta({
  middleware: "cmsWatcher",
});

const store = layoutStore();
const route = useRoute();
const router = useRouter();
const idOrSlug = computed(() => route.fullPath);

const dataSideBar = ref([
  {
    id: 3213,
    name: "고객 문의​",
    link: "",
    status: true,
    dataChild: [
      {
        idChild: 1,
        name: "고객 문의 관리​",
        nameEn: "customerManagement",
        statusChild: true,
        link: "/cms/customer-management",
      },
      {
        idChild: 51,
        name: "서비스 목록 관리​",
        nameEn: "serviceManagement",
        statusChild: false,
        link: "/cms/service-management",
      },
    ],
  },
  {
    id: 5235,
    name: "게시판",
    link: "",
    status: true,
    dataChild: [
      {
        idChild: 31,
        name: "보도자료 관리​",
        nameEn: "releaseManagement",
        statusChild: false,
        link: "/cms/list-document",
      },
      {
        idChild: 41,
        name: "블로그 관리​",
        nameEn: "blogManagement",
        statusChild: false,
        link: "/cms/list-blog",
      },
    ],
  },
  {
    id: 112312,
    name: "서비스",
    link: "",
    status: true,
    dataChild: [
      {
        idChild: 71,
        name: "제공 서비스 관리​",
        nameEn: "rovidedServiceManagement",
        link: "/cms/bpo-management",
        statusChild: false,
      },
      {
        idChild: 61,
        name: "자세히보기 설정​",
        nameEn: "detailsSettings",
        link: "/cms/settings-service",
        statusChild: false,
      },
    ],
  },
  {
    id: 1123444412,
    name: "페이지",
    link: "",
    status: true,
    dataChild: [
      {
        idChild: 111,
        name: "페이지 목록​​",
        nameEn: "pageList",
        link: "/cms/seo-management",
        statusChild: false,
      },
    ],
  },
]);

const handleChangeStatus = (index, status, length, link) => {
  if (length) {
    dataSideBar.value[index].status = !status;

    return;
  }
  router.push(`${link}`);
};

const handleLogout = () => {
  router.push("/cms");
  sessionStorage.clear();
};
const handleSearchAndToggleStatus = (child) => {
  dataSideBar.value.forEach((item) =>
    item.dataChild.find((name) => {
      if (name.link === child) {
        name.statusChild = true;
      } else {
        name.statusChild = false;
      }
    })
  );
};

const _checkPageSelected = () => {
  let result = null;
  if (route.fullPath.split("/").length >= 3) {
    result = route?.fullPath?.split("/").slice(0, 3).join("/");
  } else {
    result = route.fullPath?.substring(0, route?.fullPath?.lastIndexOf("/"));
  }
  handleSearchAndToggleStatus(result);
};

onMounted(() => {
  _checkPageSelected();
});

watch(
  () => idOrSlug.value,
  () => {
    _checkPageSelected();
  }
);
</script>

<template>
  <section>
    <div class="">
      <v-card>
        <v-layout>
          <v-navigation-drawer expand-on-hover rail>
            <v-list>
              <v-list-item
                prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
                title="Sandra Adams"
                subtitle="sandra_a88@gmailcom"
              ></v-list-item>
            </v-list>

            <v-divider></v-divider>
            <div class="flex flex-col gap-2 px-4">
              <div
                v-for="(item, index) in dataSideBar"
                :key="item.id"
                class="inline-block relative"
              >
                <button
                  @click="
                    () =>
                      handleChangeStatus(
                        index,
                        item.status,
                        item.dataChild,
                        item.link
                      )
                  "
                  class="hover:bg-gray-300 transition-all overflow-hidden min-w-[8rem] w-full justify-between text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center"
                >
                  <span class="mr-1">{{ item.name }}</span>
                  <i
                    v-if="item.dataChild"
                    :class="item.status ? 'rotate-180' : ''"
                    class="fa-solid fa-sort-down"
                  ></i>
                </button>
                <ul
                  v-show="item.status"
                  v-for="child in item.dataChild"
                  :key="child.idChild"
                  class="text-gray-700 pt-1 w-full"
                >
                  <li class="">
                    <NuxtLink
                      :to="child.link"
                    >
                      <a
                        :class="
                          child.statusChild
                            ? 'text-white bg-green-700'
                            : 'bg-gray-200 hover:bg-gray-400'
                        "
                        class="rounded-t overflow-hidden min-w-[10rem] py-2 px-4 block whitespace-no-wrap"
                        href="#"
                        >{{ child.name }}</a
                      >
                    </NuxtLink>
                  </li>
                </ul>
              </div>
              <button
                @click="handleLogout"
                class="hover:bg-gray-300 transition-all overflow-hidden min-w-[8rem] w-full justify-between text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center"
              >
                <span class="mr-1">Log out </span>
              </button>
            </div>
          </v-navigation-drawer>

          <v-main class="flex-1 relative overflow-y-auto overflow-x-hidden">
            <div class="p-[1rem] border mb-[1rem]">
              <img
                loading="eager"
                class=""
                src="@/assets/image/logo/logo-header-black.svg"
                alt=""
              />
            </div>
            <NuxtPage class="px-[5rem]" />
            <DotWave v-show="store.statusLoading" />
          </v-main>
        </v-layout>
      </v-card>
    </div>
  </section>
</template>

<style scoped>
:deep(.v-main) {
  height: 100vh;
}
</style>
