<script setup>
import Header from "@/components/header/index.vue";
import Footer from "@/components/footer/index.vue";
import FlowingButton from "@/components/element/FlowingButton.vue";
import { layoutStore } from "@/store/layout.store";
import DotWave2 from "~/components/loader/DotWave2.vue";
import { useWindowSize } from "@vueuse/core";
import { useClient } from "~/composables/repositories/useClient";
import { onMounted } from "vue";

const store = layoutStore();
const route = useRoute();
const idOrSlug = computed(() => route.fullPath);
const { data, pending, error, refresh } = await useAsyncData(
  "seo",
  () =>
    $fetch(
      `${import.meta.env.VITE_SOME_KEY}/public/api/page/findByUrl?url=${
        route.fullPath
      }`
    ),
  {
    lazy: true,
    watch: idOrSlug,
    initialCache: false,
  }
);
const colorMode = useColorMode();

useSeoMeta({
  title: () => data.value.data?.header,
  ogTitle: () => data.value.data?.header,
  description: () => data.value.data?.description,
  ogDescription: () => data.value.data?.description,
  ogImage: () => data.value.data?.pathFile,
  link: () => data.value.data?.url,
  keywords: () => data.value?.metaKeyword,
});
onMounted(() => {
  colorMode.preference = "light";
});
</script>

<template>
  <main>
    <Header />
    <section>
      <NuxtPage />
      <FlowingButton />
    </section>
    <Footer />
    <DotWave2 v-show="store.statusLoading" />
  </main>
</template>

<style scoped></style>
