<script setup>
import DropDown from "../dropdown/index.vue";
import { onClickOutside } from "@vueuse/core";

const props = defineProps({
  data: Object,
  isShowDropDown: {
    default: true,
    type: Boolean,
  },
  title: String,
});

const modalRef = ref(null);
const contentSelected = ref(null);
const dialogStatus = ref(null);

const handleGetValue = (child) => {
  contentSelected.value = child;
};

const handleShowModal = (status) => {
  // storeLayout.setIsHeaderMobile(storeLayout.isHeaderMobile)
  if (status) {
    dialogStatus.value = true;
    return;
  }
  dialogStatus.value = false;
};
onClickOutside(modalRef, (event) => {
  handleShowModal(false);
});
</script>
<template>
  <div class="">
    <div
      type="button"
      class="cursor-pointer inline-block"
      @click="() => handleShowModal(true)"
    >
      {{ title ?? "개인정보처리방침" }}
    </div>
    <div
      v-if="dialogStatus"
      class="fixed top-0 right-0 bottom-0 left-0 z-[100] bg-[#5d5d5d61] flex items-center justify-center"
    >
      <div
        ref="modalRef"
        :eager="true"
        class="w-screen h-screen md:w-[636px] md:h-auto"
      >
        <v-card class="block h-full md:h-auto">
          <div :class="isShowDropDown ? '' : 'mb-[1rem]'" class="flex items-center justify-between">
            <p class="font-[700] text-[1.5rem]">개인정보처리방침</p>
            <i
              class="cursor-pointer text-[1.2rem] fa-solid fa-x"
              @click="() => handleShowModal(false)"
            ></i>
          </div>
          <div v-if="isShowDropDown" class="mb-[1rem] mt-[1.25rem]">
            <DropDown @getContent="handleGetValue" />
          </div>

          <v-card-actions>
            <div
              class="p-[1rem] md:p-[1.75rem] w-full rounded-[10px] bg-[#F1F1F1]"
            >
              <div
                v-html="data[`${contentSelected}`] ?? data"
                id="style-4"
                class="text-[#707070] h-[35.375rem] overflow-y-auto"
              ></div>
            </div>
          </v-card-actions>
        </v-card>
      </div>
    </div>
  </div>
</template>
<style scoped>
.block {
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
  padding-top: 2.25rem !important;
  padding-bottom: 1.875rem !important;
}
:deep(.v-card-item) {
  padding: 0 !important;
}
:deep(.v-card-title) {
  margin-bottom: 1.25rem;
}
:deep(.v-card-text) {
  padding: 0 !important;
}
:deep(.v-card-actions) {
  padding: 0 !important;
}
#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #59acff;
  margin-right: 10rem;
}

@media (max-width: 760px) {
  :deep(.v-overlay__content) {
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}
#style-4 {
  font-weight: 400 !important;
  font-size: 1rem !important;
}
</style>
<!-- :deep(
    .v-card.v-theme--light.v-card--density-default.v-card--variant-elevated
  ) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
} -->
