<script setup>
import ListQuestion from "../element/ListQuestion.vue";
import ServerClients from "../element/ServerClients.vue";
import { questionStore } from "@/store/question.store";
import { layoutStore } from "@/store/layout.store";
import PrimaryButton from "../button/PrimaryButton.vue";
import FormQuestionClient from "../form/FormQuestionClient.vue";
import SubmitSuccess from "../element/SubmitSuccess.vue";
import { onClickOutside } from "@vueuse/core";
import SmallDotWave from "../loader/SmallDotWave.vue";

const store = questionStore();
const storeLayout = layoutStore();

const dialogStatus = ref(false);
const modalRef = ref(null);
const props = defineProps({
  valueSelectedQuestion: {
    type: Number,
    default: 0,
  },
  titleBtn: {
    type: String,
    default: "문의하기",
  },
  noNeedBg: Boolean,
  needFull: Boolean,
  hasSlot: Boolean,
  uid: Number,
});

const currentStepComponent = computed(() => {
  const data = [
    {
      id: 11,
      component: !store.valueSelectedQuestion ? ServerClients : ListQuestion,
    },
    {
      id: 22,
      component: FormQuestionClient,
    },
    {
      id: 33,
      component: SubmitSuccess,
    },
  ];
  return data[store.stepQuestion];
});

const titleComputed = computed(() => {
  const titleIsNull =
    "어떤 서비스가 궁금하신가요?<br/>서비스별 맞춤 견적을<br class='md:hidden'/> 무료로 빠르게 확인하세요";
  const titleSuccess =
    "무료 견적 신청 및<br class='block md:hidden'/> 상담신청이 완료됐습니다!";
  const dataTitle = {
    1: "관심있는 카드형 BPO의 서비스<br class='block md:hidden'/> 내용을 선택해주세요!",
    2: "관심있는 컨설팅형 BPO의 서비스<br class='block md:hidden'/> 내용을 선택해주세요!",
    3: "관심있는 매칭형 BPO의 서비스<br class='block md:hidden'/> 내용을 선택해주세요!",
  };
  return store.stepQuestion === 2
    ? titleSuccess
    : dataTitle[store.valueSelectedQuestion ?? props.uid] ?? titleIsNull;
});

const handleShowModal = (status) => {
  // storeLayout.setIsHeaderMobile(storeLayout.isHeaderMobile)
  if (status) {
    dialogStatus.value = true;
    return;
  }
  dialogStatus.value = false;
  store.resetState();
};
onClickOutside(modalRef, (event) => {
  handleShowModal(false);
});
watch(
  () => store.statusSubmitForm,
  () => {
    handleShowModal(false);
  }
);
</script>
<template>
  <div>
    <div v-if="hasSlot" @click="() => handleShowModal(true)" class="">
      <slot />
    </div>
    <PrimaryButton
      v-else
      :class="noNeedBg ? 'bg-transparent' : 'text-white'"
      class="rounded-lg"
      :title="titleBtn"
      :noNeedBg="noNeedBg"
      :needFull="needFull"
      @click="() => handleShowModal(true)"
    />
    <div
      v-if="dialogStatus"
      class="fixed top-0 right-0 bottom-0 left-0 z-[100] bg-[#5d5d5d61] flex items-center justify-center"
    >
      <div
        ref="modalRef"
        :eager="true"
        class="w-screen h-screen md:w-[1164px] md:h-auto"
      >
        <v-card
          :class="store.stepQuestion === 2 ? 'bg-success' : ''"
          class="block relative"
        >
          <div
            class="flex items-center justify-center gap-x-1 md:gap-x-[0.875rem]"
          >
            <div
              v-for="step in 3"
              :key="step"
              :class="
                step <= store.stepQuestion + 1 ? 'bg-[#59ACFF]' : 'bg-[#D3D3D3]'
              "
              class="w-[3.75rem] h-[4px] md:w-[10.25rem] md:h-[0.375rem] rounded-[8px]"
            ></div>
          </div>
          <div class="flex flex-col gap-[2rem] md:gap-[3.75rem]">
            <div
              class="flex flex-row items-center justify-center mt-[2.625rem] md:mt-[2.5rem]"
            >
              <div
                v-html="titleComputed"
                class="font-[700] text-[1.5rem] text-center text-[#101010]"
              ></div>
              <i
                class="cursor-pointer absolute right-[1rem] top-[1.4rem] md:top-[2rem] md:right-[4rem] text-[#5C5C5C] text-[1.2rem] fa-solid fa-x"
                @click="() => handleShowModal(false)"
              ></i>
            </div>
            <div class="relative">
              <SmallDotWave v-if="store.statusLoading" />
              <component :is="currentStepComponent.component" />
            </div>
          </div>
        </v-card>
      </div>
    </div>
  </div>
</template>
<style scoped>
.block {
  padding: 3.75rem;
}
.content {
  overflow: unset !important;
}
@media (max-width: 760px) {
  .block {
    padding: 20px;
    height: 100%;
  }
  .content {
    overflow: auto;
  }
}
.bg-success {
  background: #ebf5ff !important;
}
:deep(.v-card-item) {
  padding: 0 !important;
}
:deep(.v-card-title) {
  margin-bottom: 1.25rem;
}
:deep(.v-card-text) {
  padding: 0 !important;
}
:deep(.v-card-actions) {
  padding: 0 !important;
}
#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #59acff;
  margin-right: 10rem;
}
</style>
