<script setup>
import { onMounted } from "vue";
import { layoutStore } from "@/store/layout.store";

const store = layoutStore();

onMounted(async () => {
  store.setBackgroundColor(null);
  store.setIsHeight(true);
  store.setIsNeedToChangeBg(false);
});

</script>
<template>
  <section>
    <BannerHome />
    <ServiceHome />
    <IntroDuctionHome />
    <AboutMsHome />
    <ClientHome />
    <PartnersHome />
    <ContactHome />
  </section>
</template>
