<template>
  <div class="pt-[5.438rem] md:pt-[7.5rem]">
    <MainBannerClient :data="dataBanner" />
    <CardInfomationService :data="dataCartInfo" />
    <CardProcessService :data="dataCardProcess" :uid="1"/>
    <ClientService :data="data" />
    <CardServiceLink />
    <CardContactService :data="dataContact" :uid="1"/>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import img1 from "@/assets/image/service-card/Vector (1).png";
import imgBanner from "assets/image/partner-client/Frame.png";
import imgBannerMb from "assets/image/partner-client/Vector.png";

import CardImg from "@/assets/image/service-card/card.svg";
import CardImg2 from "@/assets/image/service-card/card2.svg";
import CardImg3 from "@/assets/image/service-card/card3.svg";

import Bpo5 from "@/assets/image/bpo/bpo5.png"
import Bpo6 from "@/assets/image/bpo/bpo6.png"
import Bpo7 from "@/assets/image/bpo/bpo7.png"
import Bpo8 from "@/assets/image/bpo/bpo8.png"

import iconSearch from "@/assets/image/service-card/search.svg";
import iconDocument from "@/assets/image/service-card/document.svg";
import iconGraph from "@/assets/image/service-card/graph.svg";
import iconSupport from "@/assets/image/service-card/support.svg";

import iconKaKaotalk from '@/assets/image/service-card/kakao-talk-photo.svg';
import { layoutStore } from "@/store/layout.store";
import { onMounted } from "vue";

const store = layoutStore();
const dataBanner = ref({
  img: imgBanner,
  imgMb: imgBanner,
  title: "놀랍도록 간편한 운영 관리 서비스",
  text: "1인 기업부터 대기업까지, 모든 비즈니스 단위에서 이용 가능한\n" +
      "카드형 Business Process Outsourcing",
});

const dataCardProcess = ref({
  title: "카드형 BPO",
  title2: "카드 한 장으로 간편한 관리가 가능합니다.",
  dataStepNoButton: [
    {
      icon: iconSearch,
      text: "현재 월 이용 단가 대비\n" +
          "할인된 서비스 이용 견적 전달",
    },
    {
      icon: iconDocument,
      text: "선납금 혹은 바우처 형태로 최적화 결제 방법 제안",
    },
    {
      icon: iconGraph,
      text: "변동성 고려한 비즈니스 월 고정비용 진단",
    },
    {
      icon: iconSupport,
      text: "구독서비스와 연계된\n" +
          "합리적인 맞춤형 카드 발급",
    },
  ],
  dataStepButton: {},
  isShow: "dataStepNoButton",
  textBtn: "카드형 BPO 문의하기",
});

const dataCartInfo = ref({
  img1: CardImg,
  title1: "합리적인 운영 비용 관리",
  content1:
    "선납 연회비·바우처 통합으로 연계된 운영비 관리\n" +
    "시스템을 경험하세요. 월간 계약 대비 할인가,\n" +
    "합리적인 비용으로 서비스 구독이 가능합니다.",
  img2: CardImg2,
  title2: "간편한 구독 서비스 관리",
  content2: "IT 솔루션, 유·무형의 상품과 서스등 기관 및\n" +
      "지자체는 물론 다양한 협업사의 프로덕트 중\n" +
      "원하는 것만 골라 담아 구독할 수 있습니다.",
  img3: CardImg3,
  title3: "맞춤형 카드 발급",
  content3:"금융 그룹 및 카드사와 협업을 통해 기업에게\n" +
      "필요한 서비스와 결제 금액을 설정하여, 기업 규모와비즈니스 모델에 딱 맞는 카드 서비스를 제공합니다.",
});

const data = ref({
  bgColorItem: "#FFFFFF",
  bgColor: "#F1F1F1",
  title: "컨설팅형 BPO",
  data: [
    {
      img: Bpo5,
      title: "비즈큐브솔루션",
      content:
        "카드형 BPO로 AWS의 할인\n" +
        "혜택 및 기술지원 등의 추가\n" +
        "활용을 통한 고정비 절감 및\n" +
        "개발 시간 단축",
      img2: iconKaKaotalk,
    },
    {
      img: Bpo6,
      title: "비즈큐브솔루션",
      content:
        "카드형 BPO로 AWS의 할인\n" +
        "혜택 및 기술지원 등의 추가\n" +
        "활용을 통한 고정비 절감 및\n" +
        "개발 시간 단축",
      img2: iconKaKaotalk,
    },
    {
      img: Bpo7,
      title: "비즈큐브솔루션",
      content:
        "카드형 BPO로 AWS의 할인\n" +
        "혜택 및 기술지원 등의 추가\n" +
        "활용을 통한 고정비 절감 및\n" +
        "개발 시간 단축",
      img2: iconKaKaotalk,
    },
    {
      img: Bpo8,
      title: "비즈큐브솔루션",
      content:
        "카드형 BPO로 AWS의 할인\n" +
        "혜택 및 기술지원 등의 추가\n" +
        "활용을 통한 고정비 절감 및\n" +
        "개발 시간 단축",
      img2: iconKaKaotalk,
    }
  ],
});

const dataContact = ref({
  bgColor: "#EBF5FF",
  title: "지금 카드형 BPO 서비스 무료 상담을 하고\n" +
      "복잡한 월간 비용 처리를 단순화하세요.",
});


onMounted(async () => {
  store.setBackgroundColor("white");
  store.setIsNeedToChangeBg(true);
});
</script>

<style scoped></style>
