<template>
  <div>
    <FormAddDocument />
  </div>
</template>

<script setup lang="ts">
import {ref, watch} from "vue";
import QuillEditor from "~/components/element/QuillEditor.vue";
// import FormAddDocument from "~/components/block/FormAddDocument.vue";
definePageMeta({
  layout: "custom",
});

const countries = ["United States", "Canada", "Mexico"];
const country = ref(countries[0]);


// watch(fileImage.value, ()=>{
//
//   console.log(previewImage.value)
// })
</script>

<style scoped>

</style>