<script setup>
definePageMeta({
  layout: "custom",
});
</script>
<template>
  <section>
    <CardBPOManagement />
  </section>
</template>
<style>
:deep(.v-input__details) {
  display: none !important;
}
.v-list .v-list-item--active {
  background-color: green !important;
}
.v-list .v-list-item--active .v-list-item__title {
  color: #ffd54f !important;
}
</style>
