<script setup>
import { computed, onMounted, ref } from "vue";
import policy from "@/assets/json/policy";

const statusOpen = ref(null);
const emits = defineEmits("getContent");
const valueSelected = ref(null);

const props = defineProps({
  data: {
    type: Array,
    default: [{ id: 123123123, name: "이전방침", value: "policy1" }],
  },
  placeHolder: String
});

const statusCanOpenOrNot = computed(() => {
  return props?.data?.length === 0 || props?.data?.length === 1 ? false : true;
});

const handleShowList = () => {
  if (!statusCanOpenOrNot.value) {
    return;
  }
  statusOpen.value = !statusOpen.value;
};
const handleSelectedValue = (id, name) => {
  valueSelected.value = name;
  emits("getContent", id);
  handleShowList();
};
onMounted(() => {
  emits("getContent", props?.data[0]?.value);
});
</script>
<template>
  <div
    :class="
      statusCanOpenOrNot
        ? 'cursor-pointer'
        : ''
    "
    class="w-[12.625rem] relative rounded-[10px] z-20 border border-[#D3D3D3] h-[3.375rem] flex items-center justify-between"
  >
    <div
      @click="handleShowList"
      class="w-full h-full px-[1.25rem] flex items-center justify-between"
    >
      <span class="text-[1rem] font-[500]">{{ valueSelected ?? placeHolder ?? "이전방침" }}</span>
      <i
        :class="statusOpen ? 'rotate-180' : ''"
        class="fa-solid fa-angle-down text-[#B2B2B2]"
      ></i>
    </div>
    <ul
      v-show="statusOpen"
      id="style-3"
      class="absolute border-[2px] border-[#D3D3D3] rounded-tl-none rounded-tr-none top-[3rem] left-0 divide-y right-0 z-10 h-fit max-h-[15rem] overflow-y-auto bg-white rounded-[10px]"
    >
      <li
        :class="item?.required ? 'hidden' :''"
        @click="() => handleSelectedValue(item.value, item.name)"
        class="px-[1.25rem] font-medium text-[1rem] text-[#8A8A8A] hover:opacity-70 transition-opacity py-[1rem]"
        v-for="item in data"
        :key="item.id"
      >
        {{ item.name }}
      </li>
    </ul>
  </div>
</template>
<style scoped>
#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #59acff;
}
</style>
../../assets/policy/policy../../assets/json/policy1
