<template>
  <div
    class="py-[6.438rem] md:py-[7.5rem] container mx-auto md:px-0 px-[20px] min-h-[70vh]"
  >
    <div
      class="md:w-[133px] w-[113px] md:h-[46px] h-[36px] flex justify-center items-center gap-2 bg-[#EBF5FF] md:rounded-[12px] rounded-[4px] px-[20px]font-[500] text-[20px] mb-3 cursor-pointer"
      @click="$router.go(-1)"
    >
      <i class="transform rotate-180"
        ><svg
          width="8"
          height="14"
          viewBox="0 0 8 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 13L7 7L1 1"
            stroke="#333333"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          /></svg
      ></i>
      <p class="">목록으로</p>
    </div>
    <div
      class="xl:text-[42px] md:text-[32px] text-[20px] xl:leading-[63px] md:leading-[43px] leading-[30px] font-[700] text-[#333333]"
    >
      <h6>{{ data.title || data.name }}</h6>
    </div>
    <div
      class="font-[500] xl:text-[28px] md:text-[24px] text-[12px] leading-[42px] text-[#B2B2B2]"
    >
      등록일 : {{ moment(data.createdDate).format("YYYY.MM.DD") }}
    </div>
    <div
      data-v-c7f63be4=""
      class="border border-[#C7C7C7] mb-[1.5rem] mt-1"
    ></div>
    <div v-html="data.content"></div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import {
  getBlogNewsRoom,
  getBlogNewsRoomID,
  useClient,
} from "~/composables/repositories/useClient";
import { questionStore } from "@/store/question.store";
import moment from "moment";
import { useRoute } from "vue-router";
import { layoutStore } from "@/store/layout.store";

const store = layoutStore();
const route = useRoute();
const storeQuestion = questionStore();
const data = ref([]);
const _getPostNewsRoomID = async () => {
  storeQuestion.setStatusLoading(true);
  try {
    // const response = await useClient.getDocumentNewsRoomID(route.params.id) : await useClient.getBlogNewsRoomID(route.params.id)
    switch (route.query.type) {
      case "document":
        const resp = await useClient.getDocumentNewsRoomID(route.params.id);
        data.value = resp.data;
        break;
      case "blog":
        const resp2 = await useClient.getBlogNewsRoomID(route.params.id);
        data.value = resp2.data;
        break;
      case "service":
        const resp3 = await useClient.getCardBPOID(route.params.id);
        data.value = resp3.data;
        break;
    }
  } catch (e) {
    console.log(e);
  } finally {
    storeQuestion.setStatusLoading(false);
  }
};

onMounted(async () => {
  store.setBackgroundColor("white");
  store.setIsNeedToChangeBg(true);
  await _getPostNewsRoomID();
});
useSeoMeta({
  title: () => `${data.value.title ?? "1111보도 자료 | newsroom"}`,
  ogTitle: () => `${data.value.title ?? "보도 자료 | newsroom"}`,
  description: () => `비지니스에 도움이 되는 최신 인사이트를 확인해보세요.`,
  ogDescription: () =>
    `${
      data.value.content ??
      "비지니스에 도움이 되는 최신 인사이트를 확인해보세요."
    }`,
  ogImage: () => `${data.value.pathThumbnail}`,
});
</script>

<style scoped></style>
