<template>
  <div class="flex items-center gap-3">
    <NuxtLink @click="router.go(-1)" class="text-xl font-[500] cursor-pointer">
      {{data[0]}}
    </NuxtLink>
    <div class="">/</div>
    <div>{{data[1]}}</div>
  </div>
</template>

<script setup lang="ts">

const router = useRouter();
const props = defineProps({
  data: Array,
});

</script>

<style scoped>

</style>