<script setup>
const emits = defineEmits(["sendStatus"]);

const status = ref(true);
const handleTurnOff = () => {
  status.value = false;
  emits("sendStatus", false);
};
</script>
<template>
  <Transition name="slide-fade">
    <div class="flex h-full items-center gap-[0.5rem]">
      <button
        @click="handleTurnOff"
        class="rounded-xl md:h-[4rem] flex items-center justify-center cursor-pointer px-2 bg-white"
      >
        <i class="fa-solid fa-angle-right text-[#b2b2b2] text-lg"></i>
      </button>
      <a
        class="h-[4rem] w-[7rem] flex items-center justify-center rounded-xl bg-white"
        href="https://www.facebook.com/mscommuication"
      >
        <i class="fa-brands text-[#b2b2b2] fa-facebook text-[3rem]"></i>
      </a>
      <a
        class="h-[4rem] w-[7rem] flex items-center justify-center rounded-xl bg-white"
        href="https://blog.naver.com/mscomm_info"
      >
        <div class="md:h-[44px] md:w-[44px]">
          <img
            preload
            loading="lazy"
            src="@/assets/image/icon/homepage/blog-gray.svg"
            alt="icon-blog"
            class="h-full w-full object-cover"
          />
        </div>
      </a>
    </div>
  </Transition>
</template>
<style scope>
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>
