<template>
  <div class="py-[60px] md:py-[140px] bg-white">
    <div class="container mx-auto px-[20px] md:px-[0]">
      <div
        class="w-full text-center text-[#101010] font-[700] text-[36px] leading-[54px]"
      >
        Clients
        <div
          class="text-[#333333] text-[14px] font-[500] leading-[21px] block md:hidden"
        >
          엠에스커뮤니케이션은 다양한 분야의 <br />
          고객사와 함께 성장하고 있습니다.
        </div>
      </div>
      <div class="mt-[60px]">
        <div class="grid grid-cols-2 md:grid-cols-5 gap-[12px] md:gap-[35px]">
          <div
            v-for="item in data"
            :key="item.id"
            :class="`${item.desktop ? 'md:hidden' : ''} ${item?.order} `"
            class="flex md:w-full md:p-0 p-[1rem] h-[70px] md:h-[117px] md:border-none items-center justify-center border border-[#F1F1F1] rounded-lg"
          >
            <div
              class="min-w-[4rem] h-[3rem] md:h-auto md:w-auto md:max-w-full md:max-h-full"
            >
              <img
                style="mix-blend-mode: darken"
                preload
                loading="lazy"
                class="object-scale-down md:object-contain w-full h-full"
                :src="item.img"
                alt="brand"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  data: Object,
});
</script>

<style scoped></style>
