<template>
  <div class="pl-[20px] md:pl-0 py-[60px] md:py-[140px]" :style="styleProps">
    <div class="container mx-auto">
      <swiper
        :slidesPerView="1.7"
        :spaceBetween="12"
        :pagination="{
          type: 'progressbar',
        }"
        :navigation="true"
        :loop="true"
        :breakpoints="{
          '1440': {
            slidesPerView: 4,
            spaceBetween: 40,
            slidesPerGroup: 1,
          },
        }"
        @slideChange="onSlideChange"
        :modules="[Keyboard, Scrollbar, Navigation, Pagination]"
        class="mySwiper"
      >
        <div class="top-0 absolute z-[10]">
          <div
            class="md:mb-[32px] mb-[42px] text-[#101010] md:text-[36px] text-[20px] font-[700] top-1/2"
          >
            {{ data.title }}
          </div>
        </div>
        <div
          v-if="
            props?.data?.data.length <= 4 && width < 678
              ? ''
              : 'swiper-pagination'
          "
          class="h-auto right-[10rem]"
        >
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <swiper-slide v-for="item in props?.data?.data" :key="item.id">
          <div
            class="rounded-[20px] px-[20px] pt-[16px] pb-[40px] md:px-[36px] md:py-[32px] overflow-hidden md:w-[320px] md:h-[380px] flex flex-col gap-[20px]"
            :style="classItem"
          >
            <div class="h-[70px] w-full md:h-[8.125rem]">
              <img
                style="mix-blend-mode: darken"
                preload
                loading="lazy"
                class="w-full h-full object-scale-down"
                :src="item.img"
                alt="brand"
              />
            </div>
            <div class="">
              <div class="text-[#5C5C5C] font-[700] text-[14px] md:text-[24px]">
                {{ item.title }}
              </div>
              <div
                class="mt-[4px] break-keep md:mt-[12px] line-clamp-2 md:line-clamp-4 text-[14px] md:text-[20px] font-[500] md:leading-[30px] text-[#5C5C5C]"
              >
                <p>{{ item.content }}</p>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { Swiper, SwiperSlide, useSwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";

import "swiper/css/pagination";
import "swiper/css/navigation";
import {
  Keyboard,
  Scrollbar,
  Pagination,
  Navigation,
  Mousewheel,
} from "swiper/modules";
import "swiper/swiper-bundle.css";
import { useWindowSize } from "@vueuse/core";

const mySwiper = ref(null);
const { width, height } = useWindowSize();
const props = defineProps({
  data: Object,
});
const classItem = ref();
const styleProps = ref();

const onSlideChange = (event) => {
  // console.log("slide change", event.realIndex);
};
onMounted(() => {
  classItem.value = { backgroundColor: props.data.bgColorItem };
  styleProps.value = { backgroundColor: props.data.bgColor };
});
</script>

<style scoped>
.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  padding-top: 70px;
}

.swiper-slide {
  font-size: 18px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

:deep(.swiper-wrapper) {
}

:deep(.swiper-pagination) {
  width: 100% !important;
  top: auto !important;
  bottom: 0 !important;
  z-index: 200;
}

:deep(
    .swiper-horizontal > .swiper-pagination-progressbar,
    .swiper-pagination-progressbar.swiper-pagination-horizontal,
    .swiper-vertical
      > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
    .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite
  ) {
  border-radius: 20px;
}

:deep(.swiper-pagination-progressbar-fill) {
  border-radius: 20px;
}

:deep(.swiper-pagination-bullet) {
  height: 82px;
  width: 8px;
  border-radius: 6px;
  background: #ffffff;
}

:deep(.swiper-button-prev, .swiper-button-next) {
  right: 60px !important;
  left: auto !important;
  top: 25px !important;
  bottom: auto !important;
  background: #b2b2b2;
  color: #ffffff !important;
  border-radius: 8px !important;
  width: 48px !important;
  height: 48px !important;
  padding: 10px !important;
  position: absolute;
}

:deep(.swiper-button-prev::after, .swiper-button-next::after) {
  scale: 0.5 !important;
}

:deep(.swiper-button-next) {
  right: 0px !important;
  left: auto !important;
  top: 25px !important;
  bottom: auto !important;
  background: #b2b2b2;
  color: #ffffff !important;
  border-radius: 8px !important;
  width: 48px !important;
  height: 48px !important;
  padding: 10px !important;
  position: absolute;
}
:deep(.swiper-button-next::after) {
  scale: 0.5 !important;
}

@media (max-width: 760px) {
  :deep(.swiper-button-next) {
    width: 34px !important;
    height: 34px !important;
    border-radius: 50% !important;
  }
  :deep(.swiper-button-next::after) {
    scale: 0.35 !important;
  }
  :deep(.swiper-button-prev) {
    right: 45px !important;
    width: 34px !important;
    height: 34px !important;
    border-radius: 50% !important;
  }
  :deep(.swiper-button-prev::after) {
    scale: 0.35 !important;
  }
  :deep(.swiper-pagination) {
    width: 96% !important;
  }
}
</style>
