<script setup>
const handlerScrollToTop = () => {
  window.scrollTo(0, 0);
};
</script>
<template>
  <div class="top-[40rem] z-40 right-[4rem] md:fixed hidden md:block">
    <button
      @click="handlerScrollToTop"
      class="md:w-[6.25rem] mt-[1rem] rounded-full bg-[#113e6c] flex items-center justify-center md:h-[6.25rem]"
    >
      <i class="fa-solid fa-arrow-up text-white text-[2rem]"></i>
    </button>
  </div>
</template>
