<script setup>
import { ref } from "vue";
import { useClient } from "~/composables/repositories/useClient";
import { questionStore } from "@/store/question.store";
import { layoutStore } from "@/store/layout.store";

const store = questionStore();
const storeLayout = layoutStore();

const valueSelected = ref([]);
const dataListQuestion = ref([]);

const handleNextStep = () => {
  if (!valueSelected.value.length) {
    return;
  }
  store.setStepQuestion(1);
  store.setAdditionalInquiriesContent(valueSelected.value);
};

const _getListQuestions = async () => {
  try {
    store.setStatusLoading(true);
    const { data } = await useClient.getListQuestions({
      ServiceCategoryId: store.valueSelectedQuestion,
    });
    dataListQuestion.value = await data.content;
  } catch (e) {
    console.log(e);
  } finally {
    store.setStatusLoading(false);
  }
};

onMounted(async () => {
  await _getListQuestions();
});
</script>
<template>
  <div class="">
    <v-card-actions>
      <div id="style-4" class="w-full min-h-min max-h-[30.875rem] overflow-y-auto">
        <div
          class="text-[#707070] grid grid-cols-2 md:grid-cols-5 gap-[1rem] overflow-y-auto"
        >
          <label
            v-for="question in dataListQuestion"
            :key="question.id"
            :for="question.id"
            :class="
              valueSelected.map((item) => item.id).includes(question.id)
                ? 'border-[2px] text-[#3398FF] border-[#3398FF]'
                : 'border-[#D3D3D3]'
            "
            class="text-center text-[1rem] overflow-hidden cursor-pointer hover:opacity-70 transition-opacity border p-[1.125rem] flex items-center justify-center rounded-[10px]"
          >
            <input
              class="hidden"
              :id="question.id"
              :value="{ id: question.id, content: question.name }"
              :label="question.id"
              v-model="valueSelected"
              type="checkbox"
            />
            <p v-if="question.name?.length < 27" class="line-clamp-2">
              {{ question.name }}
            </p>
            <UTooltip v-else :text="question.name">
              <p class="">
                {{ question.name }}
              </p>
            </UTooltip>
          </label>
        </div>
      </div>
    </v-card-actions>
    <div
      class="fixed bottom-0 left-0 bg-white right-0 h-[10rem] md:h-auto md:relative flex mt-[3.75rem] items-center justify-center"
    >
      <button
        @click="handleNextStep"
        :class="
          valueSelected.length
            ? 'bg-[#59ACFF] text-white '
            : 'bg-[#F1F1F1] cursor-default'
        "
        class="px-[6.188rem] text-[14px] rounded-[18px] max-w-[15rem] py-[1rem] text-[#B2B2B2] font-[700] md:text-[1.5rem]"
      >
        다음
      </button>
    </div>
  </div>
</template>
<style scoped>
#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #59acff;
  margin-right: 10rem;
}
</style>