<template>
  <div>
    <div
      class="px-[20px] md:pr-0 md:pl-0 md:pt-[140px] pt-[60px] relative"
      :style="styleProps"
    >
      <div class="md:container md:relative md:mx-auto">
        <div
          class="w-full flex md:flex-row flex-col justify-around items-center text-center text-[#101010] xl:pb-[80px] md:pb-[60px] pb-[40px] xl:text-[42px] md:text-[32px] text-[20px] xl:leading-[63px] md:leading-[43px] leading-[30px] font-[700]"
        >
          <p class="lg:max-w-[70%] max-w-[90%]">보도 자료</p>
          <div class="flex mt-4 md:mt-0 md:absolute right-0 justify-end items-center">
            <Transition name="slide-fade">
              <button
                v-if="!statusBtnSns"
                @click="handleShowBtnSns"
                class="xl:text-[24px] md:text-[18px] text-[16px] xl:leading-[36px] md:leading-[28px] leading-[24px] font-[500] md:py-[16px] py-[9px] md:px-[28px] px-[20px] bg-[#FAFAFA] text-[#8A8A8A] md:rounded-[20px] rounded-[10px] mt-[16px] md:mt-0"
              >
                SNS
              </button>
              <ButtonSns v-else @sendStatus="handleShowBtnSns" />
            </Transition>
          </div>
        </div>
      </div>
      <div class="relative">
        <swiper
          :modules="[Navigation, Pagination]"
          class="mySwiper"
          :loop="true"
          :pagination="{
            clickable: true,
          }"
          :breakpoints="{
            '360': {
              slidesPerView: 1,
              spaceBetween: 10,
              centeredSlides: true,
              slidesPerGroup: 1,
            },
            '640': {
              slidesPerView: 2,
              spaceBetween: 15,
              centeredSlides: true,
              slidesPerGroup: 1,
            },
            '768': {
              slidesPerView: 2,
              spaceBetween: 15,
              centeredSlides: true,
              slidesPerGroup: 1,
            },
            '1024': {
              slidesPerView: 2,
              spaceBetween: 40,
              centeredSlides: true,
              slidesPerGroup: 1,
            },
          }"
          slidesPerView="4"
          :spaceBetween="30"
        >
          <swiper-slide
            v-for="(item, index) in props?.data?.data"
            class=""
            :key="index"
            ref="element"
          >
            <NuxtLink :to="`/article-detail/${item.id}?type=document`">
              <div class="rounded-[20px]" :style="classItem">
                <div class="w-full h-full bg-ref-600 relative">
                  <img
                    preload
                    loading="lazy"
                    class="w-full xl:h-[480px] md:h-[360px] h-[200px] object-cover overflow-hidden rounded-[20px]"
                    :src="item.pathThumbnail ? item.pathThumbnail : logo"
                    alt=""
                  />
                  <i
                    class="w-[10px] h-[10px] md:w-[14px] md:h-[14px] xl:w-[24px] xl:h-[24px] absolute top-[6%] md:top-[8%] right-[6%]"
                  >
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 12 12"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 11L11 1"
                        stroke="white"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M1 1H11V11"
                        stroke="white"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </i>
                  <div
                    class="w-full bottom-0 rounded-b-[20px] absolute bg-[#00000066] text-[#FFFFFF] xl:py-[40px] md:y-[30px] py-[10px] xl:px-[50px] md:px-[30px px-[20px]"
                  >
                    <h6
                      class="xl:text-[36px] md:text-[22px] text-[14px] font-[700] xl:leading-[54px] md:leading-[34px] leading-[21px]"
                    >
                      {{ item.title }}
                    </h6>
                    <span
                      class="xl:text-[16px] md:text-[14px] text-[12px] font-[500] xl:leading-[27px] md:leading-[24px] leading-[18px] md:pt-[18px] pt-[3px] block"
                      >{{ moment(item.createdDate).format("YYYY.MM.DD") }}</span
                    >
                  </div>
                </div>
              </div>
            </NuxtLink>
          </swiper-slide>
        </swiper>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css";
import moment from "moment";
import "swiper/css/pagination";
import "swiper/css/navigation";
import { Pagination, Navigation, Mousewheel } from "swiper/modules";
import "swiper/swiper-bundle.css";
import logo from "@/assets/image/logo/primary-logo.png";
import ButtonSns from "./ButtonSns.vue";

const mySwiper = ref(null);
const props = defineProps({
  data: Object,
});
const classItem = ref();
const styleProps = ref();
const element = ref();
const elementHeight = ref();
const elementWidth = ref();
const styleElement = ref();
const statusBtnSns = ref(null);

const handleShowBtnSns = () => {
  statusBtnSns.value = !statusBtnSns.value;
};

onMounted(() => {
  classItem.value = { backgroundColor: props.data.bgColorItem };
  styleProps.value = { backgroundColor: props.data.bgColor };
  setTimeout(() => {
    elementHeight.value = element.value[0].$el.offsetHeight;
    elementWidth.value = element.value[0].$el.offsetWidth;
    styleElement.value = {
      height: elementHeight.value + "px",
      width: elementWidth.value / 2 + "px",
    };
  }, 500);
});
</script>

<style scoped>
.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 70px;
}

:deep(.swiper-pagination-bullet) {
  height: 8px;
  width: 82px;
  border-radius: 6px;
  background: #113e6c;
}

@media (max-width: 1024px) {
  .swiper {
    padding-bottom: 55px;
  }
  :deep(.swiper-pagination-bullet) {
    height: 6px;
    width: 42px;
    border-radius: 6px;
    background: #113e6c;
  }
}

@media (max-width: 760px) {
  .swiper {
    padding-bottom: 30px;
  }
  :deep(.swiper-pagination-bullet) {
    height: 6px;
    width: 6px;
    border-radius: 6px;
    background: #113e6c;
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-leave-to {
  opacity: 0;
  position: absolute;
  z-index: 10;
}

.slide-fade-enter-from {
  opacity: 0;
  position: absolute;
  z-index: 10;
}
</style>
