<template>
  <ClientOnly>
    <QuillEditor
      contentType="html"
      theme="snow"
      toolbar="full"
    />
  </ClientOnly>
</template>
<script setup>
import { QuillEditor } from '@vueup/vue-quill';
import '@vueup/vue-quill/dist/vue-quill.snow.css';

</script>
