<script setup>
import { questionStore } from "@/store/question.store";

import Card from "@/assets/image/service/card.webp";
import Chart from "@/assets/image/service/chart.webp";
import Plant from "@/assets/image/service/plant.webp";

const store = questionStore();
const dataService = [
  {
    id: 99,
    uid: 1,
    title: "카드형 BPO",
    desc: "번거로운 구독 서비스 비용 관리,<br/>연회비로 간편하게",
    descMobile: "번거로운 구독</br> 서비스 비용 관리,</br>연회비로 간편하게",
    img: Card,
    link: "/",
  },
  {
    id: 992,
    uid: 2,
    title: "컨설팅형 BPO",
    desc: "핵심 업무에만 집중할 수 있게,<br/>사업화 전문가 아웃소싱",
    descMobile:
      "핵심 업무에만 집중</br>할 수 있게, 사업화</br> 전문가 아웃소싱",
    img: Chart,
    link: "/",
  },
  {
    id: 939,
    uid: 3,
    title: "매칭형 BPO",
    desc: "막막한 글로벌 시장 진출,<br/>글로벌 바이어 매칭으로 빠르게",
    descMobile:
      "막막한 글로벌 시장</br> 진출글로벌 바이어</br> 매칭으로 빠르게",
    img: Plant,
    link: "/",
  },
];
const handleSelectedQuestion = (uid) => {
  store.setValueSelectedQuestion(uid);
};
</script>
<template>
  <div class="grid md:grid-cols-3 gap-[0.75rem] md:gap-[1.563rem]">
    <div
      v-for="item in dataService"
      :key="item.id"
      @click="() => handleSelectedQuestion(item.uid)"
      class="bg-[#EBF5FF] gap-x-[1.188rem] md:gap-x-0 px-[24px] md:px-0 flex-row-reverse cursor-pointer hover:opacity-70 transition-opacity flex md:flex-col items-center justify-center md:justify-evenly h-[9.25rem] md:h-[30rem] rounded-[10px] md:rounded-[20px]"
    >
      <div class="flex w-full flex-col gap-[6.625rem]">
        <div class="flex items-center justify-center">
          <div class="w-full h-full">
            <img
              preload
              loading="lazy"
              :src="item.img"
              class="h-full w-full object-cover"
              alt="img-service"
            />
          </div>
        </div>
      </div>
      <div class="flex w-full flex-col items-center gap-[1rem] md:gap-[4rem]">
        <div class="text-start md:text-center">
          <h3
            class="text-[1.125rem] md:text-[1.75rem] mb-[1.25rem] font-bold text-[#333333]"
          >
            {{ item.title }}
          </h3>
          <div class="md:max-w-[31.063rem]">
            <div
              v-html="item.desc"
              class="text-[0.875rem] hidden md:block md:text-[1.25rem] font-medium text-[#4B4B4B]"
            ></div>
            <div
              v-html="item.descMobile"
              class="text-[0.875rem] md:text-[1.25rem] md:hidden font-medium text-[#4B4B4B]"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
