<script setup>
import { questionStore } from "@/store/question.store";

const router = useRouter();
const store = questionStore();

const handleTurnOffModal = () => {
  store.setStatusSubmitForm(!store.statusSubmitForm);
  router.push("/service-card");
};
</script>
<template>
  <section class="flex gap-[3.75rem] items-center justify-center flex-col">
    <div class="flex flex-col items-center justify-center md:gap-[2.875rem]">
      <div class="">
        <img
          class="scale-75 md:scale-100"
          src="@/assets/image/illustration/finish.png"
          alt="img-finish"
        />
      </div>
      <div
        class="text-[#101010] text-center font-[400] md:font-[500] text-[14px] md:text-[1.25rem]"
      >
        <span>
          전달주신 내용으로 엠에스커뮤니케이션에서<br class="md:hidden" />
          상담 진행과 견적을 전달드릴 예정이에요.<br />
        </span>
        <span class="mt-[2rem] inline-block md:mt-0">
          기재해주신 이메일과 연락처로최 대한<br class="md:hidden" />
          빠르게 연락드릴게요!
        </span>
      </div>
    </div>
    <button
      @click="handleTurnOffModal"
      class="font-[700] rounded-[18px] text-[14px] md:text-[1.5rem] text-white bg-[#59ACFF] py-[1rem] px-[2.594rem]"
    >
      서비스 더 알아보기
    </button>
  </section>
</template>
